= content_for :h1 do
  = t("user_password.edit.head")
= error_messages_for :user
= simple_form_for :user, :url => edit_current_password_path do |f|
  .form-inputs
    = f.input :current_password
    = f.input :password
    = f.input :password_confirmation
  .form-actions
    = f.button :submit, t("user_password.edit.head")
