= content_for :h1 do
  = t(".head")
%p= t(".instructions_html")
= simple_form_for :user, :url => reset_password_path do |f|
  .form-inputs
    = f.input :email
  .form-actions
    = f.button :submit, "Submit"
