= content_for :h1 do
  =h current_facility

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_order'

#bulk-import
  %h2= t '.h2'
  = t '.instructions_html'
  = form_tag facility_orders_import_path, :multipart => true do
    = file_field_tag 'import_csv'
    = label_tag 'no_save_on_error', "#{check_box_tag('no_save_on_error')} #{t '.no_save_on_error'}".html_safe
    = label_tag 'send_receipts', "#{check_box_tag('send_receipts')} #{t '.send_receipts'}".html_safe
    = submit_tag 'Import', :class => 'btn'

  %p= link_to t('.download_link'), '/templates/bulk_import_template.csv', :id => 'bulk-import-template'

