= render "shared/headers/ckeditor"

= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "services"
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "details"

%h2= @service

= simple_form_for([current_facility, @service]) do |f|
  = f.error_messages
  %ul.form
    = render "admin/products/details_fields", f: f
  %ul.inline
    %li= f.submit text("shared.save"), class: "btn"
    %li= link_to text("shared.cancel"), manage_facility_service_path(current_facility, @service)
