- content_for :h1 do
  =h current_facility
- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'services' }
- content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product_index'

%h2= params[:archived].nil? || params[:archived] != 'true' ? 'Active Services' : 'Inactive Services'

%p Services are provided by the facility on behalf of the user.  Forms for collection of additional information may be attached to the service.  Results files may be returned to the user.

- if current_user.manager_of?(current_facility)
  %ul.horiz
    %li= link_to 'Add Service', new_facility_service_path

- if @services.empty?
  %p.notice== No #{params[:archived].nil? || params[:archived] != 'true' ? 'active' : 'inactive'} services exist for this facility.
- else
  %table
    %tr
      %th== Service Name
    - @services.each do |service|
      %tr
        %td= link_to service.name, manage_facility_service_path(current_facility, service)
