- if @accounts.blank?
  %p.notice= t(".notice")

- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= t(".th.account")
        %th= t(".th.owner")
        %th.currency= t(".th.total")
    %tbody
      - @accounts.each do |account|
        %tr
          %td= payment_source_link_or_text(account)
          %td= account.owner_user.full_name if account.owner_user
          %td.currency
            = number_to_currency(account.unreconciled_total(current_facility))

  - if params[:search_term].present?
    = will_paginate(@accounts, class: "ajax_links",
      params: { search_term: params[:search_term] })
  - else
    = will_paginate(@accounts)

  %p.footnote= t(".foot")
