%ul.form
  - if controller.action_name == 'new' || controller.action_name == 'create'
    = hidden_field_tag "owner_user_id", @owner_user.id, :class => 'NufsAccount'
    %li
      = label_tag :owner_user_id, t('facility_accounts.account_fields.label.owner_user'), :class => 'require'
      = text_field_tag 'owner_user_full_name', @owner_user.full_name, :disabled => true, :class => 'show_always'
    %li
      = label_tag :class_type, t('facility_accounts.account_fields.label.payment_type'), :class => 'require'
      = select_tag 'class_type', options_for_select([[t('accounts.institution'), "NufsAccount"]], :selected => params[:class_type]), :class => 'NufsAccount'
    %li
      = f.label :account_number, t('facility_accounts.account_fields.label.payment_number'), :class => 'require'
      = f.text_field :account_number, :class => 'NufsAccount'

  %li
    = f.label :description, nil, :class => 'require'
    %p.instruction
      - if instructions_for == :all
        = t('facility_accounts.account_fields.label.all_instruct')
    = f.text_field :description, :class => 'NufsAccount'

  - if @account.class == Account || @account.is_a?(AffiliateAccount)
    - opts = {:include_blank => true}
    - opts.merge!(:selected => @account.affiliate.try(:name)) if @account
    %li
      = f.label :affiliate, nil, :class => 'require'
      = f.select :affiliate, Affiliate.all.collect(&:name).sort, opts, :id => 'affiliate'

    %li#affiliate_other
      = f.label :affiliate_other, t('facility_accounts.account_fields.label.affiliate'), :class => 'require'
      = f.text_field :affiliate_other