%ul.form
  - if controller.action_name == 'new' || controller.action_name == 'create'
    = hidden_field_tag "owner_user_id", @owner_user.id, :class => 'NufsAccount CreditCardAccount PurchaseOrderAccount'
    %li
      = label_tag :owner_user_id, 'Owner User', :class => 'require'
      = text_field_tag 'owner_user_full_name', @owner_user.full_name, :disabled => true, :class => 'show_always'
    %li
      = label_tag :class_type, 'Payment Source Type', :class => 'require'
      = select_tag 'class_type', options_for_select([["Chart String", "NufsAccount"], ["Credit Card", "CreditCardAccount"], ["Purchase Order", "PurchaseOrderAccount"]], :selected => params[:class_type]), :class => 'NufsAccount CreditCardAccount PurchaseOrderAccount'
    %li
      = f.label :account_number, 'Payment Source Number', :class => 'require'
      = f.text_field :account_number, :class => 'NufsAccount PurchaseOrderAccount'
    %li
      = f.label :name_on_card, 'Name on Card', :class => 'require'
      = f.text_field :name_on_card, :class => 'CreditCardAccount'
    %li
      = f.label :expiration_month, nil, :class => 'require'
      = f.select :expiration_month, (1..12).to_a, {}, :class => 'CreditCardAccount'
    %li
      = f.label :expiration_year, nil, :class => 'require'
      = f.select :expiration_year, (Time.zone.now.year..(Time.zone.now.year + 10)).to_a, {}, :class => 'CreditCardAccount'
    %li
      = f.label :expires_at, nil, :class => 'require'
      = f.text_field :expires_at, :value => (begin @account.expires_at.strftime("%m/%d/%Y") rescue nil end), :id => 'datepicker', :class => 'PurchaseOrderAccount'

  %li
    = f.label :description, nil, :class => 'require'
    - if instructions_for == :all || instructions_for == 'CreditCardAccount'
      %p.instruction.CreditCardAccount No part of a credit card number may be entered. Enter a text description to help you and the user identify this card. For example: "Dr. Smith's Visa Card".
    = f.text_field :description, :class => 'NufsAccount CreditCardAccount PurchaseOrderAccount'

  - unless @account.is_a?(NufsAccount)
    %li
      = f.label :remittance_information, 'Bill To'
      %p.instruction.CreditCardAccount.PurchaseOrderAccount Where the invoice should be sent to for this payment source; this text will appear on the customer's invoice.
      = f.text_area :remittance_information, :cols => 92, :rows => 6, :class => 'CreditCardAccount PurchaseOrderAccount'
