= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => "accounts_receivable" }

%h2= t(".head")
%ul
  - if params[:show_all]
    %li= link_to t(".show_with_balance", :model => Account.model_name.human.pluralize.downcase), facility_accounts_receivable_path
  - else
    %li= link_to t(".show_all", :model => Account.model_name.human.pluralize.downcase), facility_accounts_receivable_path(:show_all => '1')

%table
  %tr
    %th.auto= Account.model_name.human
    %th.small.currency 0-30
    %th.small.currency 31-60
    %th.small.currency 61-90
    %th.small.currency 91+
    %th.small.currency Total
  - @accounts.each do |a|
    - today = Time.zone.now
    - balance = {}
    - balance[91] = a.facility_balance(current_facility, today - 91*24*60*60)
    - balance[61] = a.facility_balance(current_facility, today - 61*24*60*60) - balance.values.inject{|sum, n| sum + n }
    - balance[31] = a.facility_balance(current_facility, today - 31*24*60*60) - balance.values.inject{|sum, n| sum + n }
    - balance[0]  = a.facility_balance(current_facility, today)               - balance.values.inject{|sum, n| sum + n }
    %tr{:class => (balance[91] > 0 ? "reconcile-warning" : "")}
      %td= link_to a, facility_transactions_path(current_facility, :accounts => [a.id])
      %td.currency= number_to_currency(balance[0])
      %td.currency= number_to_currency(balance[31])
      %td.currency= number_to_currency(balance[61])
      %td.currency= number_to_currency(balance[91])
      %td.currency= number_to_currency(@account_balances[a.id])
