- content_for :h1 do
  =h current_facility

- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'credit_cards' }

%h2 Manage Credit Cards

%p Please review the following accounts; process the credit card transactions, then enter the amount and reference number.
- unless @accounts.empty?
  - form_tag(update_credit_cards_facility_accounts_path, :method => :post) do
    %table
      %tr.borderless
        %td
        %td
        %td
        %td
        %td= submit_tag "Save Transactions"
      %tr
        %th Credit Card
        %th Balance
        %th
          Amount
          %span.require
        %th
          Reference
          %span.require
        %th Notes
      - @accounts.each do |a|
        - balance = number_to_currency a.facility_balance(current_facility), :unit => ''
        %tr
          %td
            %ul
              %li=h "#{a.description} (#{a.account_number})"
              %li=h "%02d" % a.expiration_month.to_i + "/#{a.expiration_year}"
              %li=h a.owner_user.full_name
          %td=h "$#{balance}"
          %td= text_field_tag "account[#{a.id}][transaction_amount]", begin number_to_currency params[:account][a.id.to_s][:transaction_amount] rescue balance end, :class => "#{(@error_fields && @error_fields[a.id] && @error_fields[a.id].include?('transaction_amount')) ? 'fieldWithErrors' : ''}" 
          %td= text_field_tag "account[#{a.id}][reference]", begin params[:account][a.id.to_s][:reference] rescue '' end, :class => "#{(@error_fields && @error_fields[a.id.to_s] && @error_fields[a.id.to_s].include?('reference')) ? 'fieldWithErrors' : ''}"
          %td= text_field_tag "account[#{a.id}][notes]", begin params[:account][a.id.to_s][:notes] rescue '' end
      %tr.borderless
        %td
        %td
        %td
        %td
        %td= submit_tag "Save Transactions"
