= content_for :head_content do
  = javascript_include_tag "accounts"

= content_for :h1 do
  = current_facility

= render "sidebar"

%h2= t(".head", account: @account)
= simple_form_for([current_facility, @account], url: facility_account_path(current_facility, @account)) do |f|
  = f.error_messages

  = render "facility_accounts/account_fields/#{@account.class.name.underscore}", f: f

  %ul.inline
    %li= f.submit t(".save"), class: "btn btn-primary"
    %li= link_to t(".cancel"), facility_account_path
