= content_for :h1 do
  = current_facility

= render "sidebar"

%h2= t(".head")

= form_tag search_results_facility_accounts_path, id: "ajax_form", class: "search_form", method: :get do
  = label_tag :search_term, t(".label.search_term")
  = hidden_field_tag :email, current_user.email, disabled: true
  = hidden_field_tag :format, params[:format], disabled: true
  %br
  = text_field_tag :search_term, nil, size: 30, class: "search-query"
  = submit_tag t(".search"), class: "btn"
  = link_to t(".clear_search"), facility_accounts_path

%hr

- if SettingsHelper.feature_on?(:edit_accounts) && current_ability.can?(:create, Account)
  %ul.inline
    %li= link_to t(".add_account"), new_account_user_search_facility_accounts_path, class: "btn-add"

#result
  = render "account_table"
