= render "sidebar"

= content_for :head_content do
  = javascript_include_tag "accounts.js"

= content_for :h1 do
  = current_facility

%h2= t(".head")
= simple_form_for(@account, url: facility_accounts_path(current_facility)) do |f|
  = f.error_messages
  = render "account_fields", f: f, instructions_for: :all
  %ul.inline
    %li= f.submit "Create", class: %w(btn btn-primary)
    %li= link_to "Cancel", new_account_user_search_facility_accounts_path
