= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'accounts' }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_payment_method', :locals => {:secondary_tab => 'details'}

= content_for :h1 do
  =h current_facility

%h2= @account

%ul.form
  %li
    %label= t('.label.owner')
    =h @account.owner_user
  = render :partial => 'accounts/account_fields'

  - if @account.affiliate
    %li
      %label= t('.label.affiliate')
      - affiliate_name=@account.affiliate.name
      - affiliate_name += " (#{@account.affiliate_other})" if @account.affiliate == Affiliate.OTHER
      = affiliate_name

  - unless @account.is_a?(NufsAccount)
    %li
      %label= t('.label.bill_to')
      = @account.remittance_information ? simple_format(h @account.remittance_information) : '<p>None Entered</p>'.html_safe
%ul.horiz
  - if SettingsHelper.feature_on? :edit_accounts
    %li
      = link_to t('.link.edit'), edit_facility_account_path(current_facility, @account), :class => 'btn'
  = render :partial => 'accounts/suspend_button'
