= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "details"

= content_for :h1 do
  = current_facility

= render "sidebar"

%h2= @account

= readonly_form_for :account, defaults: { hint: false } do |f|

  = f.input :owner_user
  = f.input :type_string
  = f.input :description
  - if SettingsHelper.feature_on?(:account_reference_field)
    = f.input :reference
  = f.input :expires_at, date_only: true

  - if @account.suspended?
    = f.input :suspended_at, date_only: true

  -# TODO: use render_view_hook instead
  - if lookup_context.exists? "facility_accounts/#{@account.class.name.underscore}/show", [], true
    = render "facility_accounts/#{@account.class.name.underscore}/show", f: f

  - if @account.affiliate
    = f.input :affiliate, input_html: { value: @account.affiliate_to_s }

  = f.input :display_status, input_html: { class: @account.suspended? ? "suspended-account" : "" }


  = render_view_hook("end_of_readonly_form", f: f, account: @account)
  = render_view_hook("after_end_of_form", f: f, account: @account)

%ul.inline
  - if SettingsHelper.feature_on?(:edit_accounts) && can?(:edit, @account)
    = link_to t(".link.edit"), edit_facility_account_path(current_facility, @account), class: "btn btn-primary"

  = render "accounts/suspend_button"
