- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'accounts' }

- content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_payment_method', :locals => {:secondary_tab => 'statements'}

- content_for :h1 do
  =h current_facility

%h2= @account

- if @statements.empty?
  %p.notice No statements exist.
- else
  %ul.grid_5
    - @statements.each do |statement|
      %li= link_to human_date(statement.invoice_date), facility_account_statement_path(current_facility, @account, statement, :format => :pdf)

  %p= will_paginate(@statements)
