= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'accounts' }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_payment_method', :locals => {:secondary_tab => 'transactions'}

= content_for :h1 do
  =h current_facility

%h2= @account

- if @order_details.empty?
  %p.notice No transactions exist for this period.
- else
  %table.table.table-striped.table-hover.old-table
    %thead
      %tr
        %th Order #
        %th Transaction Date
        %th Product
        %th Order Status
        %th.currency Amount
    %tbody
      - @order_details.each do |od|
        %tr{:class => needs_reconcile_warning?(od) ? 'reconcile-warning' : ''}
          %td= link_to od.description, facility_order_path(current_facility, od.order)
          %td= human_datetime(od.order.ordered_at)
          %td
            %ul
              - product_name = order_detail_description(od)
              %li= product_name
              - unless od.reservation.nil?
                - if od.reservation.can_edit?
                  %li.indented= link_to od.reservation, edit_facility_order_order_detail_reservation_path(current_facility, od.order, od, od.reservation)
                - else
                  %li.indented= link_to od.reservation, facility_order_order_detail_reservation_path(current_facility, od.order, od, od.reservation)
              - if od.survey_completed?
                %li.indented= link_to 'View Order Form', od.external_service_receiver.show_url, :target => '_blank'
              - if !od.stored_files.template_result.empty?
                - od.stored_files.template_result.each do |stored_file|
                  %li.indented= link_to 'View Order File', stored_file.file.url
              - unless od.note.blank?
                %li
                  %i=h "Note: #{od.note}"
          %td= od.order_status.name
          %td.currency
            - if od.cost_estimated?
              %span.estimated_cost
                = show_estimated_total(od)
            - elsif od.price_policy.nil?
              Unassigned
            - else
              %span.actual_cost
                = show_actual_total(od)
      %tr
        %td.centered{:colspan =>5}= will_paginate(@order_details)

  = render :partial => '/price_display_footnote', :locals => { :admin => true }
  = render :partial => 'shared/reconcile_footnote'
