= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "accounts"

= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "statements"

= content_for :h1 do
  = current_facility

%h2= @account

- if @statements.empty?
  %p.notice= t(".notice")
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th= t(".th.sent_at")
        %th= t(".th.sent_by")
        %th.currency= t(".th.orders")
    %tbody
      - StatementPresenter.wrap(@statements).each do |statement|
        %tr
          %td.centered= link_to t(".download"), statement.download_path
          %td= statement.sent_at
          %td= statement.sent_by
          %td.currency= statement.order_count
  = will_paginate(@statements)
