- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'accounts' }

- content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_payment_method', :locals => {:secondary_tab => 'transactions'}

- content_for :h1 do
  =h current_facility

%h2= @account

- if @order_details.empty?
  %p.notice No transactions exist for this period.
- else
  %table
    %tr
      %th Transaction Date
      %th Description
      %th.currency Amount
    - @order_details.each do |od|
      %tr
        %td= human_datetime(od.created_at)
        %td= link_to od.description, edit_facility_order_order_detail_path(current_facility, od.order, od)
        %td.currency
          - if od.cost_estimated?
            %span.estimated_cost
              = h number_to_currency od.estimated_total
          - elsif od.price_policy.nil?
            Unassigned
          - else
            %span.actual_cost
              = h number_to_currency od.actual_total
    %tr
      %td.centered{:colspan =>3}= will_paginate(@order_details)

  = render :partial => '/price_display_footnote', :locals => { :admin => true }