= render "sidebar"

= content_for :h1 do
  = current_facility

= content_for :tabnav do
  = render "admin/shared/tabnav_account", secondary_tab: "search_by_user"

- if SettingsHelper.feature_on?(:edit_accounts)
  = link_to t(".add_account"),
    new_facility_account_path(current_facility, owner_user_id: @user.id),
    class: "btn-add"

= render "accounts",
  accounts: @user.accounts,
  title: t(".title", name: @user.full_name),
  role: "Owner"
