= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min.js'
= javascript_include_tag 'date.js'
= javascript_include_tag 'calendar/fullcalendar.min.js'
= stylesheet_link_tag 'calendar/fullcalendar.css'
= stylesheet_link_tag 'calendar/fullcalendar.extensions.css'