.well
  %h4 Effective Days of Week
  %ul.inline
    - ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'].each do |day|
      %li= f.input "on_#{day.downcase}", label: day

.well
  = f.hint :end_time
  %ul.inline
    %li
      = f.label :start_time
      = time_select24(f, :start, minute_step: @product.reserve_interval)
  %ul.inline
    %li
      = f.label :end_time
      = time_select24(f, :end, hours: (0..24), minute_step: @product.reserve_interval)

- if @product.can_apply_discounts?
  %h3= t("views.schedule_rules.discount")

  %p= t("views.schedule_rules.discount_hint")

  - if @highlighted_price_group_discounts.present?
    .well
      %h4= t("views.schedule_rules.highlighted_heading")
      = f.association :price_group_discounts, collection: @highlighted_price_group_discounts do |pgd|
        = render partial: "price_group_discount", locals: { pgd: pgd }

  - if @non_highlighted_price_group_discounts.present?
    .well
      - if @highlighted_price_group_discounts.blank?
        %h4= t("views.schedule_rules.price_groups_heading")
      - else
        %h4= t("views.schedule_rules.non_highlighted_heading")
      = f.association :price_group_discounts, collection: @non_highlighted_price_group_discounts do |pgd|
        = render partial: "price_group_discount", locals: { pgd: pgd }

- if @product.has_product_access_groups?
  = f.association :product_access_groups, as: :check_boxes, collection: @product.product_access_groups, wrapper_html: { class: "inline-checkbox-list" }
