%li
  %ul.form.box
    %li
      %b.require Effective Days of Week
    - ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'].each do |day|
      %li.left
        = f.label "on_#{day.downcase}".to_sym, day
        = f.check_box "on_#{day.downcase}".to_sym, { :checked => schedule_rule.send("on_#{day.downcase}") ? 'checked' : '' }
    %li.clear
%li
  %ul.form.box
    %li
      %p.instructions== Start and end times are in 24-hour time format.
    %li.left
      = label_tag :start_time, nil, :class => 'require'
      = f.select :start_hour, (0..23).to_a
      ==:
      = f.select :start_min, (0..59).step(5).map{|d| [sprintf('%02d', d),d]}
    %li.left
      = f.label :duration_mins, 'Appointments Start Every', :class => 'require'
      = f.select :duration_mins, ScheduleRule.durations.map{|d| [(d == 1 ? "1 minute" : "#{d} minutes"), d]}, schedule_rule.duration_mins ? { } : { :selected => 5 }
    %li.clear
    %li
      = label_tag :end_time, nil, :class => 'require'
      = f.select :end_hour, (0..24).to_a
      ==:
      = f.select :end_min, (0..59).step(5).map{|d| [sprintf('%02d', d),d]}
%li
  = f.label :discount_percent
  %p.instruction During the period covered by this schedule rule, overall cost will be discounted by
  = f.text_field :discount_percent, :size => 4
  ='%'
