= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.class.name.pluralize.underscore
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "schedule_rules"

%h2= @product
%h3 Editing Schedule Rule

= simple_form_for([current_facility, @product, @schedule_rule]) do |f|
  = f.error_messages
  = render "schedule_rule_fields", f: f
  %ul.inline
    %li= f.submit "Update", :class => "btn btn-primary"
    %li= link_to "Cancel", [current_facility, @product, ScheduleRule]
