= content_for :head_content do
  = javascript_include_tag "fullcalendar.js", "schedule_rules.js"
  :javascript
    var events_path = "#{url_for(:format => 'js')}";

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.class.name.pluralize.underscore

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "schedule_rules"

%h2= @product

%p You may define one or more non-overlapping schedule rules.  Schedule rules define how and when an instrument is available for reservation.

- if can? :create, ScheduleRule
  %p= link_to "Add Schedule Rule", [:new, current_facility, @product, :schedule_rule], class: "btn-add"

- if @schedule_rules.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.actions
        %th Days of Week
        %th Start Time
        %th End Time
        - if @product.can_apply_discounts?
          - PriceGroup.globals.each do |price_group|
            %th.currency= "#{price_group.name} Discount (%)"
          - if @product.product_access_groups.to_a.any?
            %th Scheduling Groups
    %tbody
      - @schedule_rules.each do |schedule_rule|
        %tr{:class => cycle("odd", "even")}
          %td.centered
            - if can? :edit, schedule_rule
              = link_to "Edit",
                [:edit, current_facility, @product, schedule_rule]
              %br
              = link_to "Remove",
                [current_facility, @product, schedule_rule],
                data: { confirm: "Are you sure?" },
                method: :delete
          %td= schedule_rule.days_string
          %td= human_time(Time.zone.parse(schedule_rule.start_time))
          %td= human_time(Time.zone.parse(schedule_rule.end_time))
          - if @product.can_apply_discounts?
            - PriceGroup.globals.each do |price_group|
              - discount = schedule_rule.discount_for_price_group(price_group)
              %td.currency= number_to_percentage(discount, strip_insignificant_zeros: true)
            - if @product.product_access_groups.any?
              %td= schedule_rule.product_access_groups.join(", ")
- else
  %br
  %p.notice No Schedule Rules exist yet.

%h3 Weekly Calendar
%p This calendar shows instrument availability based on the scheduling rules.
#overlay
  #spinner
    #hide
      #calendar.fc-noheader
