= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_admin', :locals => { :sidenav_tab => 'statuses' }

%h2 Order Statuses

%ul.inline
  %li= link_to 'Add Order Status', new_facility_order_status_path, :class => 'btn-add'

%table.table.table-striped.table-hover.order-statuses-table
  %tbody
    - OrderStatus.roots.each_with_index do |root, i|
      %tr
        %td.action-column
        %td= root.name

      - children_for_facility(root, current_facility.id) do |child|
        %tr
          %td.action-column= link_to('Remove', facility_order_status_path(current_facility, child), :confirm => 'Are you sure?', :method => :delete) if child.editable?
          %td.child
            = child.name
            - if child.editable?
              %span.child (#{link_to('Edit', edit_facility_order_status_path(current_facility, child))})
