= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_admin', :locals => { :sidenav_tab => 'statuses' }

%h2 New Order Status

= simple_form_for([current_facility, @order_status]) do |f|
  = f.error_messages
  = f.association :parent, :collection => (OrderStatus.new_os + OrderStatus.inprocess + OrderStatus.cancelled), :include_blank => false

  = f.input :name

  %ul.inline
    %li= f.submit 'Create', :class => ['btn', 'btn-primary']
    %li= link_to 'Cancel', facility_order_statuses_path
