= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "orders"

= content_for :h1 do
  = current_facility

= render "facility_accounts/sidebar"

%h2= @account

- if @order_details.empty?
  %p.notice= t(".no_orders")

- else
  %h3= t(".h3")

  %table.table.table-striped.table-hover.old-table
    %thead
      %tr
        %th= t(".th.order_number")
        %th= t(".th.transaction_date")
        %th= t(".th.product")
        %th= t(".th.order_status")
        %th.currency= t(".th.amount")

    %tbody
      - @order_details.each do |order_detail|
        - od = OrderDetailPresenter.new(order_detail)
        %tr{class: od.row_class}
          %td
            - if current_ability.can?(:show, order_detail)
              = link_to od.description, od.show_order_path
            - else
              = od.description

          %td= od.ordered_at

          = render "shared/order_detail_cell",
            od: od,
            show_reservation: od.reservation.present?

          %td= od.order_status
          %td.currency
            - if od.cost_estimated?
              %span.estimated_cost= od.estimated_total
            - elsif od.price_policy.blank?
              = t(".unassigned")
            - else
              %span.actual_cost= od.actual_total
      %tr
        %td.centered{colspan: 5}= will_paginate(@order_details)

  = render "/price_display_footnote", admin: true
  = render "shared/reconcile_footnote"
