= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'statement_history' }

%h2= t(".head")

- if @statements.empty?
  %p.notice= t(".no_statements")
- else
  %table
    %tr
      %th= Statement.human_attribute_name(:invoice_number)
      %th= Statement.human_attribute_name(:created_at) #Sent At
      %th= Statement.human_attribute_name(:sent_to)
      %th= Account.model_name.human
      %th.currency # of #{Order.model_name.human.pluralize}
      %th.currency= Statement.human_attribute_name(:total_cost)
      %th= Statement.human_attribute_name(:status)
    - @statements.each do |s|
      %tr
        %td.centered
          = "##{s.invoice_number}"
          %br
          = link_to 'Download', facility_account_statement_path(current_facility, s.account_id, s, :format => :pdf)
        %td= human_datetime(s.created_at)
        %td= s.account.notify_users.map(&:full_name).join(', ')
        %td= link_to s.account, facility_account_path(current_facility, s.account)
        %td.currency=h s.order_details.count
        %td.currency= number_to_currency(s.total_cost)
        %td= s.reconciled? ? 'Reconciled' : 'Unreconciled'
  = will_paginate(@statements)
