= content_for :h1 do
  = current_facility
- content_for :h2 do
  = text("head")
= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "statement_history"

= simple_form_for @search_form, url: url_for, method: :get, html: { class: "search_form" }, defaults: { required: false } do |f|
  .row
    %fieldset.span6#search
      - if @search_form.facility_filter?
        = f.input :facilities, collection: @search_form.available_facilities, as: :transaction_chosen, input_html: { class: "js--chosen" }
      = f.input :accounts, collection: @search_form.available_accounts, as: :transaction_chosen, input_html: { class: "js--chosen" }, label_method: :account_list_item
      = f.input :sent_to, collection: @search_form.available_sent_to, as: :transaction_chosen, input_html: { class: "js--chosen" }, label: Statement.human_attribute_name(:sent_to)
    %fieldset.span2
      = f.input :status, collection: @search_form.available_statuses
      = f.input :date_range_start, input_html: { class: "datepicker__data" }
      = f.input :date_range_end, input_html: { class: "datepicker__data" }

    .submit_button.span12
      = hidden_field_tag :email, current_user.email, disabled: true
      = hidden_field_tag :format, params[:format], disabled: true
      = f.submit t("shared.filter"), class: "btn float-left"

- if @statements.any?
  = link_to t('reports.account_transactions.export'), url_for(format: :csv), class: 'js--exportSearchResults pull-right', data: { form: '.search_form' }
= render partial: "shared/statements_table"
