= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'statement_history' }

%h2= t(".head")

- if @statements.empty?
  %p.notice= t(".no_statements")
- else
  %table
    %tr
      %th
      %th= Statement.human_attribute_name(:created_at) #Sent At
      %th= Statement.human_attribute_name(:created_by) # Sent By
      %th= Account.model_name.human
      %th.currency # of #{Order.model_name.human.pluralize}
    - @statements.each do |s|
      %tr
        %td.cenetered= link_to 'Download', facility_account_statement_path(current_facility, s.account_id, s, :format => :pdf)
        %td=h human_datetime(s.created_at)
        %td=h begin User.find(s.created_by).full_name rescue 'Unknown' end
        %td= link_to s.account, facility_account_path(current_facility, s.account)
        %td.currency=h s.order_details.count
  = will_paginate(@statements)
