= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "statement_history"

%h2= text("head")

= render partial: "shared/statements_table"
