= render :partial => "shared/transactions/headers"
= content_for :h1 do
  = current_facility

=content_for :h2 do
  %h2= t_create_models(Statement)

= content_for :top_block do      
  = render :partial => 'shared/transactions/top', :locals => { :tab => 'statements' }
- if @order_details.empty?
  %p.notice= t("facility_statements.new.no_orders")
- else
  = content_for :action_instructions do
    %p= t("facility_statements.new.instructions")
      
  = render :partial => 'shared/transactions/table'
  = render :partial => 'shared/reconcile_footnote'