= render "shared/transactions/headers"
= content_for :h1 do
  = current_facility

=content_for :h2 do
  %h2= t_create_models(Statement)

= content_for :top_block do
  = render "shared/transactions/top", tab: "statements"
- if @order_details.any?
  = content_for :action_instructions do
    - if SettingsHelper.feature_on?(:send_statement_emails)
      %p.notice.notice-info= text("instructions")
    - else
      %p.notice.notice-info= text("instructions_without_email")

  = render "shared/transactions/table"
  = render "shared/reconcile_footnote"
