- content_for :h1 do
  =h current_facility

- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'statement_history' }

%p=h "Statement sent on #{human_datetime(@statement.created_at)} by #{begin User.find(@statement.created_by).full_name rescue 'Unknown' end}.  Notifications were emailed to the following accounts."

%table
  %tr
    %th
    %th Account
    %th Owner
    %tr
      %td.centered
        - if @statement.created_at < Time.zone.now
          = link_to 'View Invoice', facility_account_statement_path(current_facility, @statement.account, @statement)
      %td
        %ul
          %li= link_to @statement.account, facility_account_statement_path(current_facility, @statement.account, 'recent')
      %td=h @statement.account.owner_user.full_name
