= render :partial => "headers"
%h3 New #{InstrumentRestrictionLevel.model_name.human}
= form_for([current_facility, @instrument, @instrument_restriction_level]) do |f|
  = f.error_messages
  = render :partial => "fields", :locals => {:f => f}
