= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'services' }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'pricing_rules'}

%h2=h @service
%h3 Add Pricing Policies
= render :partial => 'instructional_text'

= form_tag facility_service_price_policies_path do
  - @price_policies.each do |pp|
    - @price_policy = pp
    = error_messages_for :price_policy
  %ul.form
    = render :partial => 'service_price_policy_fields'
  %ul.horiz
    %li= submit_tag 'Add Price Rules', :class => 'btn'
    %li= link_to 'Cancel', facility_service_price_policies_path
