= simple_form_for(@journal_closing_reminder) do |f|

  = f.input :starts_at, as: :date_dropdown
  = f.input :ends_at, as: :date_dropdown
  = f.input :message, input_html: { rows: 7, class: "input-block-level" }

  = f.button :submit, t(".submit"), class: ["btn", "btn-primary"]
  = link_to t(".cancel"), journal_closing_reminders_path

  :javascript
    $(function () { $(".datepicker").datepicker(); });
