= content_for :h1 do
  = t("pages.global_settings")

= content_for :sidebar do
  = render "admin/shared/sidenav_global", sidenav_tab: "journal_closing_reminders"

%h2= t(".header")

= link_to t(".delete"), journal_closing_reminder_path(@journal_closing_reminder), data: { confirm: t(".delete_confirm") }, class: "btn btn-danger pull-right", method: :delete

= render "form"

