= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "product_display_groups"

= simple_form_for [current_facility, @product_display_group] do |f|
  = f.input :name
  .container
    .row.moveBetweenSelects.js--moveBetweenSelects
      -# Include both so the page still works without JS. The JS will clear anything in the excluded list from this.
      .span3
        = f.input :product_ids, collection: @product_display_group.products + @ungrouped_products, input_html: { multiple: true, class: "full-width tall js--included" }
        = link_to "#", class: "btn js--moveUp pull-right" do
          = content_tag :i, "", class: "fa fa-arrow-up"
        = link_to "#", class: "btn js--moveDown pull-right" do
          = content_tag :i, "", class: "fa fa-arrow-down"
      .span2.centered
        = link_to "#", class: "btn js--include" do
          = content_tag :i, "", class: "fa fa-arrow-left"
          = text("include")
        = link_to "#", class: "btn js--exclude" do
          = content_tag :i, "", class: "fa fa-arrow-right"
          = text("exclude")
      .span3
        = simple_fields_for :ungrouped do |u|
          -# In the case of validation errors, ensure this collection does not include those added in the previous POST/PATCH
          = u.input :product_ids, collection: @ungrouped_products - @product_display_group.products, input_html: { multiple: true, class: "full-width tall js--excluded" }, required: false, label: ProductDisplayGroup.human_attribute_name(:ungrouped_product_ids)
  = f.submit class: "btn btn-primary"
