= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "product_display_groups"

= simple_form_for [current_facility, @product_display_group] do |f|
  = f.input :name
  = f.input :product_ids, collection: @product_display_group.products.alphabetized + @ungrouped_products.alphabetized, input_html: { multiple: true, class: "half-width js--chosen"}
  = f.submit class: "btn btn-primary"
