= form_tag url_for(params), :method => :get, :class => "search_form" do
  %fieldset
    - if (@accounts.size > 1)
      = label_tag :accounts, "Payment Sources"
      = select_tag :accounts, options_from_collection_for_select(@accounts, "id", "description", @search_fields[:accounts]), :multiple => true
    - unless single_facility?
      = label_tag :facilities, "Facilities"
      = select_tag :facilities, options_from_collection_for_select(@facilities, "id", "name", @search_fields[:facilities]), :multiple => true
  %fieldset
    = label_tag :start_date, "Start Date"
    = text_field_tag :start_date, (@search_fields[:start_date] || "").gsub("-","/"), :class => 'datepicker'
    = label_tag :end_date, "End Date"
    = text_field_tag :end_date, (@search_fields[:end_date] || "").gsub("-","/"), :class => 'datepicker'
  
  = submit_tag "Search"
