%div{:style=>"clear:both"}
= will_paginate(@order_details) if @order_details.respond_to? :total_pages
%table.dense
  %tr
    %th
    - unless single_account?
      %th Payment Source
    %th Order #
    %th Fulfillment Date
    - unless single_facility?
      %th Facility
    %th Ordered/Reserved By
    %th Description
    %th Cost
    %th Status
    
  - @order_details.each do |order_detail|
    %tr
      - if @order_detail_action
        %td= check_box_tag "order_detail_ids[]", order_detail.id, false
      - unless single_account?
        %td= order_detail.account
      %td.nowrap= link_to order_detail, order_order_detail_path(order_detail.order, order_detail) 
      %td= order_detail.fulfilled_at.strftime("%m/%d/%Y") if order_detail.fulfilled_at
      - unless single_facility?
        %td= order_detail.order.facility
      %td= order_detail.order.user.full_name
      %td
        = order_detail.product
        %br
        %em= order_detail.reservation
      %td 
        - if order_detail.cost_estimated?
          %span.estimated_cost
            = show_estimated_total(order_detail)
        - elsif order_detail.price_policy.nil?
          Unassigned
        - else
          %span.actual_cost
            = show_actual_total(order_detail)
      %td= order_detail.order_status
= will_paginate(@order_details) if @order_details.respond_to? :total_pages
  