= render :partial => "headers"
- content_for :h1 do
  Transaction History
= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'transactions'}
%h2= @account.account_number
%p= @account.description
- if single_facility?
  %h2= @facilities[0].name
= render :partial => 'search'
= render :partial => 'table'  

