= render :partial => "headers"
- content_for :h1 do
  = @facility
%h2
  - if @order_detail_action
    = @order_detail_action.to_s.titleize
  - else
    Transaction History
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing_transactions', :locals => { :sidenav_tab => 'transactions' }
 
= render :partial => 'search'
= render :partial => 'table'  

