= render :partial => "headers"
= content_for :h1 do
  = @facility

%h2= t('.h2')
- if @order_details.empty?
  = render :partial => "search"
  %p.notice= t('.notice')
- else
  %p= t('.intro')
  = render :partial => "search"
  = render :partial => 'table'
  = render :partial => 'shared/reconcile_footnote'
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'journals' }

