= render :partial => "headers"
= content_for :h1 do
  = @facility

%h2 Create Journal
- if @order_details.empty?
  = render :partial => "search"
  %p.notice There are no orders to be journaled at this time.
- else
  %p
    Select the orders that you wish to journal. Only one journal may be pending at a time. Please note that selected orders may not span multiple fiscal years.
  = render :partial => "search"
  = render :partial => 'table'
  = render :partial => 'shared/reconcile_footnote'
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'journals' }

