= render :partial => "headers"
= content_for :h1 do
  = @facility

%h2 Send Notifications

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing_transactions', :locals => { :sidenav_tab => 'notifications' }

- if @order_details.empty?
  %p.notice No notifications are currently pending
- else
  = render :partial => "search"
  = render :partial => 'table'
  
    

