- if @merge_orders.present?
  .well
    %p.alert.alert-info= t("facility_orders.edit.attention")
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
          %th= OrderDetail.human_attribute_name(:product)
          %th.centered= OrderDetail.human_attribute_name(:quantity)
          %th.currency= OrderDetail.human_attribute_name(:estimated_cost)
          - if @order.has_subsidies?
            %th.currency= OrderDetail.human_attribute_name(:estimated_subsidy)
          %th.currency= OrderDetail.human_attribute_name(:estimated_total)

      %tbody
        - @merge_orders.each do |order|
          - order.order_details.each do |order_detail|
            %tr
              %td.centered= link_to "Remove", facility_order_order_detail_path(current_facility, order, order_detail), method: :delete
              %td
                = render partial: "orders/#{order_detail.product.class.name.underscore}_desc", locals: { order_detail: order_detail }
              %td.centered
                = QuantityPresenter.new(order_detail.product, order_detail.quantity)
              - if order_detail.cost_estimated?
                %td.currency= show_estimated_cost(order_detail)
                - if @order.has_subsidies?
                  %td.currency= show_estimated_subsidy(order_detail)
                %td.currency= show_estimated_total(order_detail)
              - else
                %td.currency Unassigned
                - if @order.has_subsidies?
                  %td.currency Unassigned
                %td.currency Unassigned
