%tbody.js--orderTableRefresh
  - OrderDetailPresenter.wrap(order_details).each do |od|
    %tr{class: [od.parent_order_detail_id ? "child" : "parent", "status-#{od.order_status.root.name.underscore}", flash[:updated_order_details].try(:include?, od.id) ? "updated-order-detail" : ""] }
      %th.order-id{scope: "row"}
        - if cross_core
          = od
        - else
          = link_to od,
            manage_order_detail_path(od),
            class: "manage-order-detail"
      %td.badges
        = status_badge(od)
      %td.product
        = od.product
        - if od.time_data.present?
          %br
          = od.time_data
        - if od.add_accessories? || od.reservation.present?
          %br
          = render "order_table_actions", od: od, cross_core: cross_core

        %br
        = render "order_file_icon", od: od
        = render "result_file_icon", od: od

      - if cross_core
        %td.user
          = od.created_by_user
        %td.order_date
          = od.ordered_at&.strftime("%m/%d/%Y")

      %td.currency.timeinput= od.reservation.try(:duration_mins)
      - if od.time_data.present?
        %td.currency{class: od.time_data.actual_duration_mins ? "timeinput" : ""}= od.time_data.actual_duration_mins || "???"
      - elsif od.quantity_as_time?
        %td.currency.timeinput= od.quantity
      - else
        %td.currency= od.quantity
      %td.currency= od.wrapped_cost
      %td.currency= od.wrapped_subsidy
      %td.currency= od.wrapped_total
      %td.badges= order_detail_badges(od)
