- content_for :head_content do
  = stylesheet_link_tag 'chosen'
  = javascript_include_tag 'chosen.jquery.min'
  = javascript_tag "$(function() { $('#product_add').chosen(); });"

- content_for(:h1) { t '.head.h1', :order_number => @order.id }
= render :partial => 'shared/order_details_table'

- if @merge_orders.blank?
  = form_for :order, :url => send_receipt_facility_order_path(current_facility, @order) do
    = hidden_field_tag :id, @order.id
    = submit_tag 'Send Receipt', :class => 'btn', :id => :send_receipt_btn
  = form_for :order, :url => facility_order_path(current_facility, @order), :html => { :method => :put } do
    = text_field_tag :product_add_quantity, 1
    = select_tag :product_add, options_for_select(current_facility.products.active_plus_hidden.collect{|p| [ p.name, p.id ]})
    %br
    = submit_tag 'Add To Order', :class => 'btn', :id => :product_add_btn

- else
  %div#merge-orders
    %p= t 'facility_orders.edit.attention'
    %table
      %tr
        %th
        %th= t('orders.show.th.product')
        %th.centered= t('orders.show.th.quantity')
        %th.currency= t('orders.show.th.cost')
        - if @order.has_subsidies?
          %th.currency= t('orders.show.th.adjust')
        %th.currency= t('orders.show.th.extend')

      - @merge_orders.each do |order|
        - order.order_details.each do |detail|
          %tr
            %td.centered= link_to 'Remove', facility_order_order_detail_path(current_facility, order, detail), :method => :delete
            %td
              = render :partial => "orders/#{detail.product.class.name.downcase}_desc", :locals => { :local_order => order, :order_detail => detail }
            %td.centered
              = detail.quantity
            - if detail.cost_estimated?
              %td.currency= show_estimated_cost(detail)
              - if @order.has_subsidies?
                %td.currency= show_estimated_subsidy(detail)
              %td.currency= show_estimated_total(detail)
            - else
              %td.currency Unassigned
              - if @order.has_subsidies?
                %td.currency Unassigned
              %td.currency Unassigned
