= render "shared/transactions/headers"

= content_for :h1 do
  = current_facility

= content_for :tabnav do
  = render partial: "admin/shared/tabnav_order", locals: { secondary_tab: "new"}

.span12
  = render "shared/transactions/search"

.span12
  - if @order_details.any?
    = link_to t("reports.account_transactions.export"), url_for(format: :csv), class: "js--exportSearchResults pull-right", data: { form: ".search_form" }
    = form_tag(batch_update_facility_orders_path, method: :post) do
      %table.table.table-striped.table-hover.old-table
        = render partial: "table_controls"
        %thead
          %tr
            %th
            %th.nowrap= sortable "order_number", Order.model_name.human
            %th.nowrap= OrderDetail.model_name.human
            %th.nowrap= sortable "ordered_for", Order.human_attribute_name(:user)
            %th.nowrap= sortable "ordered_at", Order.human_attribute_name(:ordered_at)
            %th.nowrap= OrderDetail.human_attribute_name(:quantity)
            %th.nowrap.order-note= sortable "product_name", OrderDetail.human_attribute_name(:product)
            %th.nowrap= sortable "assigned_to", OrderDetail.human_attribute_name(:assigned_user)
            %th.nowrap= sortable "status"
            %th.nowrap.currency= OrderDetail.human_attribute_name(:actual_cost)
        %tbody
          - @order_details.each do |od|
            %tr
              %td.centered= check_box_tag("order_detail_ids[]", od.id, false, {class: "toggle", id: nil })
              %td.centered= link_to od.order_id, facility_order_path(current_facility, od.order)
              %td.centered= link_to od.id, manage_order_detail_path(od), class: "manage-order-detail"
              %td= od.order.user.full_name
              %td= format_usa_datetime(od.ordered_at)
              %td.centered= OrderDetailPresenter.new(od).wrapped_quantity
              = render partial: "shared/order_detail_cell", locals: { od: od }
              %td= od.assigned_user
              %td= od.order_status
              %td.currency
                =  OrderDetailPresenter.new(od).wrapped_total
        = render partial: "table_controls"

    = will_paginate(@order_details)
    = render partial: "/price_display_footnote", locals: { admin: true }
  - else
    %p.notice= t(".no_new_or_inprocess_orders")
