= content_for :h1 do
  =h current_facility

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_order', :locals => { :secondary_tab => 'new'}

- if @order_details.empty?
  %p.notice There are no "New" or "In Process" orders.
- else
  = form_tag(batch_update_facility_orders_path, :method => :post) do
    - facility_users = User.find_users_by_facility(current_facility)
    %table.table.table-striped.table-hover.old-table
      = render partial: 'table_controls'
      %thead
        -## THE HEADER ROW
        %tr
          %th
          %th.order_num_width.centered= sortable 'order_number', 'Order'
          %th.order_num_width.centered= 'Order Detail'
          %th.ordered_on_width= sortable 'date', 'Ordered On'
          %th User Name
          %th{ :colspan => 2 }== Quantity / #{sortable 'product'}
          %th= sortable 'assigned_to'
          %th= sortable 'status'
          %th.currency Price

      -## THE DETAIL ROWS
      %tbody
        - @order_details.each do |od|
          - order = od.order
          %tr
            %td.centered= check_box_tag("order_detail_ids[]", od.id, false, {:class => 'toggle', :id => nil })
            %td.centered= link_to od.order_id, facility_order_path(current_facility, order)
            %td.centered= link_to od.id, manage_order_detail_path(od), :class => 'manage-order-detail'
            %td=h human_datetime(order.ordered_at)
            %td= order.user.full_name
            %td.centered= od.quantity
            = render :partial => 'shared/order_detail_cell', :locals => { :od => od }
            %td= od.assigned_user.nil? ? '' : od.assigned_user.full_name
            %td= od.order_status.name
            %td.currency
              - od.send(:extend, PriceDisplayment)
              = od.wrapped_total
        -## THE FOOTER CONTROL ROW
      = render partial: 'table_controls'

  = will_paginate(@order_details)
  = render :partial => '/price_display_footnote', :locals => { :admin => true }
