- content_for :h1 do
  = current_facility

%h2= "#{Order.model_name.human} ##{@order.id}"

.container.banner-list
  .row
    = banner_date_label @order, :ordered_at
    = banner_label @order, :user
    = banner_label @order, :created_by_user
    - if SettingsHelper.feature_on?(:cross_core_projects)
      - if @cross_core_project.present?
        %dl.span2
          %dt= t("views.facility_orders.show.cross_core_project_id")
          %dd
            = link_to @cross_core_project.name, facility_project_path(current_facility, @cross_core_project.id)
        %dl.span2
          %dt= t("views.facility_orders.show.cross_core_project_total")
          %dd= number_to_currency @gross_order_value
    - if @merge_orders.blank? && current_ability.can?(:send_receipt, @order)
      .pull-right= render "send_receipt"

= render "merge_order"

%table.order-list.table.table-striped.table-hover#order-management
  = render "order_table_headers", cross_core: false
  = render "order_table", order_details: @order_details, cross_core: false, facility_id: current_facility.id
  = render "order_table_footer", order: @order, cross_core: false

- subheader_key = (@cross_core_project.present? ? "views.facility_orders.show.add_to_cross_core_order_header" : "views.facility_orders.show.add_to_order_header")

%h2= t(subheader_key)
- if SettingsHelper.feature_on?(:cross_core_projects) && @cross_core_data_by_facility_id.present?
  #js--reportAnIssueModal.modal.hide.fade

  #accordion
    - @cross_core_data_by_facility_id.each do |facility_id, data|
      %h3= data[:facility_name]
      %table.order-list.table.table-striped.table-hover
        = render "order_table_headers", cross_core: true
        = render "order_table", order_details: data[:order_details], cross_core: true, facility_id: facility_id
        = render "order_table_footer", order: @cross_core_data_by_facility_id[facility_id][:order], cross_core: true

- if current_ability.can?(:update, Order)
  = render "merge_order_form"

#order-detail-modal.modal.hide.fade{ data: { backdrop: "static" } }
