- content_for :h1 do
  = current_facility

%h2= "#{Order.model_name.human} ##{@order.id}"

.container.banner-list
  .row
    = banner_date_label @order, :ordered_at
    = banner_label @order, :user
    = banner_label @order, :created_by_user
    - if @merge_orders.blank? && current_ability.can?(:send_receipt, @order)
      .pull-right= render "send_receipt"

= render "merge_order"

%table.order-list.table.table-striped.table-hover#order-management
  %thead
    %tr
      %th{colspan: 4}
      %th{colspan: 2}= OrderDetail.human_attribute_name(:quantity)
      %th{colspan: 3} Pricing
    %tr
      %th.order-id= OrderDetail.human_attribute_name(:id)
      %th.badges Status
      %th= Product.model_name.human
      %th
      %th.time Reserved
      %th.time Actual
      %th.currency Cost
      %th.currency Subsidy
      %th.currency Total
      %th.badges

  = render "order_table", order_details: @order_details

  %tfoot
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td.currency
        %strong
          = number_to_currency @order.cost
      %td.currency
        %strong
          = number_to_currency @order.subsidy
      %td.currency
        %strong
          = number_to_currency @order.total
      %td

- if current_ability.can?(:update, Order)
  = render "merge_order_form"

#order-detail-modal.modal.hide.fade{ data: { backdrop: "static" } }
