%div{ style: "width: #{reservation_width(@display_datetime, reservation)}; left: #{reservation_left_position(@display_datetime, reservation)}; z-index: #{reservation_counter};", class: reservation_classes(reservation, product) }[reservation, :block]

- unless reservation.blackout?
  %div[reservation, :tooltip]
    %strong= reservation_user_display(reservation)

    %br
    %span= reservation_date_range_display(@display_datetime, reservation)

    - order_detail = reservation.order_detail
    - if order_detail.present?
      %span{ class: order_detail.order_status.to_s.downcase }
        = "- #{order_detail.order_status}"

      - if order_detail.note.present?
        %br
        %span= order_detail.note

    - if reservation.admin_note.present?
      %br
      %span= reservation.admin_note

    - if reservation.user_note.present?
      %br
      %span= reservation.user_note

    - if reservation.created_by.present?
      %br
      %span= reservation.created_by.full_name

    - if reservation.expires_mins_before.present?
      %br
      %span= t(".expiration", time: MinutesToTimeFormatter.new(reservation.expires_mins_before))

    %br
    = reservation_links(reservation)
