= content_for :h1 do
  = current_facility

= content_for :tabnav do
  = render "admin/shared/tabnav_reservation"

- if @order_details.present?
  = render "facility_orders/disputed_table"
- else
  %p.notice= t(".no_disputed_reservations")
