= content_for :head_content do
  %script{:type => 'text/javascript', :src => "#{request.protocol}ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"}
  = javascript_include_tag 'calendar/fullcalendar.min.js'
  = stylesheet_link_tag 'calendar/fullcalendar.css'
  = stylesheet_link_tag 'calendar/fullcalendar.extensions.css'
  - if @order_detail.complete?
    :javascript
      var events_path     = "#{facility_instrument_reservations_url(current_facility, @instrument, :format => 'js')}";
      var minDaysFromNow  = #{(@reservation.reserve_start_at.to_date - Time.zone.now.to_date).to_i - 1};
      var maxDaysFromNow  = #{(@reservation.reserve_end_at.to_date - Time.zone.now.to_date).to_i + 1};
      var minTime         = #{@instrument.first_available_hour};
      var maxTime         = #{@instrument.last_available_hour+1};
  - else
    :javascript
      var events_path     = "#{facility_instrument_reservations_url(current_facility, @instrument, :format => 'js')}";
      var maxDaysFromNow  = #{@instrument.max_reservation_window};
      var minTime         = #{@instrument.first_available_hour};
      var maxTime         = #{@instrument.last_available_hour+1};
  = javascript_include_tag 'reservations.js'

= content_for :h1 do
  =h current_facility

%h2=h @instrument.name

= form_for(@reservation, :url => facility_order_order_detail_reservation_path, :html => {:method => :put}) do |f|
  = f.error_messages
  %ul.form
    = render :partial => 'reservation_fields', :locals => {:f => f}
  %ul.horiz
    %li= f.submit 'Save', :class => 'btn'
    - if @order_detail.complete?
      %li= link_to 'Cancel', show_problems_facility_orders_path
    - elsif @order_detail.new? || @order_detail.inprocess?
      %li= link_to 'Cancel', facility_orders_path

#overlay
  #spinner
    #hide
      #calendar
