= content_for :h1 do
  =h current_facility

= content_for :tabnav do
  = render partial: "admin/shared/tabnav_reservation",
    locals: { secondary_tab: "problem" }

- if @order_details.empty?
  %p.notice= t(".no_problem_reservations")
- else
  %p.notice= t(".instructions")
  = render partial: "shared/problem_order_details",
    locals: { assign_price_policies_path: assign_price_policies_to_problem_orders_facility_reservations_path }
