- content_for :head_content do
  = javascript_include_tag "power_relay"

= simple_form_for([current_facility, @product]) do |f|
  = f.input :control_mechanism,
    collection: options_for_control_mechanism,
    include_blank: false,
    selected: @product.control_mechanism || :manual

  .well#power-relay
    %h3= text("instruments.instrument_fields.relay.label.relay")
    %p= text("instruments.instrument_fields.relay.intro")
    = f.simple_fields_for :relay, @product.relay || @product.build_relay do |r|
      = r.input :type, collection: options_for_relay, include_blank: false
      = r.input :ip
      = r.input :ip_port,
      hint: text("instruments.instrument_fields.relay.instruct.ip_port")
      = r.input :outlet,
      hint: text("instruments.instrument_fields.relay.instruct.outlet")
      = r.input :username
      = r.input :password, as: :string
      = r.input :auto_logout do
        = r.check_box :auto_logout
        = text("instruments.instrument_fields.relay.label.auto_logout_1")
        = r.input :auto_logout_minutes,
            label: false,
            error: false,
            wrapper_html: { class: "input-inline" },
            input_html: { style: "width: 38px" }
        = text("instruments.instrument_fields.relay.label.auto_logout_2")

  %ul.inline
    %li= f.submit text("shared.save"), class: ["btn", "btn-primary"]
    %li= link_to text("shared.cancel"), [:manage, current_facility, @product]
    