= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'in_review' }

%h2= t('.head')

- if @order_details.empty?
  %p.notice= t('.notice')
- else
  %p= t('.instruct')

  = form_tag facility_notifications_in_review_path(current_facility), :method => :post do
    %table
      %tr.borderless
        %td{:colspan => 4}
        %td.currency{:colspan => 2}= submit_tag t('.submit')
      %tr
        %th
        %th= t('.th.order')
        %th= t('.th.review')
        %th= t('.th.account')
        %th= t('.th.owner')
        %th.currency= t('.th.total')
      - @order_details.each do |od|
        - account = od.account
        %tr{:class => needs_reconcile_warning?(od) ? 'reconcile-warning' : ''}
          %td.centered= check_box_tag "order_detail_ids[]", od.id, false
          %td
            %ul
              %li== #{link_to "##{od}", edit_facility_order_order_detail_path(current_facility, od.order_id, od)}: #{od.product}
              - unless od.note.blank?
                %li
                  %i= od.note
          %td=h human_datetime od.reviewed_at
          %td= link_to account, facility_account_statement_path(current_facility, account, 'recent')
          %td=h od.account.owner_user.full_name
          %td.currency=h number_to_currency od.total
      %tr.borderless
        %td{:colspan => 4}
        %td.currency{:colspan => 2}= submit_tag t('.submit')

  = render :partial => 'shared/reconcile_footnote'
