= render :partial => "shared/transactions/headers"
= content_for :h1 do
  = current_facility

= content_for :h2 do
  %h2= t(".head")
= content_for :top_block do
  = render "shared/transactions/top", tab: "in_review"

- if @order_details.any?
  = content_for :action_instructions do
    %p.alert.alert-info= t(".instructions")

  = render "shared/transactions/table", order_details: @order_details
  = render "shared/reconcile_footnote"
- else
  %p.alert.alert-info= text("facility_notifications.in_review.no_orders")
