= render :partial => "shared/transactions/headers"
= content_for :h1 do
  = @facility

= content_for :h2 do
  %h2= t(".head")
= content_for :top_block do      
  = render :partial => 'shared/transactions/top', :locals => { :tab => "in_review" }

- if @order_details.empty?
  %p.notice No orders are currently in review
- else
  = content_for :action_instructions do
    %p= t("facility_notifications.in_review.instructions")
      
  = render :partial => 'shared/transactions/table'
  = render :partial => 'shared/reconcile_footnote'    
