= render :partial => "transaction_history/headers"
= content_for :h1 do
  = @facility

%h2 Send Notifications

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'notifications' }

= render :partial => "transaction_history/search"
- if @order_details.empty?
  %p.notice No notifications are currently pending
- else
  = render :partial => 'transaction_history/table'
  = render :partial => 'shared/reconcile_footnote'
  
    

