= render :partial => "shared/transactions/headers"
= content_for :h1 do
  = @facility
= content_for :h2 do
  %h2 Send Notifications

= content_for :top_block do      
  = render :partial => 'shared/transactions/top', :locals => { :tab => "notifications" }

- if @order_details.empty?
  %p.notice No notifications are currently pending
- else
  = render :partial => 'shared/transactions/table'
  = render :partial => 'shared/reconcile_footnote'

    

