= render :partial => "shared/transactions/headers"
= content_for :h1 do
  = current_facility
= content_for :h2 do
  %h2= t(".head")

= content_for :top_block do
  = render :partial => 'shared/transactions/top', :locals => { :tab => "notifications" }

- if @order_details.any?
  = render :partial => 'shared/transactions/table'
  = render :partial => 'shared/reconcile_footnote'



