- search_type = @search_type.presence || "manage_user"
- can_switch_any = users.any? { |user| current_ability.can?(:switch_to, user) }
- show_order_for_links = search_type == "manage_user" && can_switch_any

%table.table.table-striped.table-hover
  %thead
    %tr
      - if show_order_for_links
        %th
      %th= t(".name")
      %th= t(".username")
      %th= t(".email")
      = render_view_hook "extra_headers"
  %tbody
    - users.each do |user|
      %tr
        - if show_order_for_links
          %td.centered
            - if current_ability.can?(:switch_to, user)
              = link_to t(".order_for"),
                facility_user_switch_to_path(current_facility, user)
        %td
          = render "search/#{search_type}_link", user: UserPresenter.new(user)
        %td= user.username
        %td= user.email
        = render_view_hook "extra_columns", user: user
