- if params[:search_term].blank?
  %p.alert.alert-info= t(".blank_term")
- else
  - if @users.empty?
    = render "create_new_user"
    %p.alert.alert-info= t(".no_users_found")
  - else
    %h3= t(".select_existing_user")
    - if @search_type == "manage_user"
      = render "results_table", order_for: true, users: @users
    - else
      = render "results_table", users: @users

    - if @count > @limit
      %p.notice= t(".more_users_alert", count: @count - @limit)
    = render "create_new_user"
