= content_for :breadcrumb do
  %ul.breadcrumb
    %li= order_reservation_breadcrumb
    %li &raquo;
    %li= link_to t("order_details.show.head.h1", order_number: @order_detail), [@order, @order_detail]

= content_for :h1 do
  = t("order_details.show.head.h1", order_number: @order_detail)

= simple_form_for([@order, @order_detail]) do |f|
  %p.alert.alert-warning= text(".warning")

  = f.input :account_id, collection: AvailableAccountsFinder.new(acting_user, @order_detail.facility, current: @order_detail.account), include_blank: false, label: Account.model_name.human

  %ul.inline
    %li= f.submit t("shared.save"), class: ["btn", "btn-primary"]
    %li= link_to t("shared.cancel"), [@order, @order_detail]
