= content_for :breadcrumb do
  %ul.horiz
    %li= link_to 'Home', facilities_path
    %li &raquo;
    %li= link_to @order.facility, facility_path(@order.facility)
    %li &raquo;
    %li= link_to 'Cart', order_path(@order)
    %li &raquo;
    %li Upload Order Form

= content_for :h1 do
  Upload Order Form
  
%h2=h @order_detail.product

= form_for(@file, :url => order_order_detail_upload_order_file_path, :html => { :multipart => true, :method => :post }) do |f|
  = f.error_messages
  %table
    %tr
      %td.one 1
      %td
        %p
          %b Download and complete the template
        %p.document= link_to "#{@order_detail.product.name} &mdash; Order Form Template", @order_detail.product.file_uploads.template.first.file.url
    %tr
      %td.two 2
      %td
        %p
          %b Upload the completed order form
        %p= f.file_field :file
  %ul.horiz
    %li= f.submit('Upload', :disable_with => "Uploading...", :class => 'btn')
    %li= link_to('Cancel', order_path(@order))
