- if reservations.any?
  %table.table.table-striped.table-hover.old-table.js--responsive_table
    %thead
      %tr
        %th= text("name")
        %th= text("reservation")
        %th= OrderDetail.human_attribute_name(:product)
        %th.centered= text("actions")
    %tbody
      - reservations.each do |res|
        %tr
          %td
            - # Admin and Offline Reservations have a created_by user and no order user
            = res.user&.full_name || res.created_by&.full_name || text("no_user")
          %td
            = res
          %td
            = res.product.name
            = warning_if_instrument_is_offline_or_partially_available(res.product)
          %td.centered
            = kiosk_reservation_actions(res)
            &nbsp;
- else
  %p.notice= text("none")
