= html(".intro_html", first_name: @user.first_name, last_name: @user.last_name, login_url: new_user_session_url)

- if @password
  %p
    = text(".username_and_password_text")
    %br
    = "#{User.human_attribute_name(:username)}: #{@user.username}"
    %br
    = "#{User.human_attribute_name(:password)}: #{@password}"
- else
  %p
    = text(".only_username_text")
    %br
    = "#{User.human_attribute_name(:username)}: #{@user.username}"

= html(".outro_html")
