= text(".intro_text", first_name: @user.first_name, last_name: @user.last_name, login_url: new_user_session_url)
= '' # new line

- if @password
  - if text(".username_and_password_text").present?
    = text(".username_and_password_text")
  = "#{User.human_attribute_name(:username)}: #{@user.username}"
  = "#{User.human_attribute_name(:password)}: #{@password}"
- else
  - if text(".only_username_text").present?
    = text(".only_username_text")
    = "#{User.human_attribute_name(:username)}: #{@user.username}"
  - else
    = text(".no_password")

= '' # new line
= text(".outro_text")
