= t(".intro", :first_name => @user.first_name, :last_name => @user.last_name, :login_url => new_user_session_url)

= "#{User.human_attribute_name(:username)}: #{@user.username}"
- if @password
  = "#{User.human_attribute_name(:password)}: #{@password}"
- else
  = t(".no_password")
