%h2= @order_detail.facility

%p #{@order_detail.user} has placed a reservation for #{@order_detail.product}. It is currently pending approval.

%p
  %a= link_to "Please approve Order ##{@order_detail}.", facility_order_url(@order_detail.facility, @order_detail.order)
