%h1= @order_detail.facility

%p= text("header")
%table.table.table-striped.table-hover
  %tbody
    %tr
      %td= Order.model_name.human
      %td= "##{@order_detail}"
    %tr
      %td= @order_detail.product.class.model_name.human
      %td= @order_detail.product
    - if @order_detail.reservation
      %tr
        %td= Reservation.model_name.human
        %td= @order_detail.reservation


%p= "You can modify your reservations at #{link_to t_my(Reservation), reservations_url}".html_safe
