%p= t('.intro')

%ul
  %li
    %label Ordered at
    =h @order.ordered_at.strftime("%b %e, %Y %l:%M %p")
  %li
    %label Facility
    =h @order.facility
  %li
    %label Ordered By
    =h "#{@order.created_by_user.full_name}"

%table
  %tr
    %th Order #
    %th Product
    %th Quantity
    %th Status
    %th Estimated Price
    %th Estimated Adjustment
    %th Estimated Total
  - @order.order_details.each do |od|
    %tr
      %td= od
      - if od.reservation
        %td
          = ((od.bundle ? "#{h od.bundle} &mdash; " : '') + h(od.product)).html_safe
          %br
          =h od.reservation
      - else
        %td= ((od.bundle ? "#{h od.bundle} &mdash; " : '') + h(od.product)).html_safe
      %td=h od.quantity
      %td=h od.order_status.name
      - if od.cost_estimated?
        %td=h number_to_currency od.estimated_cost
        %td=h number_to_currency od.estimated_subsidy
        %td=h number_to_currency od.estimated_total
      - else
        %td Unassigned
        %td Unassigned
        %td Unassigned

%p= t('.outro')
