- @order.order_details.each { |od| od.send(:extend, PriceDisplayment) }

%p= t(".intro")

%ul
  %li
    %label= t(".label.ordered_at")
    = l(@order.ordered_at, format: :receipt)
  %li
    %label= t(".label.facility")
    = @order.facility
  %li
    %label= t(".label.ordered_by")
    = @order.created_by_user.full_name

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= t(".th.order_number")
      %th= t(".th.product")
      %th= t(".th.quantity")
      %th= t(".th.status")
      - text = order_estimated_or_actual_text(@order)
      %th= t(".th.price", text: text)
      %th= t(".th.adjustment", text: text)
      %th= t(".th.total", text: text)
      %th= t(".th.notes")
  %tbody
    - @order.order_details.each do |od|
      - od.send(:extend, PriceDisplayment)
      %tr
        %td= od
        - if od.reservation
          %td
            = ((od.bundle ? "#{od.bundle} &mdash; " : "") + h(od.product)).html_safe
            %br
            = od.reservation
        - else
          %td= ((od.bundle ? "#{od.bundle} &mdash; " : "") + h(od.product)).html_safe
        %td= od.quantity
        %td= od.order_status.name
        %td= od.display_cost
        %td= od.display_subsidy
        %td= od.display_total
        %td
          - if od.note.present?
            = od.note
    %tr
      %td{colspan: 6}
        %strong= t(".total")
      %td.currency= number_to_currency(@order.order_details.sum { |d| d.total || 0 })
      %td

%p= t(".outro") if @order.any_details_estimated?
