<p>
  The status of your NUcore order <%= @order_detail.order_number %>
  has changed to <b><%= @order_detail.order_status.name %></b>.
</p>
<p>
  You can access your NUcore orders at any time by going to <%= link_to(orders_url, orders_url) %>.
</p>
<p>
If you have any questions, please do not hesitate to contact us at <%= mail_to(@order_detail.facility.email) %>.
</p>
<p>
Sincerely,<br />
<%= @order_detail.facility.name %>
</p>
