#{t(".intro")}
==

#{t(".label.ordered_at")}: #{l(@order.ordered_at, format: :receipt)}
#{OrderDetail.human_attribute_name(:facility)}: #{@order.facility}
#{OrderDetail.human_attribute_name(:ordered_by)}: #{@order.created_by_user.full_name}
==
= OrderDetail.model_name.titleize.pluralize
= "========================================"
- @order.order_details.each do |od|
  #{OrderDetail.human_attribute_name(:id)}: #{od}
  = (od.bundle ? "#{h od.bundle} -- " : '') + h(od.product)
  - if od.reservation
    #{Reservation.model_name.titleize}: #{od.reservation}
  #{OrderDetail.human_attribute_name(:quantity)}: #{od.quantity}
  #{OrderDetail.human_attribute_name(:status)}: #{od.order_status.name}
  - od.send(:extend, PriceDisplayment)
  - label_key_prefix = display_cost_prefix_for_order_detail(od)
  #{OrderDetail.human_attribute_name("#{label_key_prefix}_cost")}: #{od.display_cost}
  #{OrderDetail.human_attribute_name("#{label_key_prefix}_subsidy")}: #{od.display_subsidy}
  #{OrderDetail.human_attribute_name("#{label_key_prefix}_total")}: #{od.display_total}
  - if od.note.present?

    = od.note
  ==
==

- if @order.any_details_estimated?
  * #{t(".outro")}
