- @order.order_details.each { |od| od.send(:extend, PriceDisplayment) }

%p= t(".intro")

%ul
  %li
    %label= t(".label.ordered_at")
    = l(@order.ordered_at, format: :receipt)
  %li
    %label= OrderDetail.human_attribute_name(:facility)
    = @order.facility
  %li
    %label= OrderDetail.human_attribute_name(:ordered_by)
    = @order.created_by_user.full_name

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= OrderDetail.human_attribute_name(:id)
      %th= OrderDetail.human_attribute_name(:product)
      %th= OrderDetail.human_attribute_name(:quantity)
      %th= OrderDetail.human_attribute_name(:status)
      - label_key_prefix = display_cost_prefix_for_order(@order)
      %th= OrderDetail.human_attribute_name("#{label_key_prefix}_cost")
      %th= OrderDetail.human_attribute_name("#{label_key_prefix}_subsidy")
      %th= OrderDetail.human_attribute_name("#{label_key_prefix}_total")
      %th= OrderDetail.human_attribute_name(:note).pluralize
  %tbody
    - @order.order_details.each do |od|
      - od.send(:extend, PriceDisplayment)
      %tr
        %td= od
        - if od.reservation
          %td
            = ((od.bundle ? "#{od.bundle} &mdash; " : "") + h(od.product)).html_safe
            %br
            = od.reservation
        - else
          %td= ((od.bundle ? "#{od.bundle} &mdash; " : "") + h(od.product)).html_safe
        %td= od.quantity
        %td= od.order_status.name
        %td= od.display_cost
        %td= od.display_subsidy
        %td= od.display_total
        %td
          - if od.note.present?
            = od.note
    %tr
      %td{colspan: 6}
        %strong= t(".total")
      %td.currency= number_to_currency(@order.order_details.sum { |d| d.total || 0 })
      %td

- if @order.any_details_estimated?
  %p= t(".outro")
