== Thank you for your order on the NUCore website.
==
== Order #: #{@order.id}
== Ordered at: #{@order.ordered_at.strftime("%b %e, %Y %l:%M %p")}
== Facility: #{@order.facility}
== Ordered By: #{@order.created_by_user.full_name}
==
== Order Details
== ========================================
- @order.order_details.each do |od|
  = od.product.name
  - if od.reservation
    == Reservation: #{od.reservation}
  == Quantity: #{od.quantity}
  - if od.cost_estimated?
    == Estimated Price: #{number_to_currency od.estimated_cost * od.quantity}
    == Estimated Subsidy #{number_to_currency od.estimated_subsidy * od.quantity}
    == Estimated Total #{number_to_currency od.estimated_total * od.quantity}
  - else
    == Pricing is currently unassigned.
==
==
== * All prices are estimates. Actual cost is assigned when the order is complete.
