#{t(".intro")}
==

#{t(".label.ordered_at")}: #{l(@order.ordered_at, format: :receipt)}
#{t(".label.facility")}: #{@order.facility}
#{t(".label.ordered_by")}: #{@order.created_by_user.full_name}
==
= t(".order_details")
= "========================================"
- @order.order_details.each do |od|
  #{t(".th.order_number")}: #{od}
  = (od.bundle ? "#{h od.bundle} -- " : '') + h(od.product)
  - if od.reservation
    #{t(".reservation")}: #{od.reservation}
  #{t(".th.quantity")}: #{od.quantity}
  #{t(".th.status")}: #{od.order_status.name}
  - od.send(:extend, PriceDisplayment)
  - text = od.display_cost_class == "unassigned" ? "" : "#{od.display_cost_class.humanize} "
  #{t(".th.price", text: text)}: #{od.display_cost}
  #{t(".th.adjustment", text: text)}: #{od.display_subsidy}
  #{t(".th.total", text: text)}: #{od.display_total}
  - if od.note.present?

    = od.note
  ==
==

- if @order.any_details_estimated?
  * #{t(".outro")}
