= html "body_intro", accounts: @accounts, facility: @facility, login_url: transactions_in_review_url

- @accounts.each do |account|
  = "#{account.account_list_item}, #{account.owner.user.full_name}"
  %br

= html "body_html_outro", accounts: @accounts, facility: @facility, login_url: transactions_in_review_url
