= content_for :h1 do
  = text("pages.global_settings")

= content_for :sidebar do
  = render "admin/shared/sidenav_global", sidenav_tab: "admin_reports"

%h2= text("admin_reports.index.title")

%p= link_to text("admin_reports.relays.title"), relay_data_admin_reports_path(format: :csv)
