= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.product_type

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "duration_pricing"

%h2= @product

= t("views.instrument_duration_rates.edit.explanation")

= form_for @product, url: facility_instrument_duration_rate_path(current_facility, @product), method: :put do |f|
  = error_messages_for @product

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= t("views.instrument_duration_rates.edit.min_duration")
        %th= t("views.instrument_duration_rates.edit.rate")
    %tbody
      - @product_duration_rates.each_with_index do |product_duration_rate, index|
        = fields_for :duration_rates_attributes, product_duration_rate, index: index do |pdr|
          %tr
            %td= pdr.number_field :min_duration, min: 0
            %td= pdr.text_field :rate, value: number_to_currency(product_duration_rate.rate, unit: "", delimiter: ""), size: 8

  = submit_tag t("views.instrument_duration_rates.edit.submit"), class: :btn
