= render :partial => 'shared/transactions/headers'
= content_for :h1 do
  =h current_facility

= form_tag facility_bulk_email_index_path, :method => :post, :class => "search_form", :id => "bulk_email" do
  %fieldset#search_type
    Search
    = select_tag 'search_type', options_for_select(@search_types.invert, :selected => params[:search_type])
  %fieldset#search
    = chosen_field(:products, Product.model_name.human, "id", nil, :product_options)
  %fieldset#reservation_filter
    %p Reservations for
    %ul
      %li
        = label_tag :reservation_start_date, "Start Date"
        = text_field_tag :reservation_start_date, (@search_fields[:reservation_start_date] || "").gsub("-","/"), :class => 'datepicker'
      %li
        = label_tag :reservation_end_date, "End Date"
        = text_field_tag :reservation_end_date, (@search_fields[:reservation_end_date] || "").gsub("-","/"), :class => 'datepicker'
  %fieldset#ordered_filter
    %p Ordered between
    %ul
      %li
        = label_tag :order_start_date, "Start Date"
        = text_field_tag :order_start_date, (@search_fields[:order_start_date] || "").gsub("-","/"), :class => 'datepicker'
      %li
        = label_tag :order_end_date, "End Date"
        = text_field_tag :order_end_date, (@search_fields[:order_end_date] || "").gsub("-","/"), :class => 'datepicker'
  .submit_button
    = submit_tag "Search"