-# TODO: this is very similar to reports/report_table

.updated_values{style: "display: none"}
  .date_start= format_usa_date(@date_start)
  .date_end= format_usa_date(@date_end)

.export_raw{data: { visible: export_raw_visible?.to_s } }

%table.table.table-striped.table-hover
  %thead
    %tr
      - @headers.each_with_index do |header, index|
        - if @numeric_columns.include?(index)
          %th.currency= header
        - else
          %th= header

  = render "report_rows"

= will_paginate @rows
