= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'members'}
= content_for :h1 do
  = t('.head')

%header.account
  %h3= @account.account_number
  %p= @account.description
= render :partial => 'accounts/member_table'
