= content_for :h1 do
  = text("pages.global_settings")

= content_for :sidebar do
  = render "admin/shared/sidenav_global", sidenav_tab: "certificates"

%h2= text("admin.shared.edit", model: ResearchSafetyCertificate.model_name.human)

= render "form", research_safety_certificate: @certificate
