%table
  %tr
    %th.actions{:rowspan => 2}
    %th{:rowspan => 2} Price Group (Type)
    %th.centered{:colspan => 3} Rate per #{instrument_price_policies.first.usage_mins} minute#{instrument_price_policies.first.usage_mins == 1 ? '' : 's'}
    %th.currency{:rowspan => 2} Minimum Cost
    %th.currency{:rowspan => 2} Cancellation Cost
  %tr
    %th.currency Actual
    %th.currency Scheduled
    %th.currency Overage
  - instrument_price_policies.delete_if {|ipp| !ipp.price_group.can_purchase? @instrument }
  - instrument_price_policies.each do |price_policy|
    %tr
      - if instrument_price_policies.first == price_policy
        %td.centered{ :rowspan => instrument_price_policies.length }
          %ul.form
            - unless instrument_price_policies.all?{|pp| pp.editable?} and can? :edit, PricePolicy
              %li.disabled Edit
              %li.disabled Remove
            - else
              %li= link_to('Edit', edit_facility_instrument_price_policy_path(current_facility, @instrument, url_date))
              %li= link_to('Remove', facility_instrument_price_policy_path(current_facility, @instrument, url_date), :confirm => 'Are you sure?', :method => :delete)
      %td=h "#{price_policy.price_group.name} (#{price_policy.price_group.type_string})"
      %td.currency= human_rate_calculation(price_policy.usage_rate, price_policy.usage_subsidy)
      %td.currency= human_rate_calculation(price_policy.reservation_rate, price_policy.reservation_subsidy)
      %td.currency= human_rate_calculation(price_policy.overage_rate, price_policy.overage_subsidy)
      %td.currency=h number_to_currency price_policy.minimum_cost
      %td.currency=h number_to_currency price_policy.cancellation_cost
