= content_for :head_content do
  = javascript_include_tag 'price_policy'

= render :partial => 'price_policies/dates', :locals => { :f => f }

- policy = @price_policies.first
= f.input :charge_for, :collection => charge_for_options(policy.product), :selected => policy.charge_for


%table.table.table-striped.table-hover.price-policy-table
  %thead
    %tr
      %th Price Group
      %th Type
      %th Can Purchase?
      %th Rate Per Hour
      %th Minimum Cost
      %th Reservation Cost
  %tbody
    - @price_policies.each do |pp|
      - pg = pp.price_group
      %tr
        %td= pg.name
        %td= pg.type_string
        %td= check_box_tag "price_policy_#{pg.id}[can_purchase]", '1', pp.can_purchase?, :class => 'can_purchase'
        - if !pg.is_internal?
          = render :partial => 'price_policies/instrument/external_row', :locals => { :pg => pg, :pp => pp }
        - elsif pg.is_master_internal?
          = render :partial => 'price_policies/instrument/master_internal_row', :locals => { :pg => pg, :pp => pp }
        - else
          = render :partial => 'price_policies/instrument/internal_row', :locals => { :pg => pg, :pp => pp }
