- rate = price_policy.hourly_usage_rate
- subsidy = price_policy.hourly_usage_subsidy
- cost = price_policy.subsidized_hourly_usage_cost

- if price_policy.has_rate?
  .rate= number_to_currency rate

  - if price_policy.has_subsidy?
    .subsidy= "- #{number_to_currency subsidy}"
    %strong= "= #{number_to_currency cost}"

  %p.per-minute-show
    = number_to_currency cost / 60, precision: 4
    \/ minute
