= simple_form_for [current_facility, user] do |f|
  .form-inputs
    = f.input :first_name, readonly: local_assigns[:edit] && !user.admin_editable?
    = f.input :last_name, readonly: local_assigns[:edit] && !user.admin_editable?
    = f.input :email, readonly: local_assigns[:edit] && !user.admin_editable?
    = f.input :username, readonly: true
    - if local_assigns[:edit] && current_user.administrator?
      = f.input :internal?, label: 'Internal Pricing', as: :select, default: false
    = f.button :submit, button_text, class: ["btn", "btn-primary"]
    &nbsp;
    = link_to text("shared.cancel"), facility_users_path
