= content_for :head_content do
  = render "form_head"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "users"

= content_for :tabnav do
  = render partial: "admin/shared/tabnav_users", locals: { secondary_tab: "details" }

%h2= text("head", user: @user.full_name)
%p= text("subhead")

= simple_form_for [current_facility, @user_form] do |f|
  .form-inputs
    = f.input :first_name, readonly: !@user_form.admin_editable?
    = f.input :last_name, readonly: !@user_form.admin_editable?
    = f.input :email, readonly: !@user_form.admin_editable?
    = f.input :username, readonly: !@user_form.username_editable?
    = render_view_hook("custom_fields", f: f)
    - if current_user.administrator? && SettingsHelper.feature_on?(:user_based_price_groups)
      = f.input :internal?, label: text(".internal"), as: :select, default: false
    = f.button :submit, text("shared.update"), class: ["btn", "btn-primary"]
    &nbsp;
    = link_to text("shared.cancel"), facility_users_path
