= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "users"

= render "new_user" if @new_user

= render "search_form"
= render "list"
