= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "users"

= render "new_user" if @new_user

= render "search_form"

#result
  %h3= text(".head")
  %p= text(".instruct")

  - if @users.any?
    = render "search/results_table",
      users: @users

    = will_paginate(@users)

  - else
    %p.notice= text(".no_users")
