- content_for :h1 do
  =h current_facility

- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_users', :locals => { :sidenav_tab => 'users' }
  
- content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_users', :locals => { :secondary_tab => 'instruments' }

%h1 #{@user.full_name} Available Instruments
- if @approved_instruments.blank?
  %p.notice #{@user.full_name} does not have any available instruments.
- else
  %table
    %tr
      %th Instrument
      %th Requires Approval?
      %th Approval Received?
    - @approved_instruments.each do |i|
      %tr
        %td= link_to i, facility_instrument_users_path(i.facility,i)
        %td= i.requires_approval ? "Yes" : "No"
        %td= !i.product_users.find_by_user_id(@user.id).nil? ? "Yes" : "No"
