- content_for :head_content do
  :javascript
    $(document).ready(function() {
      $('input#user_email').keyup(function(e) {
        $('input#user_username').val(this.value);
      });

      $('input#user_email').change(function(e) {
        $('input#user_username').val(this.value);
      });
    });

- content_for :h1 do
  =h current_facility

- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_users', :locals => { :sidenav_tab => 'users' }

%h2 Add External User
%p You may use this grant NUCore access to external users.  The email address and username must match.
- form_for(@user, :url => facility_users_path, :method => :post) do |f|
  = f.error_messages
  %ul.form
    %li.left
      = f.label :first_name, nil, :class => 'require'
      = f.text_field :first_name
    %li.left
      = f.label :last_name, nil, :class => 'require'
      = f.text_field :last_name
    %li.clear
    %li
      = f.label :email, nil, :class => 'require'
      = f.text_field :email
    %li
      = f.label :username, 'Username', :class => 'require'
      = f.text_field :username, :readonly => true
  %ul.horiz
    %li= f.submit 'Create', :class => 'btn'
    %li= link_to 'Cancel', facility_users_path
