= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_users', :locals => { :sidenav_tab => 'users' }

  = content_for :head_content do
    :javascript
      function changeUsernameLookupText(from, to)
      {
        $('#username_lookup p,#username_lookup label').each(function() {
          $(this).text($(this).text().replace(new RegExp(from, 'ig'), to));
        });

        $('#username_lookup input[type=submit]').each(function() {
          $(this).val($(this).val().replace(new RegExp(from, 'ig'), to));
        });
      }

      $(document).ready(function() {

        function has_netid_change() {
          if ($('#has_netid').val() == 'yes')
            changeUsernameLookupText('#{t(".js.email")}', '#{t(".js.id")}');
          else
            changeUsernameLookupText('#{t(".js.id")}', '#{t(".js.email")}');
        }

        $('#has_netid').change(function(e) {
          has_netid_change();
          $('#search_results').html('');
        });


        $('#username_search_form').submit(function(e) {
          e.preventDefault(); //Prevent the normal submission action
          var form       = $(this);
          var submit     = $("input[type='submit']",form);
          var submit_val = submit.val();
          var error_div  = $('div#error_result');
          submit.val("Please Wait...");
          submit.attr("disabled", true);
          error_div.html('');
          jQuery.ajax({
            type: "post",
            data: form.serialize(),
            url:  form.attr('action'),
            timeout: 25000,
            success: function(r) {
              $('#search_results').html(r);
              submit.val(submit_val);
              submit.attr("disabled", false);
            },
            error: function() {
              error_div.html('<p class="error">#{t('.js.error')}</p>');
              submit.val(submit_val);
              submit.attr("disabled", false);
            }
          });
        });
      });

%h2= t('.head')
= simple_form_for :search, :url => search_facility_users_path, :html => { :id => 'username_search_form', :class => 'form-inline' }, :defaults => { :required => false } do |f|
  #error_result

  %p= t('.intro')

  = f.input :has_netid, :collection => [['Yes','yes'],['No','no']], :selected => params[:hidden_has_netid] || 'yes', :label => t('.label.have_id'), :input_html => { :id => 'has_netid', :name => 'has_netid' }

  #username_lookup
    = f.input :username_lookup, :label => t('.label.id'), :hint => t('.instruct'), :input_html => { :name => 'username_lookup' }
    = submit_tag t('.submit'), :class => 'btn'


#search_results
