= content_for :head_content do
  = render "form_head" if !@user_form.username_editable?

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "users"

%h2= text("users.new_external.head")
%p= text("users.new_external.main")

= simple_form_for [current_facility, @user_form] do |f|
  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :username, readonly: !@user_form.username_editable?
    = render_view_hook("custom_fields", f: f)
    = f.button :submit, text("shared.create"), class: ["btn", "btn-primary"]
    &nbsp;
    = link_to text("shared.cancel"), facility_users_path
