= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "users"
  
= content_for :tabnav do
  = render "admin/shared/tabnav_users", secondary_tab: "orders"
 
%h1 #{@user.full_name} #{Order.model_name.human(count: @order_details.count)}

- if @order_details.empty?
  %p.notice= text("users.orders.none", name: @user.full_name)

- else
  = render "shared/order_details_table", order_details: @order_details
