= content_for :h1 do
  = t("pages.change_password")
= error_messages_for :user
%p Changing password for #{@user}
= form_for :user, :url => change_password_path do |f|
  .password
    - if params[:reset_password_token] and @user
      =hidden_field_tag :reset_password_token, params[:reset_password_token]
    - else
      =f.label :current_password
      =f.password_field :current_password
    =f.label :password
    =f.password_field :password
    =f.label :password_confirmation
    =f.password_field :password_confirmation
  =f.submit t("pages.change_password") 