- if @user.nil? && params[:has_netid] == 'yes'
  %p.notice= t('.notice1')
- elsif @user.nil?
  %p.notice= t('.notice2')
  %p= t('.main_html', :link => new_external_facility_users_path(current_facility))
- elsif @user.persisted?
  %p.notice= t('.user_already_exists', username: @user.username)
- else
  %p.notice= t('.notice3')
  %table
    %tr
      %th
      %th Username
      %th Last Name
      %th First Name
      %th Email
    %tr
      %td= link_to 'Add User', facility_users_path(current_facility, :username => @user.username), :method => :post
      %td= @user.username
      %td= @user.last_name
      %td= @user.first_name
      %td= @user.email
