= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render partial: "admin/shared/sidenav_users", locals: { sidenav_tab: "users" }

= content_for :tabnav do
  = render partial: "admin/shared/tabnav_users", locals: { secondary_tab: "details" }

%h1= @user

= readonly_form_for :user do |f|
  = f.input :full_name
  = f.input :username
  = f.input :email
  = render_view_hook("custom_fields", f: f)
  = f.input :last_sign_in_at, default_value: "none"
  = f.input :internal?, label: text("views.users.edit.internal") if SettingsHelper.feature_on?(:user_based_price_groups)
  = f.input :suspended_at if f.object.suspended?
  = f.input :suspension_note if f.object.suspended? && current_user.administrator?
  = f.input :expired_at if f.object.expired?
  = f.input :expired_note if f.object.expired? && current_user.administrator?

  = render_view_hook "additional_user_fields", f: f

%ul.inline
  - if can?(:edit, @user)
    %li= link_to text("shared.edit"), edit_facility_user_path(current_facility, @user), class: "btn"
    - if can?(:unexpire, @user) && @user.expired?
      %li= link_to text("unexpire"), unexpire_facility_user_path(current_facility, @user), class: "btn", method: :patch
    - elsif can?(:deactivate, @user) && @user.suspended?
      = link_to t("shared.activate"), facility_user_suspension_path(current_facility, @user), class: "btn", method: :delete
  - if current_ability.can?(:switch_to, @user) && @user.active? && current_facility.single_facility?
    %li= link_to text("search.results_table.order_for"), facility_user_switch_to_path(current_facility, @user), class: "btn btn-primary"
- if can?(:edit, @user) && @user.active?
  %fieldset.well
    = simple_form_for @user, url: facility_user_suspension_path(current_facility, @user), method: :post do |f|
      = f.input :suspension_note
      = f.submit t("shared.suspend"), class: "btn btn-danger"
