= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_users', :locals => { :sidenav_tab => 'users' }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_users', :locals => {:secondary_tab => 'details'}

%h1= @user

= readonly_form_for :user do |f|
  = f.input :full_name
  = f.input :email
  = f.input :last_sign_in_at, :default_value => 'none'
  = f.input :deactivated_at unless f.object.active?
  = render_view_hook "additional_user_fields", f: f

- if can? :edit, @user
  %ul.inline
    %li= link_to text("shared.edit"), edit_facility_user_path(current_facility, @user), class: "btn"
