-content_for :breadcrumb do
  %ul.horiz
    %li= link_to 'My Orders', orders_url
    %li &raquo;
    %li= link_to "Order # #{@order_detail}", order_order_detail_path(@order, @order_detail)
    %li &raquo;
    %li Online Order Form

- content_for :h1 do
  == Order # #{@order_detail}

%h2== #{@service} Online Order Form

= @rendered

%ul.horiz
  %li= link_to 'Cancel', order_order_detail_path(@order, @order_detail)