- if @greeting.present?
  #{@greeting}
==

#{Order.human_attribute_name(:ordered_at)}: #{l(@order.initial_ordered_at, format: :receipt)}
#{Facility.model_name.human}: #{@order.facility}
#{OrderDetail.human_attribute_name(:ordered_by)}: #{@order.created_by_user.full_name}
#{Account.model_name.human}: #{@order.account}
==
= OrderDetail.model_name.to_s.titleize.pluralize
= "========================================"
- @order.order_details.each do |order_detail|
  #{OrderDetail.human_attribute_name(:id)}: #{order_detail}
  #{OrderDetailPresenter.new(order_detail).description_as_text}
  - if order_detail.reservation
    #{Reservation.model_name.to_s.titleize}: #{order_detail.reservation}
  #{OrderDetail.human_attribute_name(:quantity)}: #{OrderDetailPresenter.new(order_detail).wrapped_quantity}
  #{OrderDetail.human_attribute_name(:status)}: #{order_detail.order_status.name}
  - label_key_prefix = display_cost_prefix_for_order_detail(order_detail)
  #{OrderDetail.human_attribute_name("#{label_key_prefix}_cost")}: #{OrderDetailPresenter.new(order_detail).display_cost unless order_detail.canceled?}
  #{OrderDetail.human_attribute_name("#{label_key_prefix}_subsidy")}: #{OrderDetailPresenter.new(order_detail).display_subsidy unless order_detail.canceled?}
  #{OrderDetail.human_attribute_name("#{label_key_prefix}_total")}: #{OrderDetailPresenter.new(order_detail).display_total unless order_detail.canceled?}
  - if order_detail.note.present?

    #{order_detail.note}
  ==
==

- if @order.any_details_estimated?
  * #{text(".outro")}
