#{Order.human_attribute_name(:ordered_at)}: #{l(@order_detail.ordered_at, format: :receipt)}
#{Facility.model_name.human}: #{@order.facility}
#{OrderDetail.human_attribute_name(:ordered_by)}: #{@order.created_by_user.full_name}
#{Account.model_name.human}: #{@order.account}

= OrderDetail.model_name.to_s.titleize.pluralize
= "========================================"

#{OrderDetail.human_attribute_name(:id)}: #{@order_detail}
#{@order_detail.description_as_text}
- if @order_detail.reservation
  #{Reservation.model_name.to_s.titleize}: #{@order_detail.reservation}
#{OrderDetail.human_attribute_name(:quantity)}: #{@order_detail.quantity}
#{OrderDetail.human_attribute_name(:status)}: #{@order_detail.order_status.name}
- label_key_prefix = display_cost_prefix_for_order(@order)
#{OrderDetail.human_attribute_name("#{label_key_prefix}_cost")}: #{@order_detail.display_cost}
#{OrderDetail.human_attribute_name("#{label_key_prefix}_subsidy")}: #{@order_detail.display_subsidy}
#{OrderDetail.human_attribute_name("#{label_key_prefix}_total")}: #{@order_detail.display_total}
- if @order_detail.note.present?
  #{@order_detail.note}
