%table{ border: 0 }
  %tr
    %td
      %strong= Order.human_attribute_name(:ordered_at)
    %td= l(@order_detail.ordered_at, format: :receipt)

  %tr
    %td
      %strong= Facility.model_name.human
    %td= link_to @order.facility, @order.facility
  %tr
    %td
      %strong= OrderDetail.human_attribute_name(:ordered_by)
    %td= @order.created_by_user.full_name
  %tr
    %td
      %strong= Account.model_name.human
    %td= @order.account

%hr

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= OrderDetail.human_attribute_name(:id)
      %th= OrderDetail.human_attribute_name(:product)
      %th= OrderDetail.human_attribute_name(:quantity)
      %th= OrderDetail.human_attribute_name(:status)
      - label_key_prefix = display_cost_prefix_for_order(@order)
      %th= OrderDetail.human_attribute_name("#{label_key_prefix}_cost")
      %th= OrderDetail.human_attribute_name("#{label_key_prefix}_subsidy")
      %th= OrderDetail.human_attribute_name("#{label_key_prefix}_total")
      %th= OrderDetail.human_attribute_name(:note).pluralize
  %tbody
    %tr
      %td= link_to(@order_detail, [@order_detail.order, @order_detail])
      %td
        = @order_detail.description_as_html
        - if @order_detail.reservation
          %br
          = @order_detail.reservation
      %td= @order_detail.quantity
      %td= @order_detail.order_status.name
      %td= @order_detail.display_cost
      %td= @order_detail.display_subsidy
      %td= @order_detail.display_total
      %td
        - if @order_detail.note.present?
          = @order_detail.note
        = render_view_hook "after_note", order_detail: @order_detail
