= content_for :h1 do
  = text("pages.global_settings")

= content_for :sidebar do
  = render("admin/shared/sidenav_global", sidenav_tab: "log_events")

%h2= text("pages.event_log")

= form_tag(log_events_path, method: :get, class: "search_form") do

  .row
    .span3
      = label_tag(text(:query))
      = text_field_tag(:query, params[:query])

    .span3
      = label_tag(text(:start_date))
      = text_field_tag(:start_date, params[:start_date], class: :datepicker__data)

  .row
    .span3
      = label_tag(text(:event_filter))
      = select_tag(:events,
        options_for_select(log_events_options, params[:events]),
        multiple: true,
        class: "js--chosen",
        data: { placeholder: text(:event_placeholder) })

    .span3
      = label_tag(text(:end_date))
      = text_field_tag(:end_date, params[:end_date], class: :datepicker__data)

  .row
    .span3
      = submit_tag(text(:filter), class: "btn")
      = hidden_field_tag :email, current_user.email, disabled: true
      = hidden_field_tag :format, params[:format], disabled: true


= will_paginate(@log_events)

= link_to t("reports.account_transactions.export"), url_for(format: :csv), class: "js--exportSearchResults pull-right", data: { form: ".search_form" }
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= text("event_time")
      %th= text("event")
      %th= text("object")
      %th= Facility.model_name.human
      %th= text("user_label")

  %tbody
    - @log_events.each do |log_event|
      %tr
        %td= format_usa_datetime(log_event.event_time)
        %td= text(log_event.locale_tag, log_event.metadata.symbolize_keys)
        %td= log_event.loggable_to_s
        %td= log_event.facility
        %td= log_event.user.try(:to_s)

= will_paginate(@log_events)
