= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_users", sidenav_tab: "users"

= content_for :tabnav do
  = render "admin/shared/tabnav_users", secondary_tab: "user_certificates"

%h1
  = text("title", name: @user.full_name)

%ul.unstyled
  - @certificates.each do |certificate, active|
    %li{ class: active ? "" : "muted" }
      = active ? fa_icon("check", class: "text-success") : fa_icon("ban")
      = certificate.name
