%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Account.model_name.human
      %th.centered= Facility.model_name.human
  %tbody
    - @accounts.each do |account|
      %tr
        %td
          - case
          - when !current_ability.can?(:manage, account)
            = account

          - when current_facility.cross_facility?
            = link_to account, facility_account_path(current_facility, account)

          - else
            = link_to account,
              facility_account_orders_path(current_facility, account)

        %td{style: "padding-left: 50px"}
          = account.facility || "<i>All</i>".html_safe
