%table
  %tr
    %th= Account.model_name.human
    %th.centered= Facility.model_name.human
  - @account_users.each do |au|
    - a = au.account
    %tr
      - if au.can_administer? || session_user.administrator?
        - if current_facility
          %td= link_to a, facility_account_statement_path(current_facility, a, 'recent')
        - else
          %td= link_to a, account_statements_path(a)
      - else
        %td= a

      %td{:style => "padding-left: 50px"}= a.facility || '<i>All</i>'.html_safe
