- if flash[:error]
  .alert.alert-error= flash[:error]
- if flash[:notice]
  .notice= flash[:notice]
- if flash[:info]
  .alert.alert-info= flash[:info]
- if flash[:alert]
  .alert.alert-error= flash[:alert]

#js--flash= # for us in AJAXY flashes
