.navbar.navbar-static-top
  .navbar-inner
    .container
      = link_to app_name, :root, class: "brand"
      - if session_user.nil?
        %ul.nav.pull-right.hide-from-print
          %li= link_to t("pages.login"), :new_user_session
      - else
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        -# Everything you want hidden at 979px or less, place within here
        .nav-collapse.collapse
          - if SettingsHelper.feature_on?(:responsive)
            .hidden-with-nav
              = render "/shared/nav/nav_links"
          %ul.nav.pull-right.hide-from-print
            - if acting_as?
              %li.navbar-text= "#{acting_user.full_name} (#{acting_user.username})"
              %li= link_to "#{t('pages.cart')} (#{current_cart.order_details.sum(:quantity)})", :cart
            - else
              %li.navbar-text= "#{session_user.full_name} (#{session_user.username})"
              %li.divider-vertical
              - if current_user.password_updatable? && SettingsHelper.feature_on?(:password_update)
                %li= link_to t("user_password.edit.head"), :edit_current_password
                %li.divider-vertical
              %li.visible-with-nav= link_to t('pages.cart') + " (#{current_cart.order_details.sum(:quantity)})", :cart
              %li.divider-vertical
              = render "shared/message_summary"
              %li= link_to t('pages.logout'), sign_out_user_path

