= stylesheet_link_tag '960gs/reset'
= stylesheet_link_tag '960gs/960'
= stylesheet_link_tag 'application'
= stylesheet_link_tag 'nav'
= javascript_include_tag "#{request.protocol}ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
= javascript_include_tag 'application'
