= stylesheet_link_tag '960gs/reset', :media => :all
= stylesheet_link_tag '960gs/960',   :media => :all
= stylesheet_link_tag 'application', :media => :all
= stylesheet_link_tag 'override', :media => :all
= stylesheet_link_tag 'nav',         :media => :all
= javascript_include_tag "#{request.protocol}ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
= javascript_include_tag 'application'
= javascript_include_tag 'jquery_ujs'
= csrf_meta_tag
