= stylesheet_link_tag '960gs/reset', :media => :all
= stylesheet_link_tag '960gs/960',   :media => :all
= stylesheet_link_tag 'application', :media => :all
= stylesheet_link_tag "jquery-ui/jquery-ui"
= javascript_include_tag "jquery-1.7.2.min.js"
= javascript_include_tag "jquery-ui-1.8.1.min.js"
= javascript_include_tag 'application'
= javascript_include_tag 'jquery_ujs'
= csrf_meta_tag
:javascript
  var ROOT_PATH = '#{root_path}';
  var FACILITY_PATH = '#{current_facility ? facility_path(current_facility) : ''}';
