= stylesheet_link_tag '960gs/reset', :media => :all
= stylesheet_link_tag '960gs/960',   :media => :all
= stylesheet_link_tag 'application', :media => :all
= javascript_include_tag 'application'
= csrf_meta_tag
:javascript
  var ROOT_PATH = '#{root_path}';
  var FACILITY_PATH = '#{current_facility ? facility_path(current_facility) : ''}';
