.navbar.navbar-static-top
  .navbar-inner
    .container
      = link_to :root, class: "brand" do
        - if Settings.header_logo_path.present?
          = image_tag Settings.header_logo_path, class: "img__brand"
        %span= app_name
      - if session_user.nil?
        %ul.nav.pull-right.hide-from-print
          = render "/shared/support"
          %li= link_to t("pages.login"), :new_user_session
      - else
        - if responsive?
          %a.btn.btn-navbar.hide-from-print{ data: { target: ".nav-collapse", toggle: "collapse" } }
            %span.fa.fa-lg.fa-bars
        -# collapsed at < 979px
        .hide-from-print{ class: ("nav-collapse collapse" if responsive?) }
          - if responsive?
            -# .hidden-with-nav is hidden > 979px
            .hidden-with-nav
              = render "/shared/nav/nav_links"
          %ul.nav.pull-right.hide-from-print
            - if acting_as?
              %li.navbar-text= "#{acting_user.full_name} (#{acting_user.username})"
              = render "/shared/support"
              %li= link_to "#{t('pages.cart')} (#{current_cart.order_details.count})", :cart
            - else
              - if UserPreference.options_for(current_user).any?
                %li.visible-with-link= link_to "#{current_user.full_name} (#{current_user.username})", user_user_preferences_path(current_user)
              - else
                %li.navbar-text= "#{acting_user.full_name} (#{acting_user.username})"
              %li.divider-vertical
              - if current_user.password_updatable? && SettingsHelper.feature_on?(:password_update)
                %li= link_to t("user_password.edit.head"), :edit_current_password
                %li.divider-vertical
              -# .visible-with-nav is visible > 979px
              = render "/shared/support"
              %li.visible-with-nav= link_to t('pages.cart') + " (#{current_cart.order_details.count})", :cart
              %li.divider-vertical
              = render "shared/message_summary"
              %li= link_to t('pages.logout'), sign_out_user_path
              - if responsive? && !acting_as? && current_user
                %li
                  = form_tag global_search_path, class: "navbar-search pull-right hidden-with-nav" do
                    = text_field_tag :search, nil, placeholder: t("global_search.search"), class: "search-query span2", aria: { label: t("global_search.search") }


