%li
  %ul.nav.pull-right
    %li.dropdown.pull-right
      = link_to "Notices (#{notifier.message_count})",
        :notifications,
        class: "dropdown-toggle",
        data: { toggle: "dropdown" }

      %ul.dropdown-menu
        - if notifier.order_details_in_dispute?
          %li
            = link_to "#{t("message_notifier.order_details_in_dispute")} (#{notifier.order_details_in_dispute.count})",
              facility_disputed_orders_path(current_facility)

        - if notifier.notifications?
          %li
            = link_to "#{t("pages.notices")} (#{notifier.notifications.count})",
              notifications_path

        - if notifier.problem_order_details?
          %li
            = link_to "#{t("message_notifier.problem_order_details")} (#{notifier.problem_order_details.count})",
              show_problems_facility_orders_path(current_facility)

        - if notifier.problem_reservation_order_details?
          %li
            = link_to "#{t("message_notifier.problem_reservation_order_details")} (#{notifier.problem_reservation_order_details.count})",
              show_problems_facility_reservations_path(current_facility)

        - if notifier.training_requests?
          %li
            = link_to "#{t("message_notifier.training_requests")} (#{notifier.training_requests.count})",
              facility_training_requests_path(current_facility)
