= content_for :head_content do
  %script{:type => 'text/javascript', :src => "#{request.protocol}ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"}
  = javascript_include_tag 'move_reservation'
  = stylesheet_link_tag "jquery-ui/jquery-ui"

- next_res=reservation.earliest_possible
- next_start=next_res.reserve_start_at
- next_end=next_res.reserve_end_at
- msg="The earliest time you can move this reservation to begins on #{human_date(next_start)} at #{human_time(next_start)} and ends "
- msg += human_date(next_start) == human_date(next_end) ? "at #{human_time(next_end)}." : "on #{human_date(next_end)} at #{human_time(next_end)}."

%div#dialog.hidden
  %p= msg
  %p= 'Would you like to move your reservation?'
