- links = []
- links.push({ :url => root_path, :text => 'Home', :tab_name => 'home' })
- if !acting_user.nil? and customer_tab?
  - links.push({ :url => url_for(:controller => '/orders'), :text => t_my(Order), :tab_name => 'orders' })
  - links.push({ :url => reservations_url, :text => t_my(Reservation), :tab_name => 'reservations'})
  - links.push({ :url => accounts_path, :text => t_my(Account),:tab_name => 'accounts' })
- if current_facility and admin_tab?
  - if current_user.operator_of?(current_facility)
    - links.push({:url => facility_orders_path(current_facility),    :text => 'Orders',   :tab_name => 'admin_orders'})
    - links.push({:url => timeline_facility_reservations_path(current_facility),    :text => 'Reservations',   :tab_name => 'admin_reservations'})
    - links.push({:url => facility_transactions_path(current_facility), :text => 'Billing', :tab_name => 'admin_billing'}) if can? :manage_billing, current_facility
    - links.push({:url => facility_products_path(current_facility),   :text => 'Products', :tab_name => 'admin_products'})
    - links.push({:url => facility_users_path(current_facility),      :text => 'Users',    :tab_name => 'admin_users'})
    - reports_sub=[{:url => product_facility_general_reports_path(current_facility), :text => 'General'},
                   {:url => instrument_facility_instrument_reports_path(current_facility), :text => 'Instrument Utilization'}]
    - links.push({:text => 'Reports',  :tab_name => 'admin_reports', :subnav => reports_sub}) if can? :manage, ReportsController
    - if can? :edit, current_facility
      - links.push({:url => manage_facility_path(current_facility), :text => 'Admin', :tab_name => 'admin_facility'})

.navbar.navbar-static-top
  .navbar-inner
    .container
      %ul.nav
        - links.each do |link|
          %li{:class => !controller.active_tab.nil? && controller.active_tab == link[:tab_name] ? 'active' : '', :id => "#{link[:tab_name]}_tab"}
            - if link[:subnav]
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                  = link[:text]
                  %b.caret
                %ul.dropdown-menu
                  - link[:subnav].each do |sub_links|
                    %li= link_to sub_links[:text], sub_links[:url]
            - else
              = link.has_key?(:url) ? link_to(link[:text], link[:url]) : link[:text]

      - if !acting_as? && current_user
        = form_tag order_search_path, class: 'navbar-search pull-right' do
          = text_field_tag :search, nil, :placeholder => t('order_search.search'), :class => 'search-query span2'

      %ul.nav.pull-right
        = render :partial => 'shared/nav/manage_facilities'

        - if !acting_as? && current_user && current_user.administrator?
          %li{:class => controller.active_tab == 'global_settings' ? 'active' : ''}
            = link_to t('pages.global_settings'), affiliates_path

        - if !acting_as? && current_user && current_user.billing_administrator?
          %li.pull-right{:class => !controller.active_tab.nil? && controller.active_tab == 'admin_billing' ? 'active' : ''}
            = link_to t("pages.global_billing"), facility_transactions_path('all')

