- unless defined?(show_reservation)
  - show_reservation = true
%td.user-order-detail.order-note
  .order-detail-description
    = OrderDetailPresenter.new(od).description_as_html
    - if show_reservation && od.reservation
      %br
      %em= od.reservation

    = warning_if_instrument_is_offline_or_partially_available(od.product)

  - if can?(:template_results, od)
    - if od.survey_completed?
      .order-detail-extra= link_to t("order_details.show.link.view.order_form"), od.external_service_receiver.show_url, target: "_blank"
    - od.stored_files.template_result.each do |stored_file|
      .order-detail-extra
        = link_to t("order_details.show.link.view.order_file"), facility_template_result_path(stored_file)
  - if od.note.present?
    .order-detail-extra.order-detail-note
      = render "shared/order_detail_note", order_detail: od
