- @facility_users ||= User.find_users_by_facility(current_facility) || []

%td.action-form
  = render_view_hook "batch_update_above_product_column", facility: current_facility

%td.action-form
  -# TODO: refactor/extract/I18n options building:
  - assigned_user_options = @facility_users.map { |u| [u.full_name, u.id] }.unshift(["Assign to...", nil], ["Unassign", "unassign"])

  = select_tag :assigned_user_id,
    options_for_select(assigned_user_options), class: "sync_select", id: nil

%td.action-form
  %select{ name: "order_status_id", class: "sync_select", id: nil }
    = options_for_select([["Status...", nil]])
    - OrderStatus.non_protected_statuses(current_facility).each do |order_status|
      = options_for_select([[order_status.name_with_level, order_status.id]])

%td= submit_tag button_label, class: ["btn", "btn-primary"]
