%table.table.table-striped.table-hover.old-table.js--responsive_table
  %thead
    %tr
      %th.centered= OrderDetail.human_attribute_name(:id)
      %th= OrderDetail.human_attribute_name(:ordered_at)
      %th= OrderDetail.human_attribute_name(:quantity)
      %th= OrderDetail.human_attribute_name(:product)
      %th.centered= OrderDetail.human_attribute_name(:status)
      %th.currency= OrderDetail.human_attribute_name(:actual_total)
  %tbody
    - @order_details.each do |od|
      - order_detail = OrderDetailPresenter.new(od)
      %tr
        %td.centered
          = link_to order_detail,
            current_facility ? order_detail.show_order_path : order_detail.show_order_detail_path
        %td= format_usa_datetime(order_detail.ordered_at)
        %td.centered= order_detail.wrapped_quantity
        %td.order-note.order-note--wide
          %ul.unstyled
            %li= order_detail.description_as_html_with_facility_prefix
            - if order_detail.note.present?
              %li
                = render "shared/order_detail_note", order_detail: order_detail
        %td.centered= order_detail.order_status.try(:name)
        %td.currency= order_detail.wrapped_total

%p.footnote
  %span.estimated_cost= text("users.reservations.estimated_cost.color")
  = text("users.reservations.estimated_cost.note")
  %span.actual_cost= text("users.reservations.actual_cost.color")
  = text("users.reservations.actual_cost.note")

= will_paginate(@order_details)
