%table.table.table-striped.table-hover.old-table
  %thead
    %tr
      %th.centered Order #
      %th.centered Actions
      %th Reserved For
      %th Product
      %th.centered Status
      %th.currency Total
  %tbody
    - order_details.each do |od|
      - order = od.order
      - res = od.reservation
      %tr
        %td.centered= link_to od, current_facility ? facility_order_path(current_facility, order) : order_order_detail_path(order, od)
        - next unless res
        %td.centered
          = reservation_actions(res)
        %td
          = reservation_view_edit_link(res)
        %td.user-order-detail
          .order-detail-description
            - product_name = order_detail_description(od)
            = link_to "#{od.product.facility.abbreviation} / #{product_name}".html_safe, facility_instrument_path(od.product.facility, od.product)
            - if od.note.present?
              .order-detail-extra.order-detail-note= "Note: #{od.note}"
        %td.centered=h od.order_status.name
        %td.currency
          - od.send(:extend, PriceDisplayment)
          = od.reload.wrapped_total

%p.footnote
  %span.estimated_cost
    Orange
  totals are estimates.
  %span.actual_cost
    Green
  totals are final. Pricing will be assigned to transactions with unassigned totals.
= will_paginate(order_details)
