- if @statements.empty?
  %p.notice= text("no_statements")
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Statement.human_attribute_name(:invoice_number)
        %th= Statement.human_attribute_name(:created_at)
        %th= Statement.human_attribute_name(:sent_to)
        - unless @account
          %th= Account.model_name.human
        - if current_facility&.cross_facility?
          %th= Facility.model_name.human
        %th.currency # of #{Order.model_name.human.pluralize}
        %th.currency= Statement.human_attribute_name(:total_cost)
        %th= Statement.human_attribute_name(:status)
    %tbody
      - @statements.each do |s|
        %tr
          %td.centered
            = "##{s.invoice_number}"
            %br
            - path = current_facility ? statement_path(s) : account_statement_path(s.account, s, format: :pdf)
            = link_to t("statements.pdf.download"), path
          %td= format_usa_datetime(s.created_at)
          %td= s.account.notify_users.map(&:full_name).join(', ')
          - unless @account
            %td= link_to s.account, facility_account_path(current_facility, s.account)
          - if current_facility&.cross_facility?
            %td= s.facility.name
          %td.currency= s.order_details.count
          %td.currency= number_to_currency(s.total_cost)
          %td= t("statements.reconciled.#{s.reconciled?}")

  = will_paginate(@statements)
