- if @statements.empty?
  %p.notice= text("no_statements")
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Statement.human_attribute_name(:invoice_number)
        %th= Statement.human_attribute_name(:created_at)
        %th= Statement.human_attribute_name(:account_admins)
        - unless @account
          %th= Account.model_name.human
        - if current_facility&.cross_facility?
          %th= Facility.model_name.human
        %th.currency # of #{Order.model_name.human.pluralize}
        %th.currency= Statement.human_attribute_name(:total_cost)
        %th= t("statements.closed_at")
        %th= t("statements.closed_by")
        %th= Statement.human_attribute_name(:status)
    %tbody
      - StatementPresenter.wrap(@statements).each do |s|
        %tr
          %td.centered
            = "##{s.invoice_number}"
            - unless s.canceled_at
              %br
              - # TODO: Refactor Statement#order_details to go through statement_rows so we can generate PDFs for canceled statements
              - path = current_facility ? statement_path(s) : account_statement_path(s.account, s, format: :pdf)
              = link_to t("statements.pdf.download"), path
              - if SettingsHelper.feature_on?(:send_statement_emails) && current_facility
                %br
                = link_to(t("statements.resend"), resend_emails_facility_statement_path(current_facility, s), method: :post, class: "js--resend", data: { confirm: "You are about to re-send this invoice to the following recipients: #{s.users_to_notify.join(", ")}" })

                - if s.can_cancel?
                  %span= link_to(t("statements.cancel"), cancel_facility_statement_path(current_facility, s), method: :post, class: "btn btn-danger", data: {confirm: "Are you sure you want to cancel?"})
          %td= format_usa_datetime(s.created_at)
          %td= s.account.notify_users.map(&:full_name).join(', ')
          - unless @account
            %td= link_to s.account, facility_account_path(current_facility, s.account)
          - if current_facility&.cross_facility?
            %td= s.facility.name
          %td.currency= s.order_details.count
          %td.currency= number_to_currency(s.total_cost)
          %td= s.closed_by_times
          %td= s.closed_by_user_full_names
          %td= s.status

  = will_paginate(@statements)
