%fieldset.well
  = f.input :name, hint: text(".hints.name")
  = f.input :abbreviation, hint: text(".hints.abbreviation")
  = f.input :url_name, hint: facility_url(f.object.url_name || "url-name"), as: :string
  = f.input :short_description, input_html: { class: "wide" }, hint: text(".hints.short_description")
  = f.input :description, input_html: { class: "editor" }, hint: text(".hints.description")

- if SettingsHelper.feature_on?(:facility_banner_notice)
  %fieldset.well.collapsable{ class: f.object.banner_notice.blank? ? "collapsed" : "" }
    %label.legend= f.label :banner_notice
    = f.input :banner_notice, input_html: { class: "editor__simple" }, hint: text(".hints.banner_notice"), label: false

%fieldset.well
  %p
    = f.input :accepts_multi_add,
      as: :boolean, label: false, inline_label: text(".labels.accepts_multi_add")
  %p
    = f.input :show_instrument_availability,
      as: :boolean, label: false, inline_label: text(".labels.show_instrument_availability"), hint: text(".hints.show_instrument_availability")

= render_view_hook("before_is_active", f: f)

.well
  %p= text(".inactive")
  = f.input :is_active, as: :boolean, label: false, inline_label: text(".labels.is_active")

.well
  %p= text(".contact")
  = f.input :address, input_html: { cols: 46, rows: 5 }
  = f.input :phone_number
  = f.input :fax_number
  = f.input :email

.well
  %p= text(".order_notification")
  = f.input :order_notification_recipient
