= f.input :name, hint: t(".name")
= f.input :abbreviation, hint: t(".abbreviation")
= f.input :url_name, hint: facility_url(f.object.url_name || "url-name"), as: :string
= f.input :short_description, input_html: { class: "wide" }, hint: t(".short_description")
= f.input :description, input_html: { class: "editor" }, hint: t(".description")

.well
  %p
    = f.input :accepts_multi_add,
      as: :boolean, label: false, inline_label: t(".accepts_multi_add")
  %p
    = f.input :show_instrument_availability,
      as: :boolean, label: false, inline_label: t(".show_instrument_availability")

= render_view_hook("before_is_active", f: f)

.well
  %p= t(".inactive")
  = f.input :is_active, as: :boolean, label: false, inline_label: t(".is_active")

.well
  %p= t(".contact")
  = f.input :address, input_html: { cols: 46, rows: 5 }
  = f.input :phone_number
  = f.input :fax_number
  = f.input :email

.well
  %p= t(".order_notification")
  = f.input :order_notification_recipient, hint: f.object.email
