- if products.any?
  .product_list{:class => products.first.class.model_name.pluralize.downcase}
    %h3= products.first.class.model_name.human.pluralize
    %ul
      - products.sort.each_with_index do |product, index|
        %li{:class => product.class.model_name.downcase}
          = public_calendar_link(product)
          - if local_assigns[:f]
            = f.fields_for :order_details do |builder|
              - if session_user.can_override_restrictions?(product) || product.is_approved_for?(acting_user)
                = builder.text_field :quantity, :value => 0, :class => "product_quantity", :index => nil
                = builder.hidden_field :product_id, :value => product.id, :index => nil
          = link_to product.name + (product.is_hidden? ? ' (hidden)' : ''), facility_product_path(current_facility, product)
          - unless product.is_approved_for?(acting_user)
            %i.icon-lock
            = " (#{product.class.human_attribute_name(:requires_approval_show)})"
