= render "shared/transactions/headers"

- content_for :h1 do
  = current_facility

- content_for :h2 do
  %h2= t(".head")

= content_for :top_block do
  = render "shared/transactions/top", tab: "disputed_orders"

= render "shared/transactions/table" if @order_details.present?
