= render "shared/headers/ckeditor"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "overview"

= simple_form_for([current_facility]) do |f|
  .form-inputs
    = render "facility_fields", f: f
  = f.button :submit, "Save", class: %w(btn btn-primary)
  = link_to "Cancel", manage_facility_path(current_facility)
