- if SettingsHelper.feature_on?(:equipment_list)
  = render "shared/nav/equipment_list_nav"

.alert.alert-info= text(".welcome")

- if azlist_on?
  .az_list_container
    = render "azlist"
  = render "product_list", products: @recent_products, title: text("recently_purchased")
  = render "recently_used_facilities"
  = render "facilities_list"

- else
  = render "recently_used_facilities"
  %hr
  = render "product_list", products: @recent_products, title: text("recently_purchased")
  %hr
  = render "facilities_list"
