- if SettingsHelper.feature_on?(:equipment_list)
  = render "shared/nav/equipment_list_nav"
- else
  = content_for :h1 do
    = Facility.model_name.human(count: 2)

.alert.alert-info= text(".welcome")

- if @facilities.any?

  - if @recently_used_facilities.present?
    %h4= text(".recently_used")
    - @recently_used_facilities.each do |facility|
      %h4.header-tight= link_to facility, facility_path(facility)
    %hr
    %h4= text(".all")

  - @facilities.each do |facility|
    %h4.header-tight= link_to facility, facility_path(facility)
    %p= facility.short_description

- else
  .alert.alert-info= t(".empty", items: Facility.model_name.human(count: 2))

- if @products.any?
  %h4= text(".recently_purchased")
  %table.table.table-striped.table-hover.product_list
    %thead
      %tr
        %th
    %tbody
      - @products.each do |product|
        %tr
          %td
            - if product.is_a?(Instrument)
              = link_to product.name, [product.facility, product, :schedule]
            - else
              = link_to product.name, [:manage, product.facility, product]
            = price_policy_errors(product) unless params[:archived] == "true"
