= content_for :h1 do
  = Facility.model_name.human.pluralize

.alert.alert-info= t(".welcome")

- if @facilities.empty?
  .alert.alert-info= "No #{Facility.model_name.human.pluralize.downcase} are available at this time."

- @facilities.sort.each do |facility|
  %h3= link_to h(facility), facility_path(facility)
  %p= facility.short_description
