- if SettingsHelper.feature_on?(:equipment_list)
  = render "shared/nav/equipment_list_nav"

.alert.alert-info
  = text(".welcome")
  = render_view_hook("after_welcome")

- if azlist_on?
  .az_list_container
    = render "azlist"
  = render "recently_used_products", products: @recent_products
  = render "recently_used_facilities"
  = render "facilities_list"

- else
  = render "recently_used_facilities"
  %hr
  = render "recently_used_products", products: @recent_products
  %hr
  = render "facilities_list"
