- if SettingsHelper.feature_on?(:equipment_list)
  = render "shared/nav/equipment_list_nav"

.alert.alert-info= text(".welcome")

- if @azlist_on
  .az_list_container
    = render "azlist"
  - if @recent_products.any?
    = render "product_list", products: @recent_products
  = render "facilities_list"
  

- else
  - if @recent_products.any?
    %h4= text(".recently_purchased")
    = render "product_list", products: @recent_products
  %hr
  = render "facilities_list"
