= content_for :h1 do
  = text("pages.manage", model: Facility.model_name.human(count: 2))

- if current_user.administrator?
  %p= link_to text("admin.shared.add", model: Facility.model_name.human), new_facility_path, class: "btn-add"

= render "table", facilities: @active_facilities, title: t(".active")
%hr
= render "table", facilities: @inactive_facilities, title: t(".inactive")
