
= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "overview"

= readonly_form_for :facility, current_facility, defaults: { hint: false } do |f|
  = f.input :name
  = f.input :abbreviation
  = f.input :url_name
  - if SettingsHelper.feature_on?(:facility_tile_list_admin) && current_facility.file_present?
    = image_tag(current_facility.padded_image, class: "tile-image")
  = f.input :short_description
  = f.input :description
  = f.input :banner_notice if SettingsHelper.feature_on?(:facility_banner_notice)
  = f.input :accepts_multi_add, label: text("views.facilities.facility_fields.labels.accepts_multi_add")
  = f.input :show_order_note, label: text("views.facilities.facility_fields.labels.show_order_note")
  = f.input :show_instrument_availability, label: text("views.facilities.facility_fields.labels.show_instrument_availability")
  = f.input :dashboard_enabled, label: text("views.facilities.facility_fields.labels.dashboard_enabled")
  = f.input :kiosk_enabled, label: text("views.facilities.facility_fields.labels.kiosk_enabled") if SettingsHelper.feature_on?(:kiosk_view)
  = render_view_hook("before_is_active", f: f)
  = f.input :is_active
  = f.input :address, value_method: proc { |value| value.present? ? simple_format(value) : '<p>None Entered</p>'.html_safe }
  = f.input :phone_number, default_value: "None Entered"
  = f.input :fax_number, default_value: "None Entered"
  = f.input :email, default_value: "None Entered"
  - if SettingsHelper.feature_on?(:facility_payment_urls)
    = f.input :payment_url
  = f.input :journal_mask
  = f.input :order_notification_recipient, default_value: "None Entered"

  %ul.inline
    %li= link_to "Edit", edit_facility_path(current_facility), class: "btn"
