- content_for :h1 do
  =h current_facility
- content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_admin', :locals => { :sidenav_tab => 'overview' }

%ul.form
  %li
    %label== Name
    %p=h current_facility.name
  %li
    %label== Abbreviation
    %p=h current_facility.abbreviation
  %li
    %label== URL Name
    %p= link_to facility_url(current_facility), facility_url(current_facility)
  %li
    %label== Short Description
    =h current_facility.short_description
  %li
    %label== Description
    = current_facility.description.nil? ? '--' : current_facility.description
  %li
    %label== Accept Purchase Orders?
    %p=h current_facility.accepts_po ? 'Yes' : 'No'
  %li
    %label== Accept Credit Cards?
    %p=h current_facility.accepts_cc ? 'Yes' : 'No'
  %li
    %label== Is Active?
    %p=h current_facility.is_active ? 'Yes' : 'No'
  %li
    %label== Address
    = current_facility.address ? simple_format(h current_facility.address) : '<p>None Entered</p>'
  %li
    %label== Phone Number
    %p=h current_facility.phone_number || 'None Entered'
  %li
    %label== Fax Number
    %p=h current_facility.fax_number || 'None Entered'
  %li
    %label== Email
    %p=h current_facility.email || 'None Entered'
  %li
    %label== CoreID
    %p=h current_facility.journal_mask
  %ul.horiz
    %li= link_to 'Edit', edit_facility_path(current_facility), :class => 'btn'
