= content_for :h1 do
  = current_facility
= content_for :h2 do
  = t(".head")

= render "shared/transactions/headers"

- @search_fields = params
= content_for :top_block do
  = render "shared/transactions/top", tab: "movable_transactions"

- if @order_details.present?
  = render "shared/transactions/table", order_details: @order_details
  = render "shared/reconcile_footnote"
- else
  %p.alert.alert-info= text("facilities.movable_transactions.no_orders")
