= render :partial => "shared/headers/ckeditor"

= content_for :h1 do
  = t("admin.shared.add", model: Facility.model_name.human)

= simple_form_for @facility do |f|
  .form-inputs
    = render "facility_fields", { f: f }
  .form-actions
    = f.button :submit, t("admin.shared.add", model: Facility.model_name.human)
    = link_to t("shared.cancel"), controller: :facilities, action: :list
