= javascript_include_tag 'ckeditor/ckeditor.js'
= javascript_include_tag 'ckeditor/adapters/jquery.js'
= javascript_include_tag 'editor.js'

= content_for :h1 do
  == Add Facility

= form_for @facility do |f|
  = f.error_messages
  %ul.form
    = render :partial => 'facility_fields', :locals => {:f => f}
  %ul.horiz
    %li= f.submit 'Add Facility', :class => 'btn'
    %li= link_to 'Cancel', :controller => :facilities, :action => :list
