= render :partial => 'shared/headers/ckeditor'

= content_for :h1 do
  Add Facility

= simple_form_for @facility do |f|
  .form-inputs
    = render :partial => 'facility_fields', :locals => {:f => f}
  .form-actions
    = f.button :submit, 'Add Facility'
    = link_to 'Cancel', :controller => :facilities, :action => :list
