= content_for :h1 do
  = current_facility
- if SettingsHelper.feature_on?(:facility_banner_notice) && strip_tags(current_facility.banner_notice).present?
  = content_for :banner do
    .global-alert-banner= sanitize current_facility.banner_notice

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to 'Home', :root
    %li== &raquo;
    %li= current_facility

.wysiwyg= sanitize current_facility.description

- if acting_user && current_facility.accepts_multi_add?
  = form_for Order.new, url: add_order_path(acting_user.cart(session_user)), html: {method: :put, class:['product_list_container', @columns]} do |f|
    .button_row
      = f.submit class: ['btn', 'btn-primary']
    = render partial: 'product_list', locals: { products: @instruments, f: f, title_extra: daily_view_link }
    - ["Service", "TimedService", "Item", "Bundle"].each do |type|
      = render partial: 'product_list', locals: { products: @non_instrument_products_by_type.fetch(type, []), f: f }
    .button_row
      = f.submit class: ['btn', 'btn-primary']
- else
  .product_list_container{class: @columns}
    = render partial: 'product_list', locals: { products: @instruments, title_extra: daily_view_link }
    - ["Service", "TimedService", "Item", "Bundle"].each do |type|
      = render partial: 'product_list', locals: { products: @non_instrument_products_by_type.fetch(type, []) }
