= content_for :h1 do
  = current_facility
- if SettingsHelper.feature_on?(:facility_banner_notice) && strip_tags(current_facility.banner_notice).present?
  = content_for :banner do
    .global-alert-banner= sanitize current_facility.banner_notice

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to 'Home', :root
    %li== &raquo;
    %li= current_facility

.wysiwyg= sanitize current_facility.description

- if acting_user && current_facility.accepts_multi_add?
  = form_for Order.new, url: add_order_path(acting_user.cart(session_user)), html: {method: :put, class:['product_list_container', @columns]} do |f|
    .button_row
      = f.submit class: ['btn', 'btn-primary']
    - if SettingsHelper.feature_on?(:daily_view) && current_facility.instruments.active.any?
      %h3= link_to t("facilities.show.daily_view"), facility_public_timeline_path(current_facility)
    = render partial: "product_display_group", collection: @product_display_groups, locals: { classes: @columns, f: f }
    .button_row
      = f.submit class: ['btn', 'btn-primary']
- else
  .product_list_container{ class: @columns }
    - if SettingsHelper.feature_on?(:daily_view) && current_facility.instruments.active.any?
      %h3= link_to t("facilities.show.daily_view"), facility_public_timeline_path(current_facility)
    = render partial: "product_display_group", collection: @product_display_groups, locals: { classes: @columns }

