= content_for :h1 do
  = current_facility

- if acting_as? || session_user.try(:operator_of?, current_facility)
  - instruments = current_facility.instruments.active_plus_hidden
  - items = current_facility.items.active_plus_hidden
  - services = current_facility.services.active_plus_hidden
  - timed_services = current_facility.timed_services.active_plus_hidden
  - bundles = current_facility.bundles.active_plus_hidden
- else
  - instruments = current_facility.instruments.active
  - items = current_facility.items.active
  - services = current_facility.services.active
  - timed_services = current_facility.timed_services.active
  - bundles = current_facility.bundles.active.reject{|b| !b.products_active?}

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to 'Home', :root
    %li== &raquo;
    %li= current_facility

.wysiwyg= current_facility.description

.product_list_container
  - if @order_form
    = form_for @order_form, url: add_order_path(acting_user.cart(session_user)), html: {method: :put } do |f|
      = render partial: 'product_list', locals: {products: instruments, f: f, title_extra: daily_view_link }
      = render partial: 'product_list', locals: {products: services, f: f}
      = render partial: 'product_list', locals: {products: timed_services, f: f}
      = render partial: 'product_list', locals: {products: items, f: f}
      = render partial: 'product_list', locals: {products: bundles, f: f}

      = f.submit class: ['btn', 'btn-primary']
  - else
    = render partial: 'product_list', locals: {products: instruments, title_extra: daily_view_link }
    = render partial: 'product_list', locals: {products: services}
    = render partial: 'product_list', locals: {products: timed_services}
    = render partial: 'product_list', locals: {products: items}
    = render partial: 'product_list', locals: {products: bundles}
