= render "shared/transactions/headers"

- content_for :h1 do
  = current_facility
- content_for :h2 do
  %h2= text(:history, scope: "admin.transaction_search.actions")

= content_for :top_block do
  = render "shared/transactions/top2", tab: "transactions"
- if @order_details.any?
  = render partial: "shared/transactions/table"
