= content_for :head_content do
  = javascript_include_tag "chosen.jquery.min.js"
  = stylesheet_link_tag "chosen.css"
  = javascript_include_tag "date.js"
  = javascript_include_tag "transaction_history.js"
  %script{:type => 'text/javascript', :src => "#{request.protocol}ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"}
  = stylesheet_link_tag "jquery-ui/jquery-ui" 
