= content_for :head_content do
  = javascript_include_tag "chosen.jquery.min.js"
  = stylesheet_link_tag "chosen.css"
  = javascript_include_tag "date.js"
  = javascript_include_tag "transaction_history.js"
