= form_tag url_for(params), :method => :get, :class => "search_form" do
  %fieldset#search
    %ul
      = chosen_field(:facilities, Facility.model_name.human)
      - unless @account
        = chosen_field(:accounts, Account.model_name.human, "id", "account_list_item")
      = chosen_field(:products, Product.model_name.human, "id", nil, :product_options)
      - unless @account
        = chosen_field(:account_owners, Account.human_attribute_name('owner'), "id", "full_name")
      - if @order_statuses
        = chosen_field(:order_statuses, OrderStatus.model_name.human, "id", nil, :order_statuses_options)
  %fieldset#calendar_filter
    %ul
      %li
        -# skip a row to align with other fieldset label
        %br
        = select_tag :date_range_field, options_for_select(TransactionSearch::DATE_RANGE_FIELDS, @date_range_field)
      %li
        = label_tag :start_date, "Start Date"
        = text_field_tag :start_date, (@search_fields[:start_date] || "").gsub("-","/"), :class => 'datepicker in_past'
      %li
        = label_tag :end_date, "End Date"
        = text_field_tag :end_date, (@search_fields[:end_date] || "").gsub("-","/"), :class => 'datepicker in_past'

  .submit_button
    = submit_tag "Search", class: 'btn'
%div{:style=>"clear:both"}
