= form_tag url_for(params), :method => :get, :class => "search_form" do
  %fieldset#search
    %ul
      - unless @account
        = chosen_field(:accounts, Account.model_name.human, "id", "account_list_item")
      - unless @facility
        = chosen_field(:facilities, Facility.model_name.human)
      = chosen_field(:products, Product.model_name.human, "id", nil, :product_options)
      - unless @account
        = chosen_field(:account_owners, Account.human_attribute_name('owner'), "id", "full_name")
  %fieldset#calendar_filter
    %ul
      %li
        = label_tag :start_date, "Start Date"
        = text_field_tag :start_date, (@search_fields[:start_date] || "").gsub("-","/"), :class => 'datepicker'
      %li
        = label_tag :end_date, "End Date"
        = text_field_tag :end_date, (@search_fields[:end_date] || "").gsub("-","/"), :class => 'datepicker'

  .submit_button
    = submit_tag "Search"
%div{:style=>"clear:both"}
