= simple_form_for :transactions, :as => '', :url => url_for(params), :method => :get, :html => { :class => "search_form" }, :defaults => { :required => false } do |f|
  .container
    .row
      %fieldset.span6#search
        = f.input :facilities, :as => :transaction_chosen
        = f.input :accounts, :label_method => 'account_list_item', :as => :transaction_chosen unless @account
        = f.input :products, :as => :transaction_chosen, :data_method => :product_options
        = f.input :account_owners, :label => Account.human_attribute_name(:owner).pluralize, :label_method => :full_name, :as => :transaction_chosen unless @account
        = f.input :order_statuses, :data_method => :order_statuses_options, :as => :transaction_chosen if @order_statuses
      %fieldset.span2#calendar_filter
        %br
        = f.input :date_range_field, :collection => TransactionSearch::DATE_RANGE_FIELDS, :selected => @date_range_field, :label => false
        = f.input :start_date, :input_html => { :value => (@search_fields[:start_date] || "").gsub("-","/"), :class => ['datepicker', 'in_past'] }, :label => 'Start Date'
        = f.input :end_date, :input_html => { :value => (@search_fields[:end_date] || "").gsub("-","/"), :class => ['datepicker', 'in_past'] }, :label => 'End Date'

        .submit_button
          = f.submit "Search", :class => 'btn'
