= will_paginate(order_details) if order_details.respond_to? :total_pages
%table.table.table-striped.table-hover.dense.old-table
  %thead
    %tr
      -if @order_detail_action or @order_detail_link
        %th
      %th= Order.model_name.human
      %th= OrderDetail.model_name.human
      %th.nowrap= OrderDetail.human_attribute_name(@date_range_field)
      - if @extra_date_column
        %th.nowrap= OrderDetail.human_attribute_name(@extra_date_column_header || @extra_date_column)
      - if current_facility.blank? || cross_facility?
        %th= Facility.model_name.human
      %th.order-note= OrderDetail.human_attribute_name("description")
      %th.nowrap= OrderDetail.human_attribute_name("user")
      - unless @account
        %th= Account.model_name.human
        %th= Account.human_attribute_name("owner")
      %th.currency= OrderDetail.human_attribute_name("cost")
      %th= OrderDetail.human_attribute_name("order_status")
      - if local_assigns[:show_statements]
        %th= Statement.model_name.human
  %tbody
    / We need to keep track of how many columns there are to the left of the Cost column,
    / so we can position the Total correctly.
    - colspan_for_total = 5
    - order_details.each do |order_detail|
      - colspan_for_total = 5
      %tr{ class: row_class(order_detail) }
        - if @order_detail_action
          %td= check_box_tag "order_detail_ids[]", order_detail.id, false, {:class => 'toggle'}
          - colspan_for_total += 1
        - if @order_detail_link
          %td.nowrap= link_to @order_detail_link[:text], @order_detail_link[:proc].call(order_detail) if @order_detail_link[:display?].call(order_detail)
          - colspan_for_total += 1
        - if backend?
          %td.nowrap= link_to order_detail.order.id, facility_order_path(order_detail.order.facility, order_detail.order)
          %td.nowrap= link_to order_detail.id, manage_order_detail_path(order_detail), :class => 'manage-order-detail'
        - else
          %td.nowrap= link_to order_detail.order.id, order_path(order_detail.order)
          %td.nowrap= link_to order_detail.id, order_order_detail_path(order_detail.order, order_detail)
        %td= order_detail.send(:"#{@date_range_field}").try(:strftime, "%m/%d/%Y")
        - if @extra_date_column and order_detail.send(@extra_date_column)
          %td= order_detail.send(@extra_date_column).strftime("%m/%d/%Y")
          - colspan_for_total += 1
        - if current_facility.blank? || cross_facility?
          %td= order_detail.order.facility
          - colspan_for_total += 1
        %td.user-order-detail.order-note
          .order-detail-description
            = OrderDetailPresenter.new(order_detail).description_as_html
            - order_detail.extend PriceDisplayment
            = "(#{order_detail.wrapped_quantity})".html_safe unless order_detail.problem?
            - if order_detail.time_data.present?
              %br
              %em= order_detail.time_data
          - if order_detail.note.present?
            .order-detail-extra.order-detail-note
              = render "shared/order_detail_note", order_detail: order_detail
        %td= order_detail.order.user.full_name
        - unless @account
          %td= order_detail.account
          %td= order_detail.account.owner_user
          - colspan_for_total += 2
        %td.currency
          = OrderDetailPresenter.new(order_detail).wrapped_total
        %td.nowrap
          = order_detail.order_status
          = order_detail_status_badges(order_detail)
        - if local_assigns[:show_statements]
          %td= link_to "Download", account_statement_path(order_detail.account, order_detail.statement_id, format: :pdf) if order_detail.statement
  - unless order_details.respond_to? :total_pages
    %tfoot
      %th.total{ colspan: colspan_for_total, scope: "row" }= t(".total")
      %td.currency= number_to_currency(order_details.map(&:actual_or_estimated_total).compact.sum)
      %td{ colspan: local_assigns[:show_statements] ? 2 : 1 }
= will_paginate(order_details) if order_details.respond_to? :total_pages
