= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'transactions'}
= content_for :h1 do
  = t('.h1')

- if @facilities.empty?
  %p.notice= t('.notice')
- else
  %table
    %tr
      %th= t('.th.facility')
      %th.centered= t('.th.total')
    - @facilities.each do |facility|
      %tr
        %td= facility
        %td.currency= link_to number_to_currency(@account.unreconciled_total(facility)), account_facility_statement_path(@account, facility, 'recent')
