= content_for :tabnav do
  = render "shared/tabnav_account", secondary_tab: "statements"

= content_for :h1 do
  = t_my(Statement)

%header.account
  %h3= @account.account_number
  %p= @account.description_to_s

= render "shared/statements_table"
