= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'statements'}
  = content_for :h1 do
    = t_my(Statement)

  = render partial: 'shared/statements_table'
