- content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'transactions'}
- content_for :h1 do
  == Payment Source Transactions

%h2=h @account
%h3== Transactions for #{h @facility}

- if @facility.has_contact_info?
  .grid_5.alpha.margin_bottom.box_no_fill
    %h3=h @facility
    - if @facility.address
      = simple_format(h @facility.address)
    - if @facility.phone_number
      %p
        %b Phone Number:
        =h @facility.phone_number
    - if @facility.fax_number
      %p
        %b Fax Number:
        =h @facility.fax_number
    - if @facility.email
      %p
        %b Email:
        =h @facility.email
  .clear

    
- if @order_details.empty?
  %p.notice No transactions exist for this period.
- else
  %table
    %tr
      %th Transaction Date
      %th Description
      %th.centered Dispute?
      %th.currency Amount
    - @order_details.each do |od|
      %tr
        %td= human_datetime(od.created_at)
        %td
          %ul
            %li= h od.description
            - unless od.note.blank?
              %li
                %i=h "Note: #{od.note}"
        %td.centered
          - if od.in_dispute?
            In Dispute
          - elsif od.can_dispute?
            = link_to('Dispute', order_order_detail_path(od.order, od))
        %td.currency
          - if od.cost_estimated?
            %span.estimated_cost
              = h number_to_currency od.estimated_total
          - elsif od.price_policy.nil?
            Unassigned
          - else
            %span.actual_cost
              = h number_to_currency od.actual_total
    %tr
      %td.centered{:colspan =>4}= will_paginate(@order_details)

  = render :partial => '/price_display_footnote'

