%strong= reservation.admin? ? t(".admin_reservation") : reservation.user

%br
%span= reservation_date_range_display(@display_datetime, reservation)

- order_detail = reservation.order_detail
- if order_detail.present?
  %span{class: order_detail.order_status.to_s.downcase}
    = "- #{order_detail.order_status}"

  - if order_detail.note.present?
    %br
    %span= order_detail.note

- if reservation.admin_note.present?
  %br
  %span= reservation.admin_note

%br
= reservation_links(reservation)
