.timeline_instrument[instrument]
  %h4
    - if public_timeline?
      = link_to instrument,
        facility_instrument_path(current_facility, instrument)
    - else
      = link_to instrument,
        facility_instrument_schedule_path(current_facility, instrument)

    - if instrument.offline?
      = tooltip_icon "fa fa-exclamation-triangle icon-large", t("instruments.offline.note")

  .timeline
    .unit_container
      = render partial: "shared/timeline/reservation",
        collection: (instrument.visible_reservations(@display_datetime) + ScheduleRule.unavailable_for_date(instrument, @display_datetime)),
        as: :reservation,
        locals: { product: instrument }

      - if @display_datetime.beginning_of_day == Time.current.beginning_of_day
        .current_time{style: "left: #{datetime_left_position(@display_datetime, Time.current)}"}

    - if !public_timeline? && instrument.has_real_relay?
      = render "shared/timeline/relay_switch", instrument: instrument
