= content_for :head_content do
  = javascript_include_tag 'price_group_products'

= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => @product.product_type }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'restrictions'}

%h2=h @product

- notice="Price groups may or may not be allowed to purchase this product. Use the form below to restrict or authorize purchasing."
- notice += " The reservation window is the number of days in advance a user in the price group may create a reservation." if @is_instrument
%p=notice

= form_tag(facility_price_group_product_path(current_facility, @product), :method => :put) do
  %table
    %tr
      %th Price Group (Type)
      - if @is_instrument
        %th Reservation Window
    - @price_group_products.each do |price_group_product|
      - price_group = price_group_product.price_group
      - is_current = @product.can_purchase?([price_group.id])
      %tr{:class => "#{'disabled' unless is_current}"}
        %td=h "#{price_group.name} (#{price_group.type_string})"
        - if @is_instrument
          %td=text_field_tag "price_group_#{price_group.id}[reservation_window]", price_group_product.reservation_window, :disabled => !is_current || cannot?(:update, PriceGroupProduct)

  = submit_tag 'Save restrictions', :class => :btn if can? :update, PriceGroupProduct