= simple_form_for order, url: { action: :update_or_purchase } do |f|
  %table.table.table-striped.table-hover.js--cart#cart
    %thead
      %tr
        %th
        %th= t(".th.product")
        %th.centered= t(".th.quantity")
        %th.currency= t(".th.cost")
        - if order.has_subsidies?
          %th.currency= t(".th.adjust")
        %th.currency= t(".th.extend")

    %tbody
      - grouped_order_details.each do |order_details|
        = render partial: "cart_row", collection: order_details, as: :order_detail, locals: { order_details: order_details }

    %tfoot
      %tr
        %td.currency{colspan: "3"}
          %b= t(".td.total")
        %td.currency
          %b= number_to_currency order.estimated_cost
        - if order.has_subsidies?
          %td.currency
            %b= number_to_currency order.estimated_subsidy
        %td.currency
          %b= number_to_currency order.estimated_total

  %p.footnote= t(".foot.all")

  - if order.instrument_order_details.count > 0
    %p.footnote= t(".foot.instrument")

  - if order.order_details.size > 0

    - if acting_as?
      = render_view_hook "acting_as", f: f, order_detail: order.order_details.first
      .backdate_fields= render "edit_date", f: f

    %ul.inline{style: "float: left"}
      %li= submit_tag t("shared.update"), class: "btn"
      - if order.validated?
        %li
          = f.submit t("shared.purchase"),
            class: %w(btn btn-primary),
            data: { confirm: t(".confirm") }
