= content_for :h1 do
  = t('.select')

= error_messages_for(:object => @order, :object_name => "order" )

- if @accounts.empty?
  %p.notice= t('.notice')
- else
  = form_tag({}, :id => 'choose-account-frm') do
    %table
      %tr
        %th
        %th= t('.th.account')
        %th= t('.th.owner')
      - @accounts.each do |a|
        %tr
          %td= @errors[a.id] ? radio_button('', 'account_id', a.id, :disabled => 'disabled') : radio_button('', 'account_id', a.id)
          %td
            = a
            - if @errors[a.id]
              %p.warning=h @errors[a.id]
          %td= "#{a.owner_user}"
    %ul.horiz
      %li= submit_tag 'Continue', :class => 'btn'
