= content_for :h1 do
  = t(".select")

= error_messages_for(object: @order, object_name: "order")

- if @accounts.empty?
  %p.notice= text("orders.choose_account.notice")
- else
  = form_tag({}, id: "choose-account-frm") do
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
          %th= t(".th.account")
          %th= t(".th.owner")
      %tbody
        - @accounts.each do |a|
          %tr
            %td= @errors[a.id] ? radio_button("", "account_id", a.id, disabled: "disabled") : radio_button("", "account_id", a.id)
            %td
              %label.normal-weight{for: "account_id_#{a.id}"}= a
              - if @errors[a.id]
                %p.warning= @errors[a.id]
            %td= "#{a.owner_user}"
    %ul.inline
      %li= submit_tag "Continue", class: "btn"
