= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to t('.crumbs.orders'), orders_url
    %li &raquo;
    %li= t('.crumbs.receipt')

= content_for :h1 do
  = t('.h1')

%p= t('.intro')

- if reservation = @order.only_reservation
  %p= add_accessories_link(reservation)

= readonly_form_for :order do |f|
  = f.input :facility

  = f.input :account, :input_html => { :value => @accounts.join(', ') }
  = f.input :ordered_at
  = f.input :user
  = f.input :created_by_user

%table.table.table-striped.table-hover.old-table
  %thead
    %tr
      %th.centered= t('.th.order_no')
      %th{:colspan => 2}= t('.th.quantity')
      %th.currency= t('.th.cost')
      - if @order.has_subsidies?
        %th.currency= t('.th.adjust')
      %th.currency= t('.th.total')
  %tbody
    - @order_details.each do |order_detail|
      - order_detail.send(:extend, PriceDisplayment)
      %tr
        - res = order_detail.reservation
        %td.centered= link_to order_detail, order_order_detail_path(@order, order_detail)
        %td.centered= order_detail.wrapped_quantity
        %td.user-order-detail
          .order-detail-description= order_detail_description(order_detail)
          - if res
            .order-detail-extra= res
        %td.currency=order_detail.wrapped_cost
        - if @order.has_subsidies?
          %td.currency= order_detail.wrapped_subsidy
        %td.currency=order_detail.wrapped_total

= render :partial => '/price_display_footnote'
