= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to t('.crumbs.orders'), orders_url
    %li &raquo;
    %li= t('.crumbs.receipt')

= content_for :h1 do
  = t('.h1')

%p= t('.intro')

- if reservation = @order.only_reservation
  %p= add_accessories_link(reservation)

= readonly_form_for :order do |f|
  = f.input :facility, label: Facility.model_name.human

  = f.input :account, :input_html => { :value => @accounts.join(', ') }
  = f.input :initial_ordered_at
  = f.input :user
  = f.input :created_by_user

%table.table.table-striped.table-hover.old-table.js--responsive_table
  %thead
    %tr
      %th.centered= OrderDetail.human_attribute_name(:id)
      %th= OrderDetail.human_attribute_name(:quantity)
      %th= OrderDetail.human_attribute_name(:product)
      %th.currency= t('.th.cost')
      - if @order.has_subsidies?
        %th.currency= t('.th.adjust')
      %th.currency= t('.th.total')
  %tbody
    - OrderDetailPresenter.wrap(@order_details).each do |order_detail|
      %tr
        - res = order_detail.reservation
        %td.centered= link_to order_detail, order_order_detail_path(@order, order_detail)
        %td.centered= order_detail.wrapped_quantity
        %td.user-order-detail
          .order-detail-description= order_detail.description_as_html
          - if order_detail.add_accessories? && order_detail.complete? && acting_as?
            = link_to new_facility_order_order_detail_accessory_path(@order.facility, @order, order_detail), class: ["has_accessories", "persistent", "undecorated"] do
              = tooltip_icon "fa fa-plus-square", t("product_accessories.pick_accessories.title")
          - if res
            .order-detail-extra= res
            .order-detail-extra
              = link_to(fa_icon("calendar"),
                order_order_detail_reservation_path(@order, order_detail, res, format: :ics),
                title: t("ical.calendar_tooltip"))
          - if order_detail.note.present?
            .order-detail-extra.order-detail-note= "Note: #{order_detail.note}"
          = render_view_hook "after_note", order_detail: order_detail
        %td.currency= order_detail.wrapped_cost
        - if @order.has_subsidies?
          %td.currency= order_detail.wrapped_subsidy
        %td.currency= order_detail.wrapped_total
  %tfoot
    %tr
      - colspan = @order.has_subsidies? ? 5 : 4
      %td.hide-on-mobile{ colspan: colspan }
        %strong= t('.total')
      %td.currency
        .responsive-header= t('.total')
        = number_to_currency(@order_details.sum { |d| d.total || 0 })

= render :partial => '/price_display_footnote'
