= content_for :breadcrumb do
  %ul.horiz
    %li= link_to t('.crumbs.orders'), orders_url
    %li &raquo;
    %li= t('.crumbs.receipt')

= content_for :h1 do
  = t('.h1')

%p= t('.intro')

%ul.form
  %li
    %label= t('.label.facility')
    =h @order.facility
  %li
    %label= t('.label.account')
    =h @order.account
  %li
    %label= t('.label.ordered.at')
    =h human_datetime(@order.ordered_at)
  %li
    %label= t('.label.ordered.for')
    =h @order.user.full_name
  %li
    %label= t('.label.ordered.for')
    =h @order.created_by_user.full_name

%table
  %tr
    %th.centered= t('.th.order_no')
    %th{:colspan => 2}= t('.th.quantity')
    %th.currency= t('.th.cost')
    - if @order.has_subsidies?
      %th.currency= t('.th.adjust')
    %th.currency= t('.th.total')
  - @order.order_details.each do |order_detail|
    %tr
      - res = order_detail.reservation
      %td.centered= link_to order_detail, order_order_detail_path(@order, order_detail)
      %td.centered=h order_detail.quantity
      %td
        %ul
          %li= order_detail_description(order_detail)
          - if res
            %li.indented= res
        - if order_detail.cost_estimated?
          %td.currency=show_estimated_cost(order_detail)
          - if @order.has_subsidies?
            %td.currency=show_estimated_subsidy(order_detail)
          %td.currency=show_estimated_total(order_detail)
        - else
          %td.currency Unassigned
          - if @order.has_subsidies?
            %td.currency Unassigned
          %td.currency Unassigned

%p.footnote= t('.foot')
