= content_for :h1 do
  = t(".h1")

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to t("pages.home"), :root

    - order_detail = @order.order_details.first
    - if order_detail.present?
      %li &raquo;
      %li
        = link_to order_detail.product.facility,
          facility_path(order_detail.product.facility)

    %li &raquo;
    %li= t("pages.cart")

%p= t(".intro")

- if @order.order_details.empty?
  %div
    %p.notice= t(".notice")
- else
  %p
    %label= t(".label.account")
    = @order.account
    %br
    = link_to t(".link.change_account"), choose_account_order_path(@order)

  = render "form", order: @order
