- content_for :h1 do
  == Cart
- content_for :breadcrumb do
  %ul.horiz
    %li= link_to 'Home', :root
    - detail = @order.order_details.first
    - unless detail.nil?
      %li &raquo;
      %li= link_to detail.product.facility, facility_path(detail.product.facility)
    %li &raquo;
    %li Cart

%p Your cart will be saved between visits and can be added to, or your order completed at a later time.

- if @order.order_details.empty?
  %div
    %p.notice== Your cart is empty.
- else
  %ul.form
    %li
      %label Payment Source
      =h @order.account
      %br
      = link_to 'Change Payment Source', choose_account_order_path(@order, :reset_account => true)
      
  - form_tag order_path(@order), :method => :put do
    %table#cart
      %tr
        %th
        %th== Product
        %th.centered== Quantity
        %th.currency== Cost
        - if @order.has_subsidies?
          %th.currency== Adjustment
        %th.currency== Extended Cost

      - prev_group_id = nil
      - @order.order_details.find(:all, :order => :group_id).each do |order_detail|
        = render :partial => 'cart_row', :locals => { :order_detail => order_detail, :first_of_group => prev_group_id != order_detail.group_id }
        - prev_group_id = order_detail.group_id
      %tr
        %td.currency{:colspan => "3"}
          %b Totals
        %td.currency
          %b= number_to_currency @order.cost
        - if @order.has_subsidies?
          %td.currency
            %b= number_to_currency @order.subsidy
        %td.currency
          %b= number_to_currency @order.total

    - if @order.instrument_order_details.count > 0
      %p.footnote * Instrument pricing is estimated; the final price may vary based on actual time used.
    - if @order.order_details.size > 0
      %ul.horiz
        %li= submit_tag 'Update', :class => 'btn'
        - if @order.validated?
          %li= link_to 'Purchase', purchase_order_path(@order), :method => :put, :class => 'btn', :confirm => "Are you sure you wish to place this order?"
