%h3= Statement.model_name.human(count: 2)

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Statement.human_attribute_name(:invoice_number)
      %th= Statement.human_attribute_name(:created_at)
      %th= Facility.model_name.human
      %th= Account.model_name.human
      %th= Statement.human_attribute_name(:sent_to)
      %th.currency # of #{Order.model_name.human.pluralize}
      %th.currency= Statement.human_attribute_name(:total_cost)
      %th= Statement.human_attribute_name(:status)
  %tbody
    - results.each do |statement|
      %tr
        %td.centered
          = "##{statement.invoice_number}"
          %br
          - if Ability.new(current_user, statement.facility).can? :show, statement
            = link_to t("statements.pdf.download"), statement_path(statement)
          - else
            = link_to t("statements.pdf.download"), account_facility_statement_path(statement.account, statement.facility, statement, format: :pdf)
        %td= human_datetime(statement.created_at)
        %td= statement.facility
        %td= statement.account
        %td= statement.account.notify_users.map(&:full_name).join(', ')
        %td.currency= statement.order_details.count
        %td.currency= number_to_currency(statement.total_cost)
        %td= t("statements.reconciled.#{statement.reconciled?}")

