%li
  = label_tag :start_date, 'Effective'
  = text_field_tag "start_date", format_date(@start_date), :id => 'start_datepicker'
  = label_tag :expire_date, 'Expires'
  = text_field_tag "expire_date", format_date(@expire_date), :id => 'expire_datepicker'
%script
  :plain
    $(function() {
      $("#start_datepicker").datepicker("option", {minDate: new Date()});
      $("#expire_datepicker").datepicker("option", {maxDate: "#{@max_expire_date}"});
    });