= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'items' }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'pricing_rules'}

%h2=h @product
%h3 Edit Pricing Rules
= render :partial => 'price_policies/instructional_text'

= form_tag price_policy_path(@product, params[:id]), :method => 'PUT' do
  - @price_policies.each do |pp|
    - @price_policy = pp
    = error_messages_for :price_policy
  %ul.form
    = render :partial => "price_policies/#{@product.is_a?(Instrument) ? 'instrument_' : ''}price_policy_fields"
  %ul.horiz
    %li= submit_tag 'Save Rules', :class => 'btn'
    %li= link_to 'Cancel', price_policies_path
