= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.product_type

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "pricing_rules"

%h2= @product
%h3= text("views.price_policies.index.add")
%p= t("views.price_policies.edit.instructional_text")

= modelless_form_for :url => price_policies_path do |f|
  - @price_policies.each do |pp|
    - @price_policy = pp
    = error_messages_for :price_policy

  = render "price_policies/#{@product.is_a?(Instrument) ? 'instrument/' : ''}price_policy_fields", f: f
  %ul.inline
    %li= submit_tag text("views.price_policies.index.add"), class: "btn btn-primary"
    %li= link_to text("shared.cancel"), price_policies_path
