:javascript
  var events_path     = "#{facility_instrument_reservations_path(@instrument.facility, @instrument, format: 'js', with_details: @instrument.show_details?)}";
  var minDate         = "#{@reservation_window&.min_date}";
  var maxDate         = "#{@reservation_window&.max_date}";
  var maxDaysFromNow  = #{@reservation_window&.max_window};
  var minDaysFromNow  = #{@reservation_window&.max_days_ago};
  var minTime         = #{@instrument.first_available_hour};
  var maxTime         = #{@instrument.last_available_hour+1};
  var isBundle        = #{@order_detail.bundled? || @order.order_details.count > 1};
  var ctrlMechanism   = "#{@instrument.control_mechanism}";
  var ordering_on_behalf = #{acting_as?};
  var reserveInterval = #{@instrument.reserve_interval};
  var reserveMinimum  = #{@instrument.min_reserve_mins || 0};
  var reserveMaximum  = #{@instrument.max_reserve_mins || 0};
  var instrumentOnline = #{@instrument.online?};
  var initialDate = "#{@reservation&.reserve_start_at&.iso8601}";
