%table.table.table-striped.table-hover.old-table.js--responsive_table
  %thead
    %tr
      %th.centered= OrderDetail.human_attribute_name(:id)
      %th.centered= text("actions")
      %th{ data: { "mobile-header" => text("short_reservation") } }= text("reservation")
      %th.order-note.order-note--wide= OrderDetail.human_attribute_name(:product)
      %th.centered= OrderDetail.human_attribute_name(:status)
      %th.currency= OrderDetail.human_attribute_name(:unassigned_total)
  %tbody
    - order_details.each do |od|
      - order = od.order
      - res = od.reservation
      %tr
        %td.centered= link_to od, order_order_detail_path(order, od)
        - next unless res
        %td.centered
          = reservation_actions(res)
          &nbsp;
        %td
          = reservation_view_edit_link(res)
        %td.user-order-detail.order-note.order-note--wide
          .order-detail-description
            - product_name = OrderDetailPresenter.new(od).description_as_html
            = link_to "#{od.product.facility.abbreviation} / #{product_name}".html_safe, facility_instrument_path(od.product.facility, od.product)

            = warning_if_instrument_is_offline_or_partially_available(od.product)

            - if od.note.present?
              .order-detail-extra.order-detail-note
                = render "shared/order_detail_note", order_detail: od

        %td.centered= od.order_status.name
        %td.currency
          = OrderDetailPresenter.new(od).wrapped_total

= render "/price_display_footnote"
= will_paginate(order_details)
