.datetime-block
  - start_disabled = f.object.persisted? && !f.object.reserve_start_at_editable?
  = f.input :reserve_start_date, :input_html => { :class => 'datepicker', disabled: start_disabled }
  .control-group
    .controls
      .string.optional.control-label &nbsp;
      = time_select f, :reserve_start, { minute_step: @instrument.reserve_interval }, disabled: start_disabled
      - if start_disabled
        = f.input :reserve_start_date, as: :hidden
        = f.input :reserve_start_hour, as: :hidden
        = f.input :reserve_start_min, as: :hidden
        = f.input :reserve_start_meridian, as: :hidden
  = f.input :duration_mins, input_html: { value: f.object.new_record? ? default_duration : f.object.duration_mins, class: 'timeinput', disabled: (f.object.persisted? && !f.object.reserve_end_at_editable?) }


