.datetime-block
  - start_disabled = f.object.persisted? && !f.object.reserve_start_at_editable?
  = f.input :reserve_start_date, input_html: { class: "datepicker", disabled: start_disabled }
  .control-group
    .controls
      .string.optional.control-label &nbsp;
      = time_select f, :reserve_start, { minute_step: @instrument.reserve_interval }, disabled: start_disabled
  = f.input :duration_mins, input_html: { value: f.object.new_record? ? default_duration : f.object.duration_mins, class: 'timeinput', disabled: end_time_disabled?(f.object) }

  - if f.object.actual_start_at?
    .datetime-block
      .started-at= "Started: #{l(f.object.actual_start_at, format: :usa)}"

.datetime-block
  = f.input :reserve_end_date, input_html: { class: "datepicker" }
  .control-group
    .controls
      .string.optional.control-label &nbsp;
      = time_select f, :reserve_end, { minute_step: @instrument.reserve_interval }
