= content_for :head_content do
  = render partial: 'shared/headers/calendar'
  = javascript_include_tag 'reservations.js'
  = render partial: 'js_variables'

- unless @order.purchased?
  = content_for :breadcrumb do
    %ul.breadcrumb
      %li= link_to 'Home', facilities_path
      %li &raquo;
      %li= link_to @instrument.facility, facility_path(@instrument.facility)
      %li &raquo;
      %li= link_to 'Cart', order_path(@order)
      %li &raquo;
      %li Edit Reservation


= content_for :h1 do
  = @instrument.facility

%h2= @instrument

= simple_form_for([@order, @order_detail, @reservation], html: { class: "js--reservationForm", data: { reservation_id: @reservation.id } }) do |f|
  = f.error_messages

  - if show_note_input_to_user?(@order_detail)
    .well
      .container
        .row
          .span
            = f.input :note,
              label: @order_detail.product.user_notes_label.presence,
              required: @order_detail.product.user_notes_field_mode.required?,
              hint: t("reservations.account_field.note_hint")

  = render "reservation_fields", f: f

  %ul.inline
    %li= f.submit t('shared.save'), class: 'btn'
    - if @order.purchased?
      %li= link_to t('shared.cancel'), reservations_path
    - else
      %li= link_to t('shared.cancel'), cart_path

- if @instrument.daily_booking? && !@instrument.start_time_disabled?
  = render "reservations/open_hours"

#overlay
  #spinner
    #hide
      #calendar{ data: reservations_calendar_config }
