= content_for :head_content do
  = render :partial => 'shared/headers/calendar'
  = javascript_include_tag 'reservations.js'

  :javascript
    var events_path     = "#{facility_instrument_reservations_path(@instrument.facility, @instrument, :format => 'js', :with_details => @instrument.show_details?)}";
    var minDate         = "#{@min_date}";
    var maxDate         = "#{@max_date}";
    var maxDaysFromNow  = #{@max_window};
    var minTime         = #{@instrument.first_available_hour};
    var maxTime         = #{@instrument.last_available_hour+1};
    var withDetails     = #{@instrument.show_details? || false};

- unless @order.purchased?
  = content_for :breadcrumb do
    %ul.bredcrumb
      %li= link_to 'Home', facilities_path
      %li &raquo;
      %li= link_to @instrument.facility, facility_path(@instrument.facility)
      %li &raquo;
      %li= link_to 'Cart', order_path(@order)
      %li &raquo;
      %li Edit Reservation


= content_for :h1 do
  =h @instrument.facility

%h2=h @instrument

= simple_form_for([@order, @order_detail, @reservation]) do |f|
  = f.error_messages

  .row
    .well.span12
      = render :partial => 'reservation_fields', :locals => {:f => f}
  %ul.inline
    %li= f.submit 'Save', :class => 'btn'
    - if @order.purchased?
      %li= link_to 'Cancel', reservations_path
    - else
      %li= link_to 'Cancel', cart_path

#overlay
  #spinner
    #hide
      #calendar
