- content_for :head_content do
  %script{:type => 'text/javascript', :src => "#{request.protocol}ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"}
  = javascript_include_tag 'calendar/fullcalendar.min.js'
  = javascript_include_tag 'reservations.js'
  = stylesheet_link_tag 'calendar/fullcalendar.css'
  = stylesheet_link_tag 'calendar/fullcalendar.extensions.css'
  :javascript
    var events_path     = "#{facility_instrument_reservations_url(@instrument.facility, @instrument, :format => 'js')}";
    var minDate         = "#{@min_date}";
    var maxDate         = "#{@max_date}";
    var maxDaysFromNow  = #{@instrument.max_reservation_window};
    var minTime         = #{@instrument.first_available_hour};
    var maxTime         = #{@instrument.last_available_hour+1};

- unless @order.purchased?
  -content_for :breadcrumb do
    %ul.horiz
      %li= link_to 'Home', facilities_path
      %li &raquo;
      %li= link_to @instrument.facility, facility_path(@instrument.facility)
      %li &raquo;
      %li= link_to 'Cart', order_path(@order)
      %li &raquo;
      %li Edit Reservation


- content_for :h1 do
  =h @instrument.facility

%h2=h @instrument

- form_for([@order, @order_detail, @reservation]) do |f|
  = f.error_messages
  %ul.form.box
    = render :partial => 'reservation_fields', :locals => {:f => f}
  %ul.horiz
    %li= f.submit 'Save', :class => 'btn'
    - if @order.purchased?
      %li= link_to 'Cancel', orders_path
    - else
      %li= link_to 'Cancel', cart_path

#overlay
  #spinner
    #hide
      #calendar
