= content_for :h1 do
  = t_my(Reservation)

= content_for :tabnav do
  %ul.nav.nav-tabs
    - @available_statuses.each do |status|
      = tab I18n.t("reservations.list.status.#{status}"),
        reservations_status_path(status: status),
        (@status == status)

- if @order_details.any?
  = render "my_table", order_details: @order_details
- else
  %p.notice= text("none")

= render "shared/auto_logout"
