= content_for :head_content do
  = render "shared/headers/calendar"
  = javascript_include_tag "reservations.js"
  = render "js_variables"

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to t("pages.home"), facilities_path
    %li &raquo;
    %li= link_to @instrument.facility, facility_path(@instrument.facility)
    %li &raquo;
    - if @order.order_details.count > 1
      %li= link_to t("pages.cart"), order_path(@order)
      %li &raquo;
    %li= t(".crumb")

= content_for :h1 do
  = @instrument.facility

%h2= @instrument

- if @instrument.offline?
  %p.alert.alert-danger= text("instruments.offline.notice")
- elsif @instrument.has_alert?
  %p.alert.alert-warning= text("instruments.schedule.instrument_alert_is_active", note: @instrument.alert.note)

= render "products_common/description", product: @instrument

= simple_form_for [@order, @order_detail, @reservation], html: { class: "js--reservationForm js--reservationUpdateCreateAndStart" } do |f|
  = f.error_messages
  = render "account_field", f: f unless @order_detail.bundled?
  = render "reservation_fields", f: f

  - if acting_as?
    .row
      - if @order.order_details.size == 1
        .span6.send-notification
          = label_tag :send_notification, class: "checkbox" do
            = hidden_field_tag :send_notification, 0
            = check_box_tag :send_notification, 1, params[:send_notification] == "1"
            = t(".notify")

  - if @instrument.offline?
    %p.alert.alert-danger= text("instruments.offline.notice")

  %ul.inline
    %li
      = f.submit t("shared.create"),
        class: "btn",
        id: "reservation_submit",
        data: { disable_with: t("shared.create") }

    - url_after_action = facility_path(@instrument.facility)
    %li
    - if @order.to_be_merged?
      = link_to t("shared.cancel"), facility_order_path(@instrument.facility, @order.merge_order)
    - elsif @order_detail.bundled?
      = link_to t("shared.cancel"), url_after_action
    - else
      = link_to t("shared.cancel"),
        remove_order_path(@order, @order_detail, redirect_to: url_after_action),
        method: :put

#overlay
  #spinner
    #hide
      #calendar{ data: { show_tooltip: @instrument.show_details.to_s, start_editable: "true" } }
