- if flash[:notice]
  %p.notice= flash[:notice]
%p= t('product_accessories.pick_accessories.instruct')
- @errors_by_id ||= {}

= form_tag order_order_detail_reservation_pick_accessories_path(@order, @order_detail, @reservation), :remote => true, 'data-type' => 'html', :class => :pick_accessories_form do
  %table
    - @product_accessories.each do |pa|
      - a = pa.accessory
      - if errors = @errors_by_id[a.id]
        %tr
          %td{:colspan => 2, :class => 'errors'}= errors
      %tr
        %td
          %b= a.to_s
        %td
          = text_field_tag "quantity#{a.id}", params["quantity#{a.id}"], :size => 3
    %tr
      %td= submit_tag 'Add Accessories', :class => 'btn'
      %td= submit_tag 'Cancel', :class => 'btn', :id => 'cancel-btn'
