%p If any of the following were used during this reservation, please enter their quantities.
- @errors_by_id ||= {}

= form_tag order_order_detail_reservation_pick_accessories_path(@order, @order_detail, @reservation), :remote => true, 'data-type' => 'html', :class => :pick_accessories_form do
  %ul
    - @product_accessories.each do |pa|
      - a = pa.accessory
      %li
        %b= a.to_s
        = text_field_tag "quantity#{a.id}", params["quantity#{a.id}"], :size => 3
        - if errors = @errors_by_id[a.id] 
          .errors= errors
            
    %li= submit_tag 'Add Accessories'
