= content_for :head_content do
  = javascript_include_tag "tooltipsy"
  = javascript_include_tag "timeline"

= content_for :h1 do
  = current_facility

.timeline_header
  = modelless_form_for url: facility_public_timeline_path(current_facility), method: :get, id: "timeline_date_search" do |f|
    #reservation_date_container
      = link_to "&laquo;".html_safe,
        facility_public_timeline_path(current_facility, date: format_usa_date(@display_datetime - 1.day)), id: "reservation_left"
      #reservation_date
        = l(@display_datetime.to_date, format: :timeline_navigation)
        = hidden_field_tag "date", format_usa_date(@display_datetime), class: "datepicker"
      = link_to "&raquo;".html_safe,
        facility_public_timeline_path(current_facility, date: format_usa_date(@display_datetime + 1.day)), id: "reservation_right"

.row
  .span12.timeline-wrapper
    = render partial: "schedule", collection: @schedules, as: :schedule
