%li
  = f.label :name, :class => 'required'
  = f.text_field :name
%li.box
  %p.instruction= t(".internal_instruction")
  %br
  = f.check_box :is_internal
  %b= PriceGroup.human_attribute_name(:is_internal)
