= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_admin', :locals => { :sidenav_tab => 'price_groups' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_price_group', :locals => { :secondary_tab => 'edit' }

= simple_form_for([current_facility, @price_group]) do |f|
  = f.error_messages
  %ul.form
    = render :partial => 'price_group_fields', :locals => {:f => f}
  %ul.inline
    %li= f.submit 'Update', :class => ['btn', 'btn-primary']
    %li= link_to 'Cancel', facility_price_group_path
