= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "price_groups"
= content_for :tabnav do
  = render "admin/shared/tabnav_price_group", secondary_tab: @tab.to_s

%h3= @price_group.name
- case @tab
- when :accounts
  = render "accounts"
- when :users
  = render "users"
