= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "facilities"

= content_for :h1 do
  = current_facility

= render "facility_accounts/sidebar"

%h2= @account

= simple_form_for @account_facility_joins_form, url: facility_account_account_facility_joins_path, method: :patch do |f|

  = f.input :facility_ids, collection: Facility.alphabetized, input_html: { multiple: true, class: "js--chosen half-width" }, label_method: :to_s
  = f.submit text("shared.save"), class: "btn btn-primary"
