.row
  .span12
    %p.alert.alert-error= t("facility_journals.new.expired_payment")
.row
  .span12
    %p= link_to t("reports.account_transactions.export"), url_for(params.merge(format: :csv)), class: 'js--exportSearchResults pull-right', data: { form: '.search_form' }
.row
  .span12
    %table.table.table-striped.table-hover.dense.old-table
      %thead
        %tr
          %th= Order.model_name.human
          %th= OrderDetail.model_name.human
          %th.nowrap= OrderDetail.human_attribute_name(@date_range_field)
          - if current_facility.blank? || cross_facility?
            %th= Facility.model_name.human
          %th.order-note= OrderDetail.human_attribute_name("description")
          %th.nowrap= OrderDetail.human_attribute_name("user")
          %th= Account.model_name.human
          %th.nowrap= Account.human_attribute_name("expires_at")
          %th= Account.human_attribute_name("owner")
          %th.currency= OrderDetail.human_attribute_name("cost")
          %th= OrderDetail.human_attribute_name("order_status")
      %tbody
        - order_details.each do |order_detail|
          %tr{ class: row_class(order_detail) }
            %td.nowrap= link_to order_detail.order.id, facility_order_path(order_detail.order.facility, order_detail.order)
            %td.nowrap= link_to order_detail.id, manage_order_detail_path(order_detail), class: 'manage-order-detail'
            - if current_facility.blank? || cross_facility?
              %td= order_detail.order.facility
            %td= format_usa_date(order_detail.public_send(:"#{@date_range_field}"))
            %td.user-order-detail.order-note
              .order-detail-description
                = order_detail_description(order_detail)
                - order_detail.extend(PriceDisplayment)
                = "(#{order_detail.wrapped_quantity})".html_safe unless order_detail.problem?
                - if order_detail.time_data.present?
                  %br
                  %em= order_detail.time_data
              - if order_detail.note.present?
                .order-detail-extra.order-detail-note
                  = render "shared/order_detail_note", order_detail: order_detail
            %td= order_detail.order.user.full_name
            %td= order_detail.account
            %td= format_usa_date(order_detail.account.expires_at)
            %td= order_detail.account.owner_user
            %td.currency
              = order_detail.wrapped_total
            %td.nowrap= order_detail.order_status
