= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'journals' }

- if @pending_journal
  %h2= t(".head.pending")
  %div= t(".instructions_html")

  = form_for([current_facility, @pending_journal]) do |f|
    = f.error_messages 
    %table
      %tr
        %th= t(".th.download")
        %th= t(".th.journaled_at")
        %th= Journal.human_attribute_name(:amount)
        %th
          %span.require= Journal.human_attribute_name(:reference)
        %th= Journal.human_attribute_name(:description)
        %th
          %span.require= Journal.human_attribute_name(:journal_status)
      %tr
        %td
          %ul
            %li=link_to 'XLS File', @pending_journal.file.url
            %li=link_to 'XML File', facility_journal_path(current_facility, @pending_journal, :format => 'xml')
        %td=h human_datetime(@pending_journal.created_at)
        %td=h number_to_currency(@pending_journal.amount)
        %td= f.text_field :reference
        %td= f.text_field :description
        %td
          = select_tag :journal_status, options_for_select([[' ', nil], ['Succeeded, no errors', 'succeeded'], ['Succeeded, with errors', 'succeeded_errors'], ['Failed', 'failed']])
          = submit_tag t(".journal.close"), :confirm => t(".journal.confirm")

%h2= t(".head.closed")
- if @journals.blank?
  %p.notice= t(".notice.no_journals")
- else
  %table
    %tr
      %th
      %th= Journal.human_attribute_name(:created_at).titlecase
      %th= Journal.human_attribute_name(:journal_date).titlecase
      %th= Journal.human_attribute_name(:reference)
      %th= Journal.human_attribute_name(:journal_status)
    - @journals.each do |j|
      %tr
        %td.centered= link_to 'View', facility_journal_path(current_facility, j)
        %td=h human_datetime(j.created_at)
        %td=h human_date(j.journal_date)
        %td=h j.reference
        %td=h j.status_string
