= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'journals' }

%h2 Pending Journal
- if @pending_journal.nil?
  %p.notice There is no pending journal at this time
- else
  %p
    You should only update this journal after receiving confirmation of a successful or failed journal from
    NU Financials.  If the journal was processed successfully without any changes, you may choose "Succeeded, no errors".
    This will mark all orders included in the journal as reconciled and you will be unable to make any further changes to them.
  %p
    If the journal succeeded, but if pricing or payment source changes were necessary to one or more orders
    or if one more more orders were removed from the journal for the journal to succeed, choose "Succeeded, with errors".
    This will mark the journal as successfully, but you will need to reconcile the orders individually.
  %p
    If the journal failed, you may choose "Failed".  This will allow you to include all orders in a new journal.

  = form_for([current_facility, @pending_journal]) do |f|
    = f.error_messages 
    %table
      %tr
        %th Download
        %th Journaled On
        %th Amount
        %th
          %span.require Reference
        %th Notes
        %th
          %span.require Status
      %tr
        %td
          %ul
            %li=link_to 'XLS File', @pending_journal.file.url
            %li=link_to 'XML File', facility_journal_path(current_facility, @pending_journal, :format => 'xml')
        %td=h human_datetime(@pending_journal.created_at)
        %td=h number_to_currency(@pending_journal.amount)
        %td= f.text_field :reference
        %td= f.text_field :description
        %td
          = select_tag :journal_status, options_for_select([[' ', nil], ['Succeeded, no errors', 'succeeded'], ['Succeeded, with errors', 'succeeded_errors'], ['Failed', 'failed']])
          = submit_tag 'Close Journal', :confirm => 'You are about to close this journal. Please ensure you have selected the correct status.'

%h2 Closed Journals
- if @journals.blank?
  %p.notice No journals have been closed yet
- else
  %table
    %tr
      %th
      %th Created At
      %th Journal Date
      %th Reference
      %th Status
    - @journals.each do |j|
      %tr
        %td.centered= link_to 'View', facility_journal_path(current_facility, j)
        %td=h human_datetime(j.created_at)
        %td=h human_date(j.journal_date)
        %td=h j.reference
        %td=h j.status_string
