= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "journals"

%h2= t(".head.h2", journal: @journal)
.row
  .span5
    = readonly_form_for :journal do |f|
      = f.input :created_at
      = f.input :created_by_user
      = f.input :journal_date
      = f.input :reference
      = f.input :description
      = f.input :status_string
  .span4
    .well
      = render "downloads", facility: current_facility, journal: @journal, label_size: :long

%hr

%h3= t(".head.h3")
%p= t(".instruct.orders")

- if @journal.open?
  %p= t(".journal.pending")
- elsif !@journal.successful?
  %p= t(".journal.failed")
- elsif @journal.successful? && @journal.reconciled?
  %p= t(".journal.success")
- else
  %p= t(".instruct.reconcile")

- if @journal.order_details.present?
  = form_tag facility_journal_reconcile_path(current_facility, @journal), method: :post do
    - journal_is_submittable = @journal.submittable?
    %table.table.table-striped.table-hover
      %thead
        - if journal_is_submittable
          %tr.borderless
            %th{colspan: 3}= select_all_link
            %th.currency{colspan: 3}= submit_tag t(".submit"), class: "btn btn-primary"
        %tr
          - if journal_is_submittable
            %th
          %th= t(".th.order")
          %th= t(".th.fulfilled")
          %th= t(".th.account")
          %th= t(".th.total")
          %th= t(".th.reconciled")
      %tbody
        - @journal.order_details.each do |order_detail|
          - disable = order_detail.reconciled? || @journal.open?
          %tr
            - if journal_is_submittable
              %td= check_box_tag "order_detail[#{order_detail.id}][reconciled]", "1", order_detail.reconciled?, disabled: order_detail.reconciled?, class: (order_detail.reconciled? ? "" : "toggle")
            %td
              = link_to order_detail, facility_order_path(order_detail.order.facility.url_name, order_detail.order_id)
              - if order_detail.note?
                %br
                = order_detail.note
            %td= format_usa_datetime(order_detail.fulfilled_at)
            %td= order_detail.account
            %td= number_to_currency(order_detail.total)
            %td= order_detail.reconciled? ? t("boolean.true") : t("boolean.false")
        - if journal_is_submittable
          %tr.borderless
            %td{colspan: 3}
            %td.currency{colspan: 3}= submit_tag t(".submit"), class: "btn btn-primary"
- else
  %p.notice= t(".notice")
