= content_for :h1 do
  =h current_facility

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'journals' }

%h2= t('.head.h2', :journal => @journal)
%ul.form
  %li
    %label= t('.label.created_at')
    =h human_datetime @journal.created_at
  %li
    %label= t('.label.created_by')
    =h @journal.created_by_user
  %li
    %label= t('.label.journal_date')
    =h human_date @journal.journal_date
  %li
    %label= t('.label.journal_status')
    =h @journal.status_string
  - if Settings.financial.journal_format.xls
    %li=link_to 'Download XLS File', @journal.file.url
  - if Settings.financial.journal_format.xml
    %li=link_to 'Download XML File', facility_journal_path(current_facility, @journal, :format => 'xml')
  - if Settings.financial.journal_format.csv
    %li=link_to 'Download CSV File', facility_journal_path(current_facility, @journal, :format => 'csv')

%br
%hr
%br

%h3= t('.head.h3')
%p= t('.instruct.orders')

- if @journal.open?
  %p= t('.journal.pending')
- elsif !@journal.is_successful?
  %p= t('.journal.failed')
- elsif @journal.is_successful? && @journal.is_reconciled?
  %p= t('.journal.success')
- else
  %p= t('.instruct.reconcile')

- if @order_details.empty?
  %p.notice= t('.notice')
- else
  = form_tag facility_journal_reconcile_path(current_facility, @journal), :method => :post do
    %table
      - if @journal.is_successful? && !@journal.is_reconciled?
        %tr.borderless
          %td{:colspan => 3}
          %td.currency{:colspan => 3}= submit_tag t('.submit')
      %tr
        %th
        %th= t('.th.order')
        %th= t('.th.fulfilled')
        %th= t('.th.account')
        %th= t('.th.total')
        %th= t('.th.reconciled')
      - @order_details.each do |od|
        - disable = od.reconciled? || @journal.open?
        %tr
          %td= check_box_tag "order_detail_ids[]", od.id, (od.reconciled? ? true : false), {:disabled => (od.reconciled? ? true : false)}
          %td
            %ul
              %li= link_to od, edit_facility_order_order_detail_path(od.order.facility.url_name, od.order_id, od)
              - unless od.note.blank?
                %li=h od.note
          %td=h human_datetime(od.fulfilled_at)
          %td=h od.account
          %td=h number_to_currency od.total
          %td=h od.reconciled? ? 'Yes' : 'No'
      - if @journal.is_successful? && !@journal.is_reconciled?
        %tr.borderless
          %td{:colspan => 3}
          %td.currency{:colspan => 3}= submit_tag t('.submit')
