%table.table.table-striped.table-hover
  %caption= t("facility_accounts_reconciliation.index.caption", model: account_class.model_name.human)
  %thead
    %tr
      %th
      %th{scope: "col"}= Statement.human_attribute_name(:invoice_number)
      %th{scope: "col"}= Account.model_name.human
      %th{scope: "col"}= Order.model_name.human
      %th{scope: "col"}= Statement.human_attribute_name(:total_cost)
      %th#reconcile-note.row-note-input{scope: "col"}= Statement.human_attribute_name(:reconcile_note)
      %th#reconcile-crt-number.row-note-input{ scope: "col", data: { toggle: "tooltip" }, title: t("facility_accounts_reconciliation.index.bulk_crt_number_hint") }
        = Statement.human_attribute_name(:crt_number)
  %tbody
    - @unreconciled_details.each do |order_detail|
      %tr
        %td.centered= check_box_tag "order_detail[#{order_detail.id}][reconciled]", "1", false, class: "toggle", aria: {label: t("facility_accounts_reconciliation.index.checkbox_label", order_number:  order_detail.to_s)}
        %td= "##{order_detail.statement_invoice_number}"
        %td
          = order_detail.account
          %br
          = order_detail.account.owner_user
        %th.user-order-detail{scope: "row"}
          .order-detail-description
            = link_to "##{order_detail.order_id}", facility_order_path(current_facility, order_detail.order_id)
            = "-"
            = link_to "#{order_detail.id}", manage_order_detail_path(order_detail), class: "manage-order-detail"
            = ": #{order_detail.product}"
            - if order_detail.note.present?
              .order-detail-extra.order-detail-note= order_detail.note

        %td= show_actual_total(order_detail)
        %td.row-note-input= text_field_tag "order_detail[#{order_detail.id}][reconciled_note]", nil, aria: {labelledby: "reconcile-note"}
        %td.row-note-input= text_field_tag "order_detail[#{order_detail.id}][crt_number]", nil, aria: {labelledby: "reconcile-crt-number"}
