%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th= Statement.human_attribute_name(:invoice_number)
      %th= Order.model_name.human
      %th= Statement.human_attribute_name(:total_cost)
      %th= Statement.human_attribute_name(:reconcile_note)
  %tbody
    - @unreconciled_details.each do |order_detail|
      %tr
        %td.centered= check_box_tag "order_detail[#{order_detail.id}][reconciled]", "1", true, class: "toggle"
        %td= "##{order_detail.statement_invoice_number}"
        %td.user-order-detail
          .order-detail-description
            = link_to "##{order_detail.order_id}", facility_order_path(current_facility, order_detail.order_id)
            = "-"
            = link_to "#{order_detail.id}", manage_order_detail_path(order_detail), class: "manage-order-detail"
            = ": #{order_detail.product}"
            - if order_detail.note.present?
              .order-detail-extra.order-detail-note= order_detail.note

        %td= show_actual_total(order_detail)
        %td= text_field_tag "order_detail[#{order_detail.id}][reconciled_note]"
