= javascript_include_tag "transaction_history"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render :partial => "admin/shared/sidenav_billing", locals: { sidenav_tab: account_route }

%h2= t(".head", model: account_class.model_name.human(count: 2))

= render "shared/transactions/search"

- if @unreconciled_details.any?
  = form_tag([:update, account_route.to_sym, FacilityAccount], method: :post) do
    = render "action_row", date: true, unreconciled_order_details: @unreconciled_details
    = render partial: "table"
    = render partial: "action_row"

  %p= will_paginate(@unreconciled_details)
- else
  %p.notice= t(".none", model: account_class.model_name.human(count: 2).downcase)
