= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'bundles' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'products'}

%h2== Edit Bundled Product
%h3=h @bundle_product.product

= form_for([current_facility, @bundle, @bundle_product]) do |f|
  = f.error_messages
  %ul.form
    %li
      = f.label :quantity, nil, :class => 'require'
      = f.text_field :quantity
  %ul.inline
    %li= f.submit 'Save', :class => 'btn'
    %li= link_to 'Cancel', facility_bundle_bundle_products_path