= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "bundles"
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "products"

%h2= text("admin.shared.edit", model: BundleProduct.model_name.human)
%h3= @bundle_product.product

= simple_form_for([current_facility, @bundle, @bundle_product]) do |f|
  = f.error_messages
  .form-inputs
    = f.input :quantity, required: true
  %ul.inline
    %li= f.submit text("shared.save"), class: "btn btn-primary"
    %li= link_to text("shared.cancel"), facility_bundle_bundle_products_path
