= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "bundles"
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "products"

%h2= @bundle

%p= text("description")

- unless @bundle.products_active?
  %p.notice= text("none_or_inactive")

#admin-subnav
  - if can? :create, BundleProduct
    %ul.inline
      %li= link_to text("add"), new_facility_bundle_bundle_product_path, class: "btn-add"

- if @bundle_products.empty?
  %p.notice= text("none")
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th= Product.model_name.human
        %th= Bundle.human_attribute_name(:quantity)
    %tbody
      - @bundle_products.each do |bundle_product|
        - product = bundle_product.product
        %tr
          %td.centered= link_to text("shared.remove"), facility_bundle_bundle_product_path(current_facility, @bundle, bundle_product), :method => :delete if can? :delete, bundle_product
          %td= link_to product.to_s_with_status, send("manage_facility_#{product.class.name.downcase}_path", current_facility, product)
          - if product.is_a?(Instrument) or cannot? :edit, bundle_product
            %td= bundle_product.quantity
          - else
            %td= %(#{bundle_product.quantity} (#{link_to text("shared.edit"), edit_facility_bundle_bundle_product_path(current_facility, @bundle, bundle_product)})).html_safe
