= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "bundles"

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "products"

%h2= t(".head")

= form_for([current_facility, @bundle, @bundle_product]) do |f|
  = f.error_messages

  %ul.form
    %li
      = f.label :product_id, nil, class: "require"
      = f.select :product_id,
        grouped_options_for_select(@bundle.products_for_group_select, @bundle_product.product_id, prompt: "")

    %li
      = f.label :quantity, nil, class: "require"
      = f.text_field :quantity

  %ul.inline
    %li= f.submit t("shared.create"), class: "btn"
    %li= link_to t("shared.cancel"), facility_bundle_bundle_products_url
