= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "bundles"

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "products"

%h2= text("admin.shared.add", model: BundleProduct.model_name.human)

= simple_form_for([current_facility, @bundle, @bundle_product]) do |f|
  = f.error_messages

  .form-inputs
    = f.label :product_id, nil, class: "require"
    = f.select :product_id,
      grouped_options_for_select(@bundle.products_for_group_select, @bundle_product.product_id, prompt: "")

    = f.input :quantity, required: true

  %ul.inline
    %li= f.submit t("shared.create"), class: "btn"
    %li= link_to t("shared.cancel"), facility_bundle_bundle_products_url
