= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.class.name.pluralize.underscore
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "details"

%h2= @product
= readonly_form_for @product.class.name.underscore, @product do |f|
  = f.input :url_name, input_html: { value: link_to(polymorphic_url([current_facility, @product]), [current_facility, @product]) }

  - if SettingsHelper::feature_on? :product_specific_contacts
    = f.input :email

  = f.input :description, input_html: { class: "wysiwyg" }

  - unless @product.is_a?(Bundle)
    = f.input :facility_account,
      input_html: { value: @product.facility_account.account_number + (@product.facility_account.is_active? ? "" : " (inactive)") }

    = f.input :initial_order_status
    = f.input :requires_approval
    - if f.object.requires_approval?
      = f.input :allows_training_requests
  = f.input :is_archived
  = f.input :is_hidden
  - unless @product.is_a?(Bundle)
    = f.input :user_notes_field_mode, value_method: :to_label
    = f.input :user_notes_label if f.object.user_notes_label? && f.object.user_notes_field_mode.visible?
  = f.input :email_purchasers_on_order_status_changes

  = render_if_exists "#{@product.class.name.underscore}_manage_fields", f: f
- if can? :edit, @product
  %ul.inline
    %li= link_to "Edit", [:edit, current_facility, @product], class: "btn"
