- if params[:search_term].present?
  - if @accounts.blank?
    %p.error= t(".error.notfound")
  - else
    %h3= t(".head")

    - if SettingsHelper.feature_on?(:edit_accounts)
      %p
        = t(".main")
        = link_to t(".create"), new_account_user_search_facility_accounts_path(current_facility)
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= Account.human_attribute_name(:account_number)
          %th= Account.human_attribute_name(:owner)
          %th= Account.human_attribute_name(:expires_at)
      %tbody
        - @accounts.each do |account|
          %tr
            %td= link_to account, facility_price_group_account_price_group_members_path(current_facility, @price_group, account_id: account.id), method: :post
            %td= account.owner_user.full_name if account.owner_user
            %td= human_date(account.expires_at)
    - if @accounts.count > @limit
      %p.notice= t(".notice", count: @count - @limit)
- else
  %p.error= t(".error.noterm")
