= content_for :h1 do
  = t('pages.login')

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.label User.human_attribute_name(:username)
  = f.text_field :username, :autofocus => true
  = f.label User.human_attribute_name(:password)
  = f.password_field :password
  %br
  = f.submit t('pages.login'), class: 'btn'

- if SettingsHelper.feature_on? :password_update
  = link_to "Forgot password?", :reset_password
