- if @product_users.nil?
- elsif @product_users.empty?
  -if @search
    %p.notice= text("no_results")
  - else
    %p.notice= text("empty_access_list")
- else
  - if @product.has_product_access_groups?
    = form_for @product, url: [current_facility, @product, :update_restrictions], method: :put do |f|
      = render "table", f: f
      = f.submit text("update", plural_label: ProductAccessGroup.model_name.human.pluralize),
        class: ["btn", "btn-primary"]
  - else
    = render "table"
