= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product",
    sidenav_tab: @product.class.name.pluralize.underscore

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "users"

%h2= @product
%h3= text("header")

%p= text("explanation", product_type: @product.model_name.human.downcase)

%p= link_to text("add"), [:new, current_facility, @product, :user], class: "btn-add"

- if @product_users.nil?
- elsif @product_users.empty?
  %p.notice= text("none")
- else
  - if @product.has_product_access_groups?
    = form_for @product, url: [current_facility, @product, :update_restrictions], method: :put do |f|
      = render "table", f: f
      = f.submit text("update", plural_label: ProductAccessGroup.model_name.human.pluralize),
        class: ["btn", "btn-primary"]
  - else
    = render "table"

  = will_paginate(@product_users)

