= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product",
    sidenav_tab: @product.class.name.pluralize.underscore

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "users"

%h2= @product
%h3= t(".approved_users")

%p= t(".approval_explanation", product_type: @product.model_name.human.downcase)

= link_to t(".add_approved_user"),
  [:new, current_facility, @product, :user],
  class: "btn-add"

- @show_levels = @product.respond_to?(:product_access_groups) && @product.product_access_groups.any?

- if @product_users.nil?
- elsif @product_users.empty?
  %p.notice= t(".no_users_approved")
- else
  = form_for @product, url: [current_facility, @product, :update_restrictions], method: :put do |f|
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
          %th= t(".th.name")
          %th= t(".th.user_name")
          %th= t(".th.email")
          - if @show_levels
            %th= ProductAccessGroup.model_name.human
      %tbody
        - @product_users.each do |product_user|
          - user = product_user.user
          %tr
            %td.centered
              = link_to t("shared.remove"),
                [current_facility, @product, user],
                method: :delete,
                data: { confirm: t(".confirm_removal", product_type: @product.model_name.human.downcase) }

            %td
              = link_to "#{user.last_name}, #{user.first_name}", [current_facility, user]

            %td= user.username
            %td= user.email
            - if @show_levels
              %td
                = f.fields_for :product_users, product_user, index: product_user.id do |pu|
                  = pu.select :product_access_group_id,
                    options_from_collection_for_select(@product.product_access_groups, "id", "name", product_user.product_access_group_id),
                    include_blank: true

    - if @show_levels
      = f.submit t(".update", plural_label: ProductAccessGroup.model_name.human.pluralize),
        class: ["btn", "btn-primary"]

  = will_paginate(@product_users)
