= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product",
    sidenav_tab: @product.class.name.pluralize.underscore

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "users"

%h2= @product
%h3= text("header")

.well.well-small
  = simple_form_for :product_user_import, url: facility_product_product_user_imports_path(current_facility, @product), html: { multipart: true } do |f|
    %p= text("import_hint", product_type: @product.model_name.human.downcase)
    .row
      %p.span2= link_to text("add"), [:new, current_facility, @product, :user], class: "btn-add"
      %label.span2.btn.btn-primary
        = text("import_button")
        %span{ style:"display:none" }= f.file_field :file, onchange: "form.submit()"

= render "users_results"
