= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => {:sidenav_tab => @product.class.name.pluralize.downcase}
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'users'}

%fieldset
  = form_tag user_search_results_url, :id => 'ajax_form' do
    = label_tag :search_term, t('.label.search_term')
    %br
    = text_field_tag :search_term, nil, :size => 30
    = submit_tag "Search", :class => 'btn'
    = hidden_field_tag :facility_id, current_facility.id
    = hidden_field_tag :product_id, @product.id
    = hidden_field_tag :search_type, 'user_product_approval'
    = hidden_field_tag :create_link, 'true'
%br
#result
