%li
  %ul.form.box
    %li
      %p.instruction= t('facility_facility_accounts.facility_account_fields.instruct')
    %li.left
      = render :partial => 'shared/account_fields', :locals => { :f => f, :account_class => FacilityAccount }
    %li.left
      =f.label :revenue_account, t('facility_facility_accounts.facility_account_fields.label.deposit_account'), :class => 'require'
      = f.text_field :revenue_account, :maxLength => 5, :size => 10
    %li.clear
%li
  = f.check_box :is_active
  %b= t('facility_facility_accounts.facility_account_fields.active')
