.well
  = render :partial => 'shared/account_fields', :locals => { :f => f, :account_class => FacilityAccount }
  = f.label :revenue_account, t('facility_facility_accounts.facility_account_fields.label.deposit_account'), :class => 'require'
  = f.text_field :revenue_account, :maxLength => 5, :size => 10

  = f.label :is_active do
    = f.check_box :is_active
    = t('facility_facility_accounts.facility_account_fields.active')
