= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_admin', :locals => { :sidenav_tab => 'recharge_accounts' }

%h2= t('.head')

%p= t('.main')

%ul.horiz
  %li= link_to t('.add'), new_facility_facility_account_path

- if @accounts.empty?
  %p.notice= t('.notice')
- else
  %table
    %tr
      %th
      %th= t('.th')
    - @accounts.each do |a|
      %tr
        %td= link_to 'Edit', edit_facility_facility_account_path(current_facility, a)
        %td=h a.to_s + (a.is_active? ? '' : ' (inactive)')
