= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "recharge_accounts"

%h2= FacilityAccount.model_name.human(count: 2)

%p= text("main")

%ul.inline
  %li
    = link_to text("admin.shared.add", model: FacilityAccount.model_name.human),
      new_facility_facility_account_path, class: "btn-add"

- if @accounts.empty?
  %p.notice= text("notice")

- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th= FacilityAccount.human_attribute_name(:account_number)
    %tbody
      - @accounts.each do |account|
        %tr
          %td
            = link_to t("shared.edit"),
              edit_facility_facility_account_path(current_facility, account)
          %td
            = account
            - unless account.is_active?
              = text("inactive")
