= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "recharge_accounts"

= content_for :head_content do
  = javascript_include_tag "accounts.js"

%h2= text("admin.shared.add", model: FacilityAccount.model_name.human)
= simple_form_for @facility_account, url: facility_facility_accounts_path(current_facility) do |f|
  = f.error_messages
  = render "facility_account_fields", f: f
  %ul.inline
    %li= f.submit t("shared.create"), class: "btn"
    %li= link_to t("shared.cancel"), facility_facility_accounts_path
