%ul.nav
  - if responsive?
    -# .hidden-with-nav is hidden > 979px
    %li.hidden-with-nav= link_to t('pages.cart') + " (#{current_cart.order_details.count})", :cart
    %li{class: [home_button.tab_class(controller), "useButton"], id: home_button.tab_id }  
      = home_button.to_html
    - if SettingsHelper.feature_on?(:use_manage)
      = render "shared/nav/manage_facilities"

  - navigation_links.each do |link|
    %li{class: link.tab_class(controller), id: link.tab_id }
      - if link.subnav.present?
        %li.dropdown
          = link_to "#", class: "dropdown-toggle", data: { toggle: :dropdown } do
            = link.text
            %b.caret
          %ul.dropdown-menu
            - link.subnav.each do |subnav_link|
              %li= subnav_link.to_html
      - else
        = link.to_html
  

-# .visible-with-nav is visible > 979px
= form_tag global_search_path, class: "navbar-search pull-right visible-with-nav" do
  = text_field_tag :search, nil, placeholder: t("global_search.search"), class: "search-query span2"

-# trailing "<" enables use of .nav-collapse .nav:empty in boostrap-responsive-overrides.scss
%ul.nav.pull-right<
  - if !SettingsHelper.feature_on?(:use_manage)
    = render "shared/nav/manage_facilities"
  - global_navigation_links.each do |link|
    %li{class: link.tab_class(controller)}= link.to_html
