= render "facility_accounts/sidebar"

= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "members"

= content_for :h1 do
  = current_facility

%h2= t(".head")

= simple_form_for(@account_user, url: facility_account_account_users_path(current_facility, @account)) do |f|
  = f.error_messages

  - if current_owner?
    %p.error= t(".messages.current_user")

  = f.simple_fields_for @account do |account|
    = account.input :type_string, as: :readonly
    = account.input :account_number, as: :readonly
    = account.input :description, as: :readonly
    = account.input :expires_at, as: :readonly, date_only: true

  = f.simple_fields_for @user do |user|
    = user.input :full_name, as: :readonly, label: Account.human_attribute_name(:user)

  = f.input :user_id, as: :hidden, input_html: { value: @user.id, name: "user_id" }

  = f.input :user_role,
    collection: AccountUserPresenter.selectable_user_roles(current_user, current_facility),
    selected: @account_user.user_role,
    disabled: current_owner?

  %ul.inline
    %li= f.submit "Create", class: "btn" unless current_owner?
    %li= link_to "Cancel", facility_account_path(current_facility, @account)
