= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_billing', :locals => { :sidenav_tab => 'accounts' }

= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_payment_method', :locals => {:secondary_tab => 'members'}

= content_for :h1 do
  =h current_facility

%h2= @account
%h3 Add Payment Source User

= form_tag user_search_results_url, :id => "ajax_form" do
  = label_tag :search_term, 'Search by name, NetID, or username'
  %br
  = text_field_tag :search_term, nil, :size => 30
  = submit_tag "Search", :class => 'btn'
  = hidden_field_tag :facility_id, current_facility.id
  = hidden_field_tag :account_id, @account.id
  = hidden_field_tag :search_type, 'facility_account_account_user'
  = hidden_field_tag :create_link, 'true'
%br
#result