= content_for :h1 do
  = t("pages.global_settings")

= content_for :sidebar do
  = render "admin/shared/sidenav_global", sidenav_tab: "journal_cutoff_dates"

%h2= t(".header")

= link_to t(".delete"), journal_cutoff_date_path(@journal_cutoff_date), confirm: t(".delete_confirm"), class: "btn btn-danger pull-right", method: :delete

= render "form"

