= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'items' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'details'}

%h2= @item
= readonly_form_for :item do |f|
  = render :partial => 'admin/shared/product_manage', :locals => { :f => f }
- if session_user.manager_of?(current_facility)
  %ul.inline
    %li= link_to 'Edit', edit_facility_item_path(current_facility, @item), :class => 'btn'
