= render :partial => 'shared/headers/ckeditor'

= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'items' }

%h2== Add Item
= simple_form_for([current_facility, @item]) do |f|
  = f.error_messages
  %ul.form
    = render :partial => 'admin/shared/product_details_fields', :locals => {:f => f}
  %ul.inline
    %li= f.submit 'Create', :class => 'btn'
    %li= link_to 'Cancel', facility_items_path
