= content_for :h1 do
  Global Settings

= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_global', :locals => { :sidenav_tab => 'affiliates' }

%h2 Affiliates
= link_to 'Add Affiliate', new_affiliate_path, :class => 'btn-add'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th{:width => '100%'} Affiliate
  %tbody
    - Affiliate.all.each do |affiliate|
      - next unless affiliate.destroyable?
      %tr
        %td= link_to('Remove', affiliate_path(affiliate), :confirm => "Really remove affiliate #{affiliate.name}?", :method => :delete)
        %td.indented_lots
          = affiliate.name
          %span.indented== (#{link_to('Edit', edit_affiliate_path(affiliate))})
