= render :partial => 'shared/headers/ckeditor'
= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'bundles' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'details'}

%h2=h @bundle

= simple_form_for([current_facility, @bundle]) do |f|
  = f.error_messages
  %ul.form
    %li= render :partial => 'admin/shared/product_details_fields', :locals => {:f => f}
  %ul.inline
    %li= f.submit 'Save', :class => 'btn'
    %li= link_to 'Cancel', manage_facility_bundle_path(current_facility, @bundle)
