= render "shared/headers/ckeditor"
= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "bundles"

%h2= text("admin.shared.add", model: Bundle.model_name.human)
= simple_form_for([current_facility, @bundle]) do |f|
  = f.error_messages
  %ul.form
    = render "admin/products/details_fields", f: f
  %ul.inline
    %li= f.submit text("shared.create"), class: "btn"
    %li= link_to text("shared.cancel"), facility_bundles_path
