- if @order_detail.cost_estimated?
  %td.currency= show_estimated_cost(@order_detail)
  %td.currency= show_estimated_subsidy(@order_detail)
  %td.currency
    %span#actual_total= show_estimated_total(@order_detail)
- elsif @order_detail.price_policy.nil?
  %td.currency Unassigned
  %td.currency Unassigned
  %td.currency Unassigned
- else
  - html_opts={ :size => 8 }
  - html_opts.merge!(:disabled => 'disabled') if @in_open_journal || @order_detail.reconciled?
  - actual_opts=html_opts.merge({:value => number_with_precision(@order_detail.actual_cost, :precision => 2), :id => 'actual_cost'})
  %td.currency= "$#{form.text_field(:actual_cost, actual_opts)}"
  - sub_opts=html_opts.merge({:value => number_with_precision(@order_detail.actual_subsidy, :precision => 2), :id => 'actual_subsidy'})
  %td.currency= "$#{form.text_field(:actual_subsidy, sub_opts)}"
  %td.currency
    %span#actual_total= show_actual_total(@order_detail)