= content_for :head_content do
  = stylesheet_link_tag 'uploadify'
  = javascript_include_tag 'uploadify/jquery.uploadify.v2.1.0.min'
  = javascript_include_tag 'uploadify/swfobject'
  :javascript
    $(document).ready(function() {
      $('#file_upload').uploadify({
        'uploader'     : '#{ENV['RAILS_RELATIVE_URL_ROOT']}/javascripts/uploadify/uploadify.swf',
        'fileDataName' : 'fileData',
        'script'       : "#{add_uploader_file_path(current_facility, @order_detail.product.parameterize, @order_detail.product.url_name)}",
        'cancelImg'    : '#{ENV['RAILS_RELATIVE_URL_ROOT']}/javascripts/uploadify/cancel.png',
        'auto'         : false,
        'method'       : 'get',
        'multi'        : true,
        'folder'       : '/uploads',
        'onAllComplete' : function () {window.location.reload();},
        'scriptData'   : {
          '_nucore_session'    : '#{u cookies['_nucore_session']}',
          'authenticity_token' : encodeURIComponent('#{u form_authenticity_token if protect_against_forgery?}'),
          'file_type'          : 'sample_result',
          'order_detail_id'    : '#{@order_detail.id}'
        }
      });
      
      $("#quantity").change(function () {
        if($('#actual_cost').length == 0)
          return;

        $('#submit').attr('disabled', true);
        $.getJSON(
          "#{facility_order_order_detail_new_price_url(current_facility, @order, @order_detail)}?quantity=" + this.value,
          function(data) {
            $("#actual_cost").val(new Number(data[0]).toFixed(2));
            $("#actual_subsidy").val(new Number(data[1]).toFixed(2));
            $("#actual_total").html("$" + new Number(data[2]).toFixed(2));
            $('#submit').attr('disabled', false);
          }
        );
      });

      $("input[type='text']").change(function () {
        if (this.id == 'actual_cost' || this.id == 'actual_subsidy') {
          $("#actual_total").html("$" + ($("#actual_cost")[0].value - $("#actual_subsidy")[0].value).toFixed(2));
        }
      });
    });

  - if @can_be_reconciled
    :javascript
      $(function() {
        $('#reconcile-note').hide();

        $('#order_detail_order_status_id').change(function() {
          $('#reconcile-note').toggle();
        });
      });

= content_for :h1 do
  = current_facility
= content_for :tabnav do
  - if @order_detail.problem_order?
    - tab = 'problem'
  - elsif @order_detail.in_dispute?
    - tab = 'disputed'
  - elsif @order_detail.complete?
    - tab = ''
  - else
    - tab = 'new'
  = render :partial => 'admin/shared/tabnav_order', :locals => { :secondary_tab => tab }

%h2= t('.head.h2', :order_number => @order_detail.to_s)
= form_for(@order_detail, :as => :order_detail, :url => (@order_detail.in_dispute? ? facility_order_order_detail_resolve_dispute_path(current_facility, @order, @order_detail) : facility_order_order_detail_path(current_facility, @order, @order_detail)), :html => {:method => :put}) do |f|
  = f.error_messages
  .grid_6.alpha
    %ul.form
      %li
        %label= t('.label.ordered.at')
        =h human_datetime(@order.ordered_at)
      %li
        %label= t('.label.ordered.for')
        =h @order.user.full_name
      %li
        %label= t('.label.ordered.by')
        =h @order.created_by_user.full_name
      - if @order_detail.fulfilled_at
        %li
          %label= t('.label.fulfilled')
          =h human_datetime(@order_detail.fulfilled_at)
      %li
        %label= t('.label.account')
        - html_opts=@in_open_journal ? { :disabled => 'disabled' } : {}
        - # make sure that the account it was purchased under is available, even if it's no
        - # longer available for the owner
        - available_accounts = @order.user.account_users.active.collect{|au| au.account}
        - available_accounts << @order.account if available_accounts.index(@order.account).nil?
        = f.collection_select(:account_id, available_accounts, :id, :account_pretty, {}, html_opts)
      %li
        %label= t('.label.assigned')
        - if @order_detail.complete?
          =h @order_detail.assigned_user ? @order_detail.assigned_user.full_name : 'Unassigned'
        - else
          = f.collection_select(:assigned_user_id, User.find_users_by_facility(current_facility), :id, :full_name, :prompt => 'Unassigned')
  .grid_6.omega.margin_bottom
    - # Dispute form
    - if @order_detail.in_dispute?
      .box.margin_bottom
        %h3= t('.head.h3')
        %p= t('.instruct.dispute')
        %ul.form
          %li
            %label= t('.label.dispute.on')
            =h human_datetime(@order_detail.dispute_at)
          %li
            %label= t('.label.dispute.reason')
            =h @order_detail.dispute_reason
          %li
            %label.required= t('.label.dispute.resolve')
            = f.text_field :dispute_resolved_reason

    - # Dispute Results
    - if @order_detail.dispute_resolved_at
      .box.margin_bottom
        %h3= t('.head.h3-2')
        %ul.form
          %li
            %label= t('.label.dispute.on')
            =h human_datetime(@order_detail.dispute_at)
          %li
            %label= t('.label.dispute.reason')
            =h @order_detail.dispute_reason
          %li
            %label= t('.label.resolved')
            =h human_datetime(@order_detail.dispute_resolved_at)
          %li
            %label= t('.label.dispute.resolve')
            =h @order_detail.dispute_resolved_reason
    
    - # Results Files
    - if @order_detail.product.is_a?(Service)
      .box
        %h3= t('.head.h3-3')
        - @results = @order_detail.file_uploads.sample_result.sort{|a,b| a.created_at <=> b.created_at}
        - if @results.empty?
          %p= t('.notice.no_results')
        - else
          %ul.form
            - i = 0
            - @results.each do |file_upload|
              %li
                == #{link_to("Results File #{i+=1}", file_upload.file.url)}:
                = human_datetime(file_upload.created_at)
                == - (#{link_to('Remove', remove_product_file_path(current_facility, @order_detail.product.parameterize, @order_detail.product, file_upload, :return_to => request.fullpath), :method => :delete, :confirm => 'Are you sure?')})
        %h3= t('.head.h3-4')
        #file_upload Please enable Javascript and install Adobe Flash Player.
        %br
        = link_to "Start Upload", "javascript:$('#file_upload').uploadifyUpload();"
        == &nbsp;&nbsp;|&nbsp;&nbsp;
        = link_to "Clear Queue", "javascript:$('#file_upload').uploadifyClearQueue()"
  .clear
  - # Product table
  %table
    %tr
      %th{:colspan => 2}= t('.th.product')
      %th Status
      %th.currency= "#{@order_detail.cost_estimated? ? 'Estimated ' : '' }Cost"
      %th.currency= "#{@order_detail.cost_estimated? ? 'Estimated ' : '' }Adjustment"
      %th.currency= "#{@order_detail.cost_estimated? ? 'Estimated ' : '' }Total"
    %tr
      %td.centered
        - if @order_detail.product.is_a?(Instrument)
          =h @order_detail.quantity
        - else
          - html_opts={ :id => 'quantity', :size => 3 }
          - html_opts.merge!(:disabled => 'disabled') if @in_open_journal || @order_detail.reconciled?
          = f.text_field :quantity, html_opts
      %td
        %ul
          - product_name = order_detail_description(@order_detail)
          %li= product_name
          - if @order_detail.reservation
            %li.indented= link_to(@order_detail.reservation, edit_facility_order_order_detail_reservation_path(current_facility, @order, @order_detail, @order_detail.reservation))
          - if @order_detail.survey_completed?
            %li.indented= link_to('View Order Form', @order_detail.external_service_receiver.response_data, :target => '_blank')
          - unless @order_detail.file_uploads.template_result.empty?
            %li.indented= link_to('View Order File', @order_detail.file_uploads.template_result.first.file.url)
      - if @can_be_reconciled
        %td
          = f.collection_select(:order_status_id, [ OrderStatus.complete.first, OrderStatus.reconciled.first ], :id, :name_with_level)
          - if @order_detail.account.is_a?(NufsAccount) && @order_detail.journal
            == <br/><br/>#{link_to t('.link.remove'), remove_from_journal_facility_order_order_detail_path(current_facility, @order, @order_detail)}
      - elsif @order_detail.complete? || @order_detail.reconciled?
        %td=h @order_detail.order_status
      - else
        %td= f.collection_select(:order_status_id, OrderStatus.non_protected_statuses(current_facility), :id, :name_with_level)
      - if @order_detail.product.is_a?(Instrument) && @order_detail.complete?
        - res = @order_detail.reservation
        - if res && res.requires_but_missing_actuals?
          %td.centered{:colspan => '3'}= t('.notice.no_time')
        - else
          = render :partial => 'price_row', :locals => { :form => f }
      - else
        = render :partial => 'price_row', :locals => { :form => f }
      %tr
        %td{:colspan => '6'}
          %label.inline_wide Note:
          - opts={ :maxlength => 100, :size => 100 }
          - opts.merge!(:disabled => 'disabled') if @order_detail.reconciled?
          = f.text_field(:note, opts)
          - if @can_be_reconciled || @order_detail.reconciled?
            %br/
            %span#reconcile-note
              %label.inline_wide= t('.label.reconcile')
              = f.text_field(:reconciled_note, {:maxlength => 255, :size => 100})

  - if @order_detail.cost_estimated?
    %p.footnote= t('.foot.estimated')
  - elsif @order_detail.price_policy.nil?
    %p.footnote= t('.foot.price_policy')
  - else
    %p.footnote= t('.foot.default')

  - if @order_detail.in_dispute?
    %ul.horiz
      %li= submit_tag 'Resolve Dispute', {:class => 'btn', :id => 'submit'}
      %li= link_to 'Cancel', disputed_facility_orders_path
  - else
    - cancel_link=request.referrer.blank? ? facility_transactions_path(current_facility) : request.referrer
    %p= t('.notice.save_html')
    %ul.horiz
      - attrs={:class => 'btn', :id => 'submit'}
      - attrs.merge!(:name => 'assign_price_policy') if @order_detail.price_policy.nil? && @order_detail.order_status.name == 'Complete'
      %li= submit_tag 'Save', attrs             
      %li= link_to 'Cancel', cancel_link

- if @order_detail.bundle
  -# BUNDLE TABLE
  %br
  %br
  %br
  %h3= t('.head.h3-5')
  %p= t('.instruct.bundle')
  %table
    %tr
      %th= t('.th.order')
      %th{:colspan => 2}= t('.th.quantity')
      %th= t('.th.status')
      %th= t('.th.assigned')
    - @order.order_details.find(:all, :conditions => {:group_id => @order_detail.group_id}).each do |od|
      - product_name = order_detail_description(od)
      %tr
        %td= link_to od, edit_facility_order_order_detail_path(current_facility, @order, od)
        %td= od.quantity
        %td= product_name
        %td=h od.order_status
        %td=h od.assigned_user.nil? ? '' : od.assigned_user.full_name
