= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to "Home", :root
    %li &raquo;
    %li= link_to current_facility, current_facility
    %li &raquo;
    %li= @product.name

= render 'instruments/actions/issues', product: @product, order_detail: @order_detail, instrument_issue: @instrument_issue
