%td
  = pp.label :usage_rate, t("price_policies.rate"), class: "normal-weight"
  = pp.text_field :usage_rate, value: display_usage_rate(price_group, price_policy),
    size: 8,
    class: "#{price_group.master_internal? ? 'master_usage_cost' : ''} usage_rate"

- if local_assigns[:minimum_cost]
  %td
    = pp.label :minimum_cost, t("price_policies.amount"), class: "normal-weight"
    = pp.text_field :minimum_cost, value: number_to_currency(price_policy.minimum_cost, unit: "", delimiter: ""),
      size: 8,
      class: price_group.master_internal? ? "master_minimum_cost" : ""

- if local_assigns[:cancellation]
  %td.js--full_cancellation_cost_container
    = pp.label :cancellation_cost, t("price_policies.amount"), class: "normal-weight"
    = pp.text_field :cancellation_cost, value: number_to_currency(price_policy.cancellation_cost, unit: "", delimiter: ""),
      size: 8,
      class: price_group.master_internal? ? "master_cancellation_cost" : ""
