%td
  = pp.label :usage_rate, t("price_policies.rate"), class: "normal-weight"
  = pp.text_field :usage_rate, value: display_usage_rate(price_group, price_policy),
    size: 8,
    class: "#{price_group.master_internal? ? 'master_usage_cost' : ''} usage_rate",
    data: { target: ".js--usageRate" }

- if local_assigns[:minimum_cost]
  %td
    = pp.label :minimum_cost, t("price_policies.amount"), class: "normal-weight"
    = pp.text_field :minimum_cost, value: number_to_currency(price_policy.minimum_cost, unit: "", delimiter: ""),
      size: 8,
      data: { target: ".js--minimumCost" }

- if local_assigns[:cancellation]
  %td.js--cancellationCostContainer
    = pp.label :cancellation_cost, t("price_policies.amount"), class: "normal-weight"
    = pp.text_field :cancellation_cost, value: number_to_currency(price_policy.cancellation_cost, unit: "", delimiter: ""),
      size: 8,
      class: "js--cancellationCost",
      data: { target: ".js--cancellationCost" }
    - if SettingsHelper.feature_on?(:charge_full_price_on_cancellation)
      = label_tag(nil, class: "checkbox normal-weight") do
        = pp.check_box :charge_full_price_on_cancellation,
          class: "js--fullCancellationCost"
        = price_policy.class.human_attribute_name(:charge_full_price_on_cancellation)
        = tooltip_icon "fa fa-question-circle-o", t("price_policies.charge_full_price_on_cancellation_hint")
