= content_for :head_content do
  = javascript_include_tag "price_policy"

- price_policy = @price_policies.first
= render "price_policies/dates", f: f, price_policy: price_policy

- if local_assigns[:charge_for_collection]
  = f.input :charge_for,
    collection: charge_for_collection,
    selected: price_policy.charge_for

%table.table.table-striped.table-hover.price-policy-table
  %thead
    %tr
      %th= PriceGroup.model_name.human
      %th= price_policy.class.human_attribute_name(:type)
      %th= price_policy.class.human_attribute_name(:can_purchase)
      %th= price_policy.class.human_attribute_name(:hourly_usage_rate)
      - if local_assigns[:minimum_cost]
        %th= price_policy.class.human_attribute_name(:minimum_cost)
      - if local_assigns[:cancellation]
        %th= price_policy.class.human_attribute_name(:cancellation_cost)
  %tbody
    - @price_policies.each do |price_policy|
      - price_group = price_policy.price_group
      = fields_for "price_policy_#{price_group.id}", price_policy do |pp|
        %tr
          %td= price_group.name
          %td= price_group.type_string
          %td= pp.check_box :can_purchase, class: "can_purchase"
          - if price_group.external? || price_group.master_internal?
            = render "time_based_price_policies/amount_row", price_group: price_group, price_policy: price_policy, pp: pp, cancellation: cancellation, minimum_cost: minimum_cost
          - else
            = render "time_based_price_policies/adjustment_row", price_group: price_group, price_policy: price_policy, pp: pp, cancellation: cancellation, minimum_cost: minimum_cost
