= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "staff"

%h2= t(".head")

%ul.inline
  %li= link_to t(".add"), search_facility_facility_users_path, class: "btn-add"

- if @users.empty?
  %p.notice= t(".no_users")
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th= t(".th.name")
        %th= t(".th.username")
        %th= t(".th.email")
        %th= t(".th.roles")
    %tbody
      - @users.each do |user|
        %tr
          %td.centered
            = link_to t(".remove_roles"),
              facility_facility_user_path(current_facility, user),
              confirm: t(".remove_roles_confirm"),
              method: :delete
          %td= user.full_name
          %td= user.username
          %td= user.email
          %td= user.facility_user_roles(current_facility).map(&:role).join(", ")
