= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_admin', :locals => { :sidenav_tab => 'staff' }

%h2 Add a User
= form_tag user_search_results_path, :id => 'ajax_form' do
  %p.instructions= t('.instruct')
  = text_field_tag :search_term, nil, :size => 30
  = submit_tag "Search", :class => 'btn'
  = hidden_field_tag :facility_id, current_facility.id
  = hidden_field_tag :search_type, 'map_user'
  = hidden_field_tag :create_link, 'true'
%br
#result
