%h1.gray= "Order #: #{reservation.order_detail}"
%h2= "#{@facility.abbreviation} / #{@instrument.name}"

%dl
  %dt= t(".reservation_date")
  %dd= human_date(reservation.reserve_start_at)

  %dt= t(".reservation_time")
  %dd.underline= "#{human_time(reservation.reserve_start_at)} - #{human_time(reservation.reserve_end_at)}"
  
  %dt= t(".status")
  %dd= reservation.order_detail.state.capitalize
