= render partial: "reservation_information", locals: { reservation: @reservation }
- if @reservation.movable_to_now?
  = form_with url: facility_instrument_quick_reservations_start_path(@facility, @instrument) do |f|
    = f.submit t(".start")
- elsif @reservation.ongoing?
  = end_reservation_link(@reservation, "button_style")
- else
  %p= t(".come_back_later")
  %a.button_style.disabled= t(".start")
%p= t(".back_to_reservation_form")
= link_to t(".new"), new_facility_instrument_quick_reservation_path(@facility, @instrument)
