= render partial: "reservation_information", locals: { reservation: @reservation }
- if @reservation.movable_to_now?
  = form_with url: facility_instrument_quick_reservations_start_path(@facility, @instrument) do |f|
    = f.submit t(".start")
- elsif @reservation.ongoing?
  = end_reservation_link(@reservation, "end_link")
- else
  %p= t(".come_back_later")
  %a.end_link.disabled= t(".start")
