= render "shared/transactions/headers"
- content_for :h1 do
  = t(".history")

= render "shared/transactions/search"

- if @order_details.any?
  = render "shared/transactions/table", order_details: @order_details, show_statements: true
- else
  %p.alert.alert-info= t(".no_transactions")
