- f.object.send(:extend, PriceDisplayment)
- if f.object.actual_cost?
  .cost-table
    .cost= f.input :actual_cost, :as => :currency
    .subsidy=  f.input :actual_subsidy, :as => :currency, :disabled => !f.object.price_policy.try(:has_subsidy?), :hint => "#{f.object.price_policy.try :price_group}"
    .total= f.input :actual_total, :as => :currency, :disabled => true

- else
  .cost-table
    .cost= f.input :estimated_cost, :as => :currency, :disabled => true
    .subsidy= f.input :estimated_subsidy, :as => :currency, :disabled => true
    .total= f.input :estimated_total, :as => :currency, :disabled => true
