- f.object.send(:extend, PriceDisplayment)
- if f.object.actual_cost?
  %table.table.cost-table
    %thead
      %tr
        %td Cost
        %td= "#{f.object.price_policy.price_group} Subsidy"
        %td Total
    %tbody
      %tr
        %td.cost= currency_input f, :actual_cost
        %td.subsidy= currency_input f, :actual_subsidy, :disabled => !f.object.price_policy.has_subsidy?
        %td.total= currency_input f, :actual_total, :disabled => true

- else
  %table.table.cost-table
    %thead
      %tr
        %td Estimated Cost
        %td Estimated Subsidy
        %td Estimated Total
    %tbody
      %tr
        %td.cost= currency_input f, :estimated_cost, :disabled => true
        %td.subsidy= currency_input f, :estimated_subsidy, :disabled => true
        %td.total= currency_input f, :estimated_total, :disabled => true
