= f.simple_fields_for reservation do |r|
  
  .datetime-block
    - if reservation.can_edit?
      = r.input :reserve_start_date, :input_html => { :class => 'datepicker' }
      .control-group
        .controls
          = r.label '&nbsp;'
          = time_select r, :reserve_start
      = r.input :duration_mins, :input_html => { :class => 'timeinput' }
    - else
      = r.label :reserve_start_date
      = reservation.reserve_to_s
    
  .datetime-block
    - if reservation.can_edit_actuals?
      = r.input :actual_start_date, :input_html => { :class => 'datepicker' }
      .control-group
        .controls
          = r.label '&nbsp;'
          = time_select r, :actual_start
      - options = { :class => 'timeinput' }
      - options[:value] = '' if r.object.actual_duration_mins == 0
      = r.input :actual_duration_mins, :input_html => options
      = render :partial => 'copy_actuals_from_reservation', :locals => { :reservation => reservation }

    - else
      = r.label :actual_start_date
      = reservation.actuals_string




