= f.simple_fields_for reservation do |r|
  .datetime-block
    - if reservation.can_edit?
      = r.input :reserve_start_date, :input_html => { :class => 'datepicker' }
      .control-group
        .controls
          = r.label '&nbsp;'
          = time_select r, :reserve_start
      = r.input :duration_mins, :input_html => { :class => 'timeinput' }
    - else
      = reservation.reserve_to_s

  .datetime-block
    - if reservation.can_edit_actuals?
      = r.input :actual_start_date, :input_html => { :class => 'datepicker' }
      .control-group
        .controls
          = r.label '&nbsp;'
          = time_select r, :actual_start
      = r.input :actual_duration_mins, :input_html => { :class => 'timeinput' }

      - unless reservation.has_actuals?
        .copy_actual_from_reservation
          = link_to 'Copy from reservation','#'
          %span.hidden.start_date= reservation.reserve_start_at
          %span.hidden.end_date= reservation.reserve_end_at

    - else
      = reservation.actuals_string


