%fieldset.collapsable.collapsed{ data: { target: ".split-table", toggle: "collapse" } }
  %label.legend= "Split Account Details"

  .split-table.collapse
    %table.span5
      %caption
        == Split Account:
        = payment_source_link_or_text(order_detail.account)
      %tbody
        %tr
          %td
          %th{scope: "col"}== Amount
          %th{scope: "col"}== Percent
        - SplitAccounts::OrderDetailSplitter.new(order_detail).split.each do |split_order_detail|
          %tr
            %th.subaccount-link{scope: "row"}= split_account_link_or_text(split_order_detail.account)
            - split_percent = split_order_detail.split.percent
            - apply_remainder = split_order_detail.split.apply_remainder.to_s
            %td.split-cost{ data: { percent: split_percent, apply_remainder: apply_remainder } }
              - cost_type = order_detail.actual_cost? ? :actual_cost : :estimated_cost
              = number_to_currency(split_order_detail.send(cost_type))
            %td= split_percent
