- notices = order_detail_notices(@order_detail)
- if notices[:warnings].any?
  .alert.alert-error
    - notices[:warnings].each do |warning|
      -# TODO: Should be getting fixed in another PR
      = t("order_details.notices.#{warning}.alert", default: "FIXME: #{warning}")

- if notices[:notices].any?
  .alert.alert-info
    - notices[:notices].each do |notice|
      = t("order_details.notices.#{notice}.alert")

- if @order_detail.errors.any?
  .alert.alert-error
    = @order_detail.errors.full_messages.join('<br/>').html_safe
