- unless modal?
  = content_for :h1 do
    = current_facility

%div{class: modal? ? "modal-header" : ""}
  = modal_close_button if modal?
  %h3= "Order ##{@order_detail} #{@order_detail.product}"

= render "shared_details"

.hide-from-print
  = render "form"

.show-for-print
  = render "print_details"


