.modal-header
  = modal_close_button
  %h3= @order_detail.product
= form_for @order_detail, :url => manage_facility_order_order_detail_path(current_facility, @order, @order_detail), :remote => true do |f|
  .modal-body
    = render :partial => 'warnings'

    = f.label :account
    = f.collection_select :account_id, @available_accounts, :id, :account_pretty, :disabled => @order_detail.edit_disabled?

    = f.label :order_status
    - if @order_statuses
      = f.collection_select :order_status_id, @order_statuses, :id, :name_with_level
    - else
      = @order_detail.order_status
    - if @order_detail.reservation
      .cancel-fee-option
        = label_tag 'with_cancel_fee', t('facility_order_details.edit.label.with_cancel_fee')
        = check_box_tag 'with_cancel_fee', 1, false, :data => { :connect => '#order_detail_order_status_id', :show_on => OrderStatus.cancelled.first.id }

    - if @order_detail.reservation
      = render :partial => 'reservation', :locals => { :f => f, :reservation => @order_detail.reservation }
    - else
      = f.label :quantity
      = f.text_field :quantity

    = render :partial => 'costs', :locals => { :f => f }

    = render :partial => 'assigned_user', :locals => { :f => f }

    = f.label :note
    = f.text_area :note

  .modal-footer
    = f.submit 'Save', :class => ['btn', 'btn-primary'] unless @order_detail.edit_disabled?
    = modal_cancel_button

  - if @order_detail.edit_disabled?
    :javascript
      $('.edit_order_detail').find('select,textarea,input').prop('disabled', true);