.modal-header
  = modal_close_button
  %h3= t("file_uploads.sample_result.title")

.modal-body

  - if @files.present?
    %ul= render partial: "result_file", collection: @files
  - else
    %p= t("file_uploads.sample_result.none")

  %h4= t("file_uploads.sample_result.upload")
  #js-fineUploader{ data: { authenticity_token: form_authenticity_token } }
  = render "shared/fine_uploader_template"

.modal-footer
  - if @files.present?
    .pull-left
      = link_to order_order_detail_sample_results_zip_path(@order_detail.order, @order_detail, format: :zip) do
        %i.fa.fa-arrow-circle-o-down
        = t("file_uploads.sample_result.download_all")
  = modal_cancel_button text: t("file_uploads.sample_result.done")

:javascript
  $("#js-fineUploader").fineUploader({
    autoUpload: true,
    request: {
      endpoint: '#{add_uploader_file_path(current_facility, @order_detail.product.parameterize, @order_detail.product.url_name)}',
      params: {
        authenticity_token: $('#js-fineUploader').data('authenticity-token'),
        order_detail_id: #{@order_detail.id},
        file_type: "sample_result"
      }
    },
    failedUploadTextDisplay: {
      mode: 'custom'
    },
    callbacks: {
      onAllComplete: function(_succeeded, failed) {
        if (failed.length == 0) {
          $("#js-fineUploader").closest('.modal').data('modalObject').reload();
        }
      }
    }
  });
