.modal-header
  = modal_close_button
  %h3= t('file_uploads.sample_result.title')

.modal-body

  - if @files.any?
    %ul= render :partial => 'result_file', :collection => @files
  - else
    %p= t('file_uploads.sample_result.none')

  %h4= t('file_uploads.sample_result.upload')
  #js-fineUploader{ data: { authenticity_token: form_authenticity_token } }
  = render "shared/fine_uploader_template"

.modal-footer
  = modal_cancel_button :text => 'Done'

:javascript
  $("#js-fineUploader").fineUploader({
    autoUpload: true,
    request: {
      endpoint: '#{add_uploader_file_path(current_facility, @order_detail.product.parameterize, @order_detail.product.url_name)}',
      params: {
        authenticity_token: $('#js-fineUploader').data('authenticity-token'),
        order_detail_id: #{@order_detail.id},
        file_type: "sample_result"
      }
    },
    failedUploadTextDisplay: {
      mode: 'custom'
    },
    callbacks: {
      onAllComplete: function(_succeeded, failed) {
        if (failed.length == 0) {
          $("#js-fineUploader").closest('.modal').data('modalObject').reload();
        }
      }
    }
  });
