= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.class.name.pluralize.underscore
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "notifications"

%h2= @product
= readonly_form_for :product, @product, defaults: { default_value: text("none_entered") } do |f|
  .form-inputs
    - if SettingsHelper.feature_on?(:training_requests)
      = f.input :training_request_contacts, as: :string
    - hint = current_facility.order_notification_recipient.present? ? text("hints.already_configured", email: current_facility.order_notification_recipient) : nil
    = f.input :order_notification_recipient, as: :email, hint: hint
    = f.input :cancellation_notification_recipients, as: :string if @product.is_a?(Instrument)

- if can?(:edit, @product)
  = link_to text("shared.edit"), edit_facility_product_notifications_path(current_facility, @product), class: "btn"
