= content_for :head_content do
  = stylesheet_link_tag 'chosen'
  = javascript_include_tag 'chosen.jquery.min'
  = javascript_tag "$(function() { $('#status_filter').chosen(); });"

%li
  %label Order Status
  %select{ :name => "status_filter[]", :'data-placeholder' => 'Choose...', :multiple => true, :id => 'status_filter' }
    - stati=[ OrderStatus.complete.first, OrderStatus.reconciled.first, OrderStatus.new_os.first, OrderStatus.inprocess.first, OrderStatus.cancelled.first ]
    = options_for_select(stati.collect{|stat| [ stat.name_with_level, stat.id ] }, @status_ids)