%tbody
  - @rows.each do |row|
    %tr
      - row.each_with_index do |col, i|
        %td{class: i == 0 ? '' : 'currency'}
          - if i == 2
            = number_to_currency(col)
          - elsif i == 3
            = number_to_percentage(col, precision: 1)
          - elsif col.is_a?(Numeric)
            = number_with_precision(col, strip_insignificant_zeros: true)
          - else
            = col

  - if @rows.size > 1
    %tr
      %td.bold Total
      %td.bold.currency= number_with_precision(@total_quantity, strip_insignificant_zeros: true)
      %td.bold.currency= number_to_currency(@total_cost)
      %td.bold.currency 100%
