= content_for :head_content do
  = stylesheet_link_tag 'chosen'
  = javascript_include_tag 'chosen.jquery.min'
  = javascript_tag "$(function() { $('#status_filter').chosen(); });"

%li
  %label Order Status
  %select{ :name => "status_filter", :'data-placeholder' => 'Choose...', :multiple => true, :id => 'status_filter' }
    - OrderStatus.non_protected_statuses(current_facility).each do |os|
      = options_for_select([[os.name_with_level, os.id]], @selected_status_id)