= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to 'Home', :root
    %li &raquo;
    %li= link_to current_facility, current_facility
    %li &raquo;
    %li= product.name

= content_for :h1 do
  = product.name

.wysiwyg.pull-left
  = product.description
  - if @login_required
    - session[:requested_params] = request.fullpath
    = link_to 'Login', new_user_session_path, :class => 'btn'
  - elsif @add_to_cart
    = link_to 'Add to cart', add_order_path(acting_user.cart(session_user), :order => {:order_details => [{:product_id => product.id, :quantity => 1}] }), :method => :put, :class => 'btn'

- docs = product.stored_files.info
- unless docs.empty?
  .well.pull-right.span4
    %h3 Documentation
    %ul.unstyled
      - docs.each do |stored_file|
        %li.document= link_to stored_file.name, stored_file.file.url

