= f.input :name
- if @product.restrict_holiday_access?
  = f.input :allow_holiday_access
- else
  - edit_url = link_to(t(".url"), url_for([:edit, current_facility, @product]))
  - hint = html(".holiday_hint", scope: "product_access_groups.fields", url: edit_url)
  = f.input :allow_holiday_access, as: :string, readonly: true, hint: hint, input_html: { value: t_boolean(f.object.allow_holiday_access) }

%ul.inline
  %li= f.submit :class => ['btn', 'btn-primary']
  %li= link_to 'Cancel', [current_facility, @product, ProductAccessGroup]
