= content_for :h1 do
  = current_facility
= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: @product.product_type
= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "restriction_levels"
%h2= @product
