= render "headers"

%h3= ProductAccessGroup.model_name.human

- if can? :add, ProductAccessGroup
  %p= link_to t(".add_button", group: ProductAccessGroup.model_name.human),
    new_facility_instrument_product_access_group_path(@facility, @instrument),
    class: ["btn", "btn-add"]

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th= ProductAccessGroup.human_attribute_name(:name)
      %th= User.model_name.human.pluralize

  %tbody
    - @product_access_groups.each do |level|
      %tr
        %td
          - if can?(:delete, level)
            = link_to t("shared.remove"),
              facility_instrument_product_access_group_path(@facility, @instrument, level),
              method: :delete,
              data: { confirm: t("shared.confirm_message") }

        - if can?(:edit, level)
          %td
            = link_to level.name,
              edit_facility_instrument_product_access_group_path(@facility, @instrument, level)
        - else
          %td= level.name

        %td= level.users.size
