- content_for :head_content do
  = javascript_include_tag 'power_relay'

= f.input :show_details, :as => :boolean, :label => false, :inline_label => t('instruments.instrument_fields.show_details')

-# TODO
- if f.object.new_record?
  %p.instruction= t('instruments.instrument_fields.schedule.hint')
  = f.select :schedule_id, options_from_collection_for_select(current_facility.schedules.active.ordered, :id, :name, f.object.schedule_id), :include_blank => t('instruments.instrument_fields.schedule.unshared')
- else
  = f.object.schedule.display_name

-# TODO
= label_tag :control_mechanism
%p.instruction= t 'instruments.instrument_fields.control_mechanism'
- selection = @instrument.control_mechanism || :manual
= f.select :control_mechanism, options_for_select(options_for_control_mechanism, selection)

- # TODO
.well#power-relay{:class => "box#{selection == 'relay' ? '' : ' hidden'}"}
  %h3= t('instruments.instrument_fields.relay.label.relay')
  %p= t 'instruments.instrument_fields.relay.intro'

  = f.fields_for :relay, @instrument.relay || @instrument.build_relay do |rf|
    = rf.label :type, t('instruments.instrument_fields.relay.label.type')
    = rf.select :type, options_for_select(options_for_relay, rf.object.type)
    = rf.input :ip, :label => t('instruments.instrument_fields.relay.label.ip')
    = rf.input :port, :label => t('instruments.instrument_fields.relay.label.port')
    = rf.input :username, :label => t('instruments.instrument_fields.relay.label.user')
    = rf.input :password, :label => t('instruments.instrument_fields.relay.label.pass')
    = rf.input :auto_logout, :as => :boolean, :label => false, :inline_label => t('instruments.instrument_fields.relay.label.auto_logout')

.well
  %h3= t('instruments.instrument_fields.reservation.label.restrict')
  %p= t 'instruments.instrument_fields.reservation.intro'

  = f.input :min_reserve_mins, :label => t('instruments.instrument_fields.reservation.label.min_reserve')
  = f.input :max_reserve_mins, :label => t('instruments.instrument_fields.reservation.label.max_reserve')
  = f.input :min_cancel_hours, :label => t('instruments.instrument_fields.reservation.label.cancel_hours'), :hint => t('instruments.instrument_fields.reservation.instruct.cancel_hours')
  = f.input :auto_cancel_mins, :label => t('instruments.instrument_fields.reservation.label.auto_cancel'),  :hint => t('instruments.instrument_fields.reservation.instruct.auto_cancel')
