= f.input :show_details,
  as: :boolean,
  label: false,
  inline_label: text("instruments.instrument_fields.show_details")

= f.input :problems_resolvable_by_user, as: :boolean, label: false, inline_label: true

- if f.object.new_record?
  = f.association :schedule,
    collection: current_facility.schedules.active.order(:name),
    include_blank: text("instruments.instrument_fields.schedule.unshared")
- else
  = f.input :schedule, as: :readonly, value_method: :display_name, hint: false

- if f.object.new_record?
  = f.input :pricing_mode, as: :radio_buttons, collection: instrument_pricing_modes, label: text("instruments.instrument_fields.schedule.pricing_mode"),
    item_wrapper_class: :radio, item_wrapper_tag: :div, wrapper_html: { class: "js--pricing-mode" }

- daily_booking = f.object.daily_booking?

.well
  %h3= text("instruments.instrument_fields.reservation.label.restrict")

  = f.input :reserve_interval,
    collection: Instrument::RESERVE_INTERVALS,
    label: text("instruments.instrument_fields.reservation.label.reserve_interval"),
    hint: text("instruments.instrument_fields.reservation.instruct.reserve_interval"),
    wrapper_html: { class: "js--reserve-interval", hidden: daily_booking }

  = f.input :min_reserve_mins,
    label: text("instruments.instrument_fields.reservation.label.min_reserve_mins"),
    hint: text("instruments.instrument_fields.reservation.instruct.min_reserve"),
    wrapper_html: { class: "js--min-reserve-mins", hidden: daily_booking }

  = f.input :max_reserve_mins,
    label: text("instruments.instrument_fields.reservation.label.max_reserve_mins"),
    hint: text("instruments.instrument_fields.reservation.instruct.max_reserve"),
    wrapper_html: { class: "js--max-reserve-mins", hidden: daily_booking }

  = f.input :min_reserve_days,
    label: text("instruments.instrument_fields.reservation.label.min_reserve_days"),
    hint: text("instruments.instrument_fields.reservation.instruct.min_reserve"),
    wrapper_html: { class: "js--min-reserve-days", hidden: !daily_booking }

  = f.input :max_reserve_days,
    label: text("instruments.instrument_fields.reservation.label.max_reserve_days"),
    hint: text("instruments.instrument_fields.reservation.instruct.max_reserve"),
    wrapper_html: { class: "js--max-reserve-days", hidden: !daily_booking }

  = f.input :min_cancel_hours,
    label: text("instruments.instrument_fields.reservation.label.cancel_hours"),
    hint: text("instruments.instrument_fields.reservation.instruct.cancel_hours")

  = f.input :auto_cancel_mins,
    label: text("instruments.instrument_fields.reservation.label.auto_cancel"),
    hint: text("instruments.instrument_fields.reservation.instruct.auto_cancel")

  %p.js--auto_cancel_mins-zero-warning
    %i.fa.fa-exclamation-triangle
    = text("instruments.instrument_fields.reservation.warning.auto_cancel_mins.zero")

  = f.input :lock_window,
    label: text("instruments.instrument_fields.reservation.label.lock_window"),
    hint: text("instruments.instrument_fields.reservation.instruct.lock_window")
  = f.input :cutoff_hours,
    label: text("instruments.instrument_fields.reservation.label.cutoff_hours"),
    hint: text("instruments.instrument_fields.reservation.instruct.cutoff_hours")
