- content_for :head_content do
  = javascript_include_tag 'power_relay'

%li
  = f.check_box :show_details
  %b== Check to show reservation details
%li
  = label_tag :control_mechanism
  %p.instruction How the instrument and its time is managed
  - selection=@instrument.relay.nil? ? nil : @instrument.relay.is_a?(RelayDummy) ? 'timer' : 'relay'
  = select_tag :control_mechanism, options_for_select({ 'Reservation only' =>  'manual', 'Timer without relay' => 'timer', 'Timer with relay' => 'relay' }, selection)
%li#power-relay{:class => "box#{selection == 'relay' ? '' : ' hidden'}"}
  = f.label 'Power Relay Information'
  %p== (Optional)  If the instrument is connected to an approved power relay, please enter the information below.  Power relays must be purchased separately.
  %br
  = f.fields_for :relay, @instrument.relay || @instrument.build_relay do |rf|
    %ul
      %li.left
        = rf.label :type, 'Relay Type'
        = rf.select :type, options_for_select(RelaySynaccessRevA => RelaySynaccessRevA.name, RelaySynaccessRevB => RelaySynaccessRevB.name)
      %li.clear
      %li.left
        = rf.label :ip, 'IP Address'
        = rf.text_field :ip
      %li.left
        = rf.label :port, 'Device Port'
        = rf.text_field :port, :size => 5, :limit => 2
      %li.clear
      %li.left
        = rf.label :username, 'Username'
        = rf.text_field :username
      %li.left
        = rf.label :password, 'Password'
        = rf.text_field :password
      %li.clear
      %li
        = rf.check_box :auto_logout
        %b== Automatically power off the relay 60 minutes after the reservation is scheduled to end
%li.box
  = f.label 'Reservation Restrictions'
  %p== (Optional)  Define minimum and maximum reservation limits below.
  %br
  %ul
    %li.left
      = f.label :min_reserve_mins, 'Minimum (minutes)'
      = f.text_field :min_reserve_mins
    %li.left
      = f.label :max_reserve_mins, 'Maximum (minutes)'
      = f.text_field :max_reserve_mins
    %li.clear
    %li
      = f.label :min_cancel_hours, 'Cancelation Minimum (hours)'
      %p.instruction Minimum length of time before a reservation begins that a user may cancel a reservation without penalty
      = f.text_field :min_cancel_hours
