- if @product.relay.nil?
  %label= t 'instruments.manage.label.control_mech'
  %p= t 'instruments.instrument_fields.relay.control_mechanisms.manual'
- elsif @product.relay.is_a?(RelayDummy)
  %label= t 'instruments.manage..label.control_mech'
  %p= t 'instruments.instrument_fields.relay.control_mechanisms.timer'
- elsif @product.relay.is_a?(PowerRelay)
  .well.well-small
    = f.simple_fields_for @product.relay, :defaults => { :default_value => 'N/A'} do |r|
      = r.input :type, :input_html => { :value => @product.relay.class.presence || 'N/A' }
      = r.input :ip
      = r.input :ip_port,
        label: text("instruments.instrument_fields.relay.label.ip_port")
      = r.input :outlet
      = r.input :username
      = r.input :password
      = r.input :auto_logout
      = r.input :auto_logout_minutes
- else
  %p UNKNOWN RELAY TYPE
