= render "shared/headers/ckeditor"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "instruments"

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "details"

%h2= @instrument

= simple_form_for([current_facility, @instrument]) do |f|
  = f.error_notification
  .form-inputs
    = render "admin/products/details_fields", f: f
    = render "instrument_fields", f: f
  %ul.inline
    %li= f.button :submit, text("shared.save"), class: ["btn", "btn-primary"]
    %li= link_to text("shared.cancel"), manage_facility_instrument_path(current_facility, @instrument)
