= render :partial => 'shared/headers/ckeditor'

= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'instruments' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'details'}

= simple_form_for([current_facility, @instrument]) do |f|
  = f.error_notification
  .form-inputs
    = render :partial => 'admin/shared/product_details_fields', :locals => {:f => f}
    = render :partial => 'instrument_fields', :locals => {:f => f}

  = f.button :submit, 'Save', :class => ['btn', 'btn-primary']
  = link_to 'Cancel', manage_facility_instrument_path(current_facility, @instrument)
