= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'instruments' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product_index'
= content_for :head_content do
  = javascript_include_tag 'relay.js'

%h2= params[:archived].nil? || params[:archived] != 'true' ? 'Active Instruments' : 'Inactive Instruments'

%p Instruments are products that must be reserved; billing is based on reservation duration and/or actual time used.

- if session_user.manager_of?(current_facility)
  %ul.horiz
    %li= link_to 'Add Instrument', new_facility_instrument_path

- if @instruments.empty?
  %p.notice No #{params[:archived].nil? || params[:archived] != 'true' ? 'active' : 'inactive'} instruments exist for this facility.
- else
  %table
    %tr
      %th== Instrument Name
    - @instruments.each do |instrument|
      %tr
        %td= link_to instrument.name, facility_instrument_schedule_path(current_facility, instrument)
  