= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'instruments' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'details'}

%h2=h @instrument
%ul.form
  = render :partial => 'admin/shared/product_manage'
  %li
    - if @instrument.relay.nil?
      %label= t '.label.control_mech'
      %p= t '.res_only'
    - elsif @instrument.relay.is_a?(RelayDummy)
      %label= t '.label.control_mech'
      %p= t '.control_mech'
    - else
      %ul
        %li
          %label= t '.label.relay.type'
          %p= @instrument.relay.class.presence || 'N/A'
        %li
          %label= t '.label.relay.ip'
          %p= @instrument.relay.ip.presence || 'N/A'
        %li
          %label= t '.label.relay.port'
          %p= @instrument.relay.port || 'N/A'
        %li
          %label= t '.label.relay.user'
          %p= @instrument.relay.username.presence || 'N/A'
        %li
          %label= t '.label.relay.pass'
          %p= @instrument.relay.password.presence || 'N/A'
        %li
          %label= t '.label.relay.auto_logout'
          %p= @instrument.relay.auto_logout ? 'Yes' : 'No'
  %li
    %label= t '.label.min_res'
    %p= @instrument.min_reserve_mins.to_i
  %li
    %label= t '.label.max_res'
    %p= @instrument.max_reserve_mins || 'None'
  %li
    %label= t '.label.cancel_hours'
    %p= @instrument.min_cancel_hours.to_i
  %li
    %label= t '.label.cancel_mins'
    %p= @instrument.auto_cancel_mins.to_i
- if session_user.manager_of?(current_facility)
  %ul.horiz
    %li= link_to 'Edit', edit_facility_instrument_path(current_facility, @instrument), :class => 'btn'
