= content_for :h1 do
  =h current_facility
= content_for :sidebar do
  = render :partial => 'admin/shared/sidenav_product', :locals => { :sidenav_tab => 'instruments' }
= content_for :tabnav do
  = render :partial => 'admin/shared/tabnav_product', :locals => {:secondary_tab => 'details'}

%h2= @instrument
= readonly_form_for :instrument do |f|
  = render :partial => 'admin/shared/product_manage', :locals => { :f => f }

  = f.input :show_details, :label => t('instruments.instrument_fields.show_details')

  = f.input :schedule, :input_html => { :value => @instrument.schedule.display_name}

  = render :partial => 'relay_manage', :locals => { :f => f }

  = f.input :min_reserve_mins, :value_method => :to_i
  = f.input :max_reserve_mins, :default_value => 'None'
  = f.input :min_cancel_hours, :value_method => :to_i
  = f.input :auto_cancel_mins, :value_method => :to_i

- if can? :edit, Product
  %ul.inline
    %li= link_to 'Edit', edit_facility_instrument_path(current_facility, @instrument), :class => 'btn'
