= render "shared/headers/ckeditor"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "instruments"

%h2= text("admin.shared.add", model: Instrument.model_name.human)
= simple_form_for([current_facility, @instrument]) do |f|
  = f.error_notification
  .form-inputs
    = render "admin/products/details_fields", f: f
    = render "instrument_fields", f: f
  %ul.inline
    %li= f.submit text("shared.save"), class: "btn"
    %li= link_to text("shared.cancel"), facility_instruments_path
