= content_for :head_content do
  = render :partial => 'shared/headers/calendar'
  = javascript_include_tag 'instruments.js'

:javascript
  var events_path = "#{calendar_events_path(current_facility, @product)}";
  var minTime         = #{@product.first_available_hour};
  var maxTime         = #{@product.last_available_hour+1};

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= link_to 'Home', facilities_path
    %li &raquo;
    %li= link_to @product.facility, facility_path(@product.facility)
    %li &raquo;
    %li #{@product} #{t('.title')}

= content_for :h1 do
  = current_facility
  - button_text = current_user ? t('.place_reservation') : "#{t('pages.login')} & #{t('.place_reservation')}"
  = link_to button_text, facility_instrument_path(current_facility, @product), :class => ['btn', 'btn-primary', 'pull-right']


%h2 #{@product} #{t('.title')}

- if @product.offline?
  %p.alert.alert-danger= text("instruments.offline.notice")

#overlay
  #spinner
    #hide
      #calendar{ data: { show_tooltip: "false" } }
