= content_for :head_content do
  = render "shared/headers/calendar"
  = javascript_include_tag "instruments.js"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_product", sidenav_tab: "instruments"

= content_for :tabnav do
  = render "admin/shared/tabnav_product", secondary_tab: "reservations"

:javascript
  var events_path = "#{facility_instrument_reservations_path(current_facility, @product, format: 'js', with_details: true, all: true)}";
  var orders_path_base = "#{facility_orders_path(current_facility)}";

%h2= @product

%h3= t(".administrative_reservations")

%p
  = link_to t(".add_admin_reservation"),
    new_facility_instrument_reservation_path,
    class: "btn-add"

  - if current_ability.can?(:create, OfflineReservation)
    - if @product.offline?
      = link_to t(".bring_instrument_online"),
        facility_instrument_bring_online_path(current_facility, @product),
        method: :put, class: "btn-add"
    - elsif @product.has_alert?
      = link_to t(".deactivate_instrument_alert"),
        facility_instrument_alert_path(current_facility, @product),
        method: :delete, class: "btn-add"
    - else
      = link_to t(".mark_instrument_offline"),
        new_facility_instrument_offline_reservation_path(current_facility, @product),
        class: "btn-add"
      = link_to t(".setup_instrument_alert"),
        new_facility_instrument_alert_path(current_facility, @product),
        class: "btn-add"

  = render_view_hook "after_offline_toggle"

- if @product.has_alert?
  %p.alert.alert-warning= t(".instrument_alert_is_active", note: @product.alert.note)

- if @admin_reservations.empty?
  %p.notice= t(".no_upcoming_admin_reservations")
- else
  - if @product.offline?
    %p.alert.alert-danger= t(".instrument_is_offline")

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th
        %th= Reservation.human_attribute_name(:type)
        %th= Reservation.model_name.human
        %th= Reservation.human_attribute_name(:category)
        %th= Reservation.human_attribute_name(:admin_note)
    %tbody
      - @admin_reservations.each do |reservation|
        %tr
          - if reservation.admin_removable?
            %td
              = link_to t("shared.remove"),
                facility_instrument_reservation_path(current_facility, @product, reservation),
                confirm: t("shared.confirm_message"),
                method: :delete

            %td= reservation.class.model_name.human

            %td
              = link_to reservation,
                facility_instrument_reservation_edit_admin_path(current_facility, @product, reservation)

            %td= reservation_category_label(reservation)
            %td= reservation.admin_note

          - else
            %td
            %td= reservation.class.model_name.human
            %td
              = link_to reservation, edit_facility_instrument_offline_reservation_path(current_facility, @product, reservation)
            %td= reservation_category_label(reservation)
            %td= reservation.admin_note

%h3= t(".reservations_calendar")

#overlay
  #spinner
    #hide
      #calendar
