- product = @instrument || @service || @item || @bundle
= f.input :url_name, :input_html => { :value => link_to(send("facility_#{product.class.name.downcase}_url", current_facility, product), send("facility_#{product.class.name.downcase}_url", current_facility, product))}

- if SettingsHelper::feature_on? :product_specific_contacts
  = f.input :email

= f.input :description, :input_html => { :class => 'wysiwyg' }

- unless product.is_a?(Bundle)
  - if SettingsHelper.feature_on? :recharge_accounts
    = f.input :facility_account, :label => t('shared.product_manage.label.deposit'), :input_html => { :value => product.facility_account.account_number + (product.facility_account.is_active? ? '' : ' (inactive)') }

  = f.input :initial_order_status
  = f.input :requires_approval
= f.input :is_archived
= f.input :is_hidden
