- product = @instrument || @service || @item || @bundle
%li
  %label= t('shared.product_manage.label.url')
  = link_to send("facility_#{product.class.name.downcase}_url", current_facility, product), send("facility_#{product.class.name.downcase}_url", current_facility, product)
%li
  %label= t('shared.product_manage.label.description')
  .wysiwyg= product.description
- unless product.is_a?(Bundle)
  - if SettingsHelper.feature_on? :recharge_accounts
    %li
      %label= t('shared.product_manage.label.deposit')
      =h product.facility_account.account_number + (product.facility_account.is_active? ? '' : ' (inactive)')
  %li
    %label= t('shared.product_manage.label.initial_status')
    =h product.initial_order_status.name
  %li
    %label= t('shared.product_manage.label.requires_approval')
    =h product.requires_approval? ? 'Yes' : 'No'
%li
  %label= t('shared.product_manage.label.inactive')
  =h product.is_archived? ? 'Yes' : 'No'
%li
  %label= t('shared.product_manage.label.hidden')
  =h product.is_hidden? ? 'Yes' : 'No'
