= f.input :name, :hint => t('shared.product_details_fields.name', :field => f.object.class.name.downcase)

- url_name_hint = begin send("facility_#{f.object.class.name.downcase}_url", current_facility, f.object) rescue send("facility_#{f.object.class.name.downcase}_url", current_facility, 'url-name') end
= f.input :url_name, :label => 'URL Name', :hint => url_name_hint, :as => :string

- if SettingsHelper.feature_on? :product_specific_contacts
  = f.input :contact_email, :hint => t('shared.product_details_fields.contact_email', :facility_email => current_facility.email)

= f.text_area :description, :class => 'editor', :hint => t('shared.product_details_fields.description')

- unless f.object.is_a?(Bundle)
  - if SettingsHelper.feature_on? :recharge_accounts
    = f.input :facility_account_id, :collection => current_facility.facility_accounts.active.collect {|fa| [ fa, fa.id ] }, :hint => t('shared.product_details_fields.deposit_account.instruct'), :include_blank => false
    -# TODO
    %p= link_to t('shared.product_details_fields.deposit_account.add'), :facility_facility_accounts
  - if SettingsHelper.feature_on? :expense_accounts
    = f.input :account, :hint => t('shared.product_details_fields.account')
  = f.input :initial_order_status_id, :collection => OrderStatus.initial_statuses(current_facility).collect {|cf| [cf.name_with_level, cf.id] }, :hint => t('shared.product_details_fields.initial_order_status'), :include_blank => false
  = f.input :requires_approval, :as => :boolean, :label => false, :inline_label => t('shared.product_details_fields.requires_approval')

= f.input :is_archived, :as => :boolean, :label => false, :inline_label => t('shared.product_details_fields.is_archived')
= f.input :is_hidden,   :as => :boolean, :label => false, :inline_label => t('shared.product_details_fields.is_hidden', :field => f.object.class.name.downcase)
