%li
  = f.label :name, nil, :class => 'require'
  %p.instruction= t 'shared.product_details_fields.name', :field => f.object.class.name.downcase
  = f.text_field :name
%li
  = f.label :url_name, 'URL Name', :class => 'require'
  - if f.object.url_name && f.object.url_name.length > 0 && !f.object.errors[:url_name]
    %p.instruction= send("facility_#{f.object.class.name.downcase}_url", current_facility, f.object)
  - else
    %p.instruction= send("facility_#{f.object.class.name.downcase}_url", current_facility, 'url-name')
  = f.text_field :url_name
- if SettingsHelper.feature_on? :product_specific_contacts
  %li 
    = f.label :contact_email
    %p.instruction= t 'shared.product_details_fields.contact_email', :facility_email => current_facility.email
    = f.text_field :contact_email
%li
  = f.label :description
  %p.instruction= t('shared.product_details_fields.description')
  = f.text_area :description, :cols => 80, :rows => 8, :class => 'editor'
- unless f.object.is_a?(Bundle)
  - if SettingsHelper.feature_on? :recharge_accounts
    %li
      = f.label :facility_account_id, t('shared.product_details_fields.deposit_account.label')
      %p.instruction= t('shared.product_details_fields.deposit_account.instruct')
      = f.select :facility_account_id, current_facility.facility_accounts.active.collect {|fa| [ fa, fa.id ] }
      = link_to t('shared.product_details_fields.deposit_account.add'), :facility_facility_accounts
  - if SettingsHelper.feature_on? :expense_accounts
    %li
      =f.label :account, nil, :class => 'require'
      %p.instruction= t('shared.product_details_fields.account')
      = f.text_field :account, :size => 10, :maxLength => 5
  %li
    = f.label :initial_order_status_id
    %p.instruction= t('shared.product_details_fields.initial_order_status')
    = f.collection_select(:initial_order_status_id, OrderStatus.initial_statuses(current_facility), :id, :name_with_level)
  %li
    = f.check_box :requires_approval
    %b= t('shared.product_details_fields.requires_approval')
%li
  = f.check_box :is_archived
  %b= t('shared.product_details_fields.is_archived')
%li
  = f.check_box :is_hidden
  %b=t 'shared.product_details_fields.is_hidden', :field => f.object.class.name.downcase
