#menu_billing
  %ul.menu_accordion
    %li.sub_menu
      .icon
      Transactions
      %ul
        %li= link_to 'All Transactions',       facility_transactions_path, :class => (sidenav_tab == 'transactions' ? 'active' : '')
        %li= link_to t("facility_notifications.index.head"),     facility_notifications_path, :class => (sidenav_tab == 'notifications' ? 'active' : '')
        %li= link_to t('facility_notifications.in_review.head'),       facility_notifications_in_review_path, :class => (sidenav_tab == 'in_review' ? 'active' : '')

    - if manageable_facilities.count == 1
      -# non-billing admin
      %li= link_to t('facility_accounts.accounts_receivable.head'), facility_accounts_receivable_path, :class => (sidenav_tab == "#{current_facility.url_name}_accounts_receivable" ? 'active' : '')
      %li= link_to Account.model_name.human.pluralize,              facility_accounts_path, :class => (sidenav_tab == 'accounts' ? 'active' : '')

    - else
      -# user managing billing for multiple facilities
      %li.sub_menu
        .icon
        = t('facility_accounts.accounts_receivable.head')
        %ul
          - manageable_facilities.each do |facility|
            %li= link_to facility.name, facility_accounts_receivable_path(facility), :class => (sidenav_tab == "#{facility.url_name}_accounts_receivable" ? 'active' : '')
      %li.sub_menu
        .icon
        = Account.model_name.human.pluralize
        %ul
          - manageable_facilities.each do |facility|
            %li= link_to facility.name, facility_accounts_path(facility), :class => (sidenav_tab == "#{facility.url_name}_accounts" ? 'active' : '')

    %li.sub_menu
      .icon
      = Journal.model_name.human.pluralize
      %ul
        %li= link_to t_create_model(Journal),         new_facility_journal_path, :class => (sidenav_tab == 'new_journal' ? 'active' : '')
        %li= link_to t_manage_models(Journal),        facility_journals_path, :class => (sidenav_tab == 'journals' ? 'active' : '')
    - manageable_facilities.each do |current_facility|
      %li.sub_menu
        .icon
        #{current_facility.name} #{Statement.model_name.human.pluralize}
        %ul
          %li= link_to t_create_models(Statement),      new_facility_statement_path(current_facility), :class => (sidenav_tab == 'statements' ? 'active' : '')
          %li= link_to t("facility_statements.index.head"),      facility_statements_path(current_facility), :class => (sidenav_tab == 'statement_history' ? 'active' : '')
          .break
          %li= link_to t("facility_accounts.credit_cards.head"),    credit_cards_facility_accounts_path(current_facility), :class => (sidenav_tab == 'credit_cards' ? 'active' : '')
          %li= link_to t("facility_accounts.purchase_orders.head"), purchase_orders_facility_accounts_path(current_facility), :class => (sidenav_tab == 'purchase_orders' ? 'active' : '')
