- n_new     = current_facility.order_details.new_or_inprocess.length
- n_review  = current_facility.order_details.reject{|od| !od.problem_order?}.length
- n_dispute = current_facility.order_details.in_dispute.length
%ul.tabs
  %li.first= link_to "New / In Process (#{n_new})", facility_orders_path, { :class => secondary_tab == 'new' ? 'active' : nil }
  - if current_user.manager_of?(current_facility)
    %li= link_to "Problem Orders (#{n_review})", show_problems_facility_orders_path, { :class => secondary_tab == 'problem' ? 'active' : nil }
    %li= link_to "Disputed (#{n_dispute})", disputed_facility_orders_path, { :class => secondary_tab == 'disputed' ? 'active' : nil }