%ul.nav.nav-tabs
  = tab t(".details"), facility_account_path(current_facility, @account), (secondary_tab == "details")
  -# TODO: use a feature flag here instead
  - if @account.statements.any? && current_ability.can?(:statements, @account)
    = tab text("admin.shared.tabnav_payment_method.statements"), facility_account_statements_path(current_facility, @account), (secondary_tab == "statements")
  = tab t(".members"), facility_account_members_path(current_facility, @account), (secondary_tab == "members")
  - if current_ability.can?(:orders, @account)
    = tab t(".orders"), facility_account_orders_path(current_facility, @account), (secondary_tab == "orders")
  - if show_account_facilities_tab?(current_ability, @account)
    = tab Facility.model_name.human(count: :other), edit_facility_account_account_facility_joins_path(current_facility, @account), (secondary_tab == "facilities")
