%ul.nav.nav-tabs
  = tab t('shared.tabnav_users.details'), facility_user_path(current_facility, @user), (secondary_tab == 'details')
  = tab t('shared.tabnav_users.orders'), facility_user_orders_path(current_facility, @user),  (secondary_tab == 'orders')
  = tab t('shared.tabnav_users.reservations'), facility_user_reservations_path(current_facility, @user),  (secondary_tab == 'reservations')
  = tab t('shared.tabnav_users.accounts'), facility_user_accounts_path(current_facility, @user),  (secondary_tab == 'accounts')
  = tab t('shared.tabnav_users.instruments'), facility_user_instruments_path(current_facility, @user),  (secondary_tab == 'instruments')
