%ul.nav.nav-tabs
  = tab t(".details"),
    facility_user_path(current_facility, @user),
    secondary_tab == "details"

  - if current_ability.can?(:show, Order)
    = tab t(".orders"),
      facility_user_orders_path(current_facility, @user),
      secondary_tab == "orders"

  - if current_ability.can?(:index, OrderDetail) # The controller authorizes against OrderDetail, not Reservation
    = tab t(".reservations"),
      facility_user_reservations_path(current_facility, @user),
      secondary_tab == "reservations"

  - if current_ability.can?(:index, Account)
    = tab t(".accounts"),
      facility_user_accounts_path(current_facility, @user),
      secondary_tab == "accounts"

  - if current_ability.can?(:access_list, User) && current_facility.single_facility?
    = tab t(".access_list"),
      facility_user_access_list_path(current_facility, @user),
      secondary_tab == "access_list"

  - if ResearchSafetyCertificate.any?
    = tab text("views.user_research_safety_certifications.tab"), facility_user_user_research_safety_certifications_path(current_facility, @user), secondary_tab == "user_certificates"

  = render_view_hook "after", secondary_tab: secondary_tab
