- product = @instrument || @service || @item || @bundle || @product
- return nil if product.nil? || product.id.nil?
%ul.nav.nav-tabs
  = tab "Details", send("manage_facility_#{product.class.name.downcase}_path", current_facility, product), (secondary_tab == 'details')
  - if product.is_a?(Instrument)
    = tab 'Scheduling', facility_instrument_schedule_rules_path(current_facility, product), (secondary_tab == 'schedule_rules')
  - if product.requires_approval?
    = tab 'Users', facility_instrument_users_path(current_facility, product), (secondary_tab == 'users')
  - if product.requires_approval? && product.is_a?(Instrument)
    = tab ProductAccessGroup.model_name.human.pluralize, facility_instrument_product_access_groups_path(current_facility, product), (secondary_tab == 'restriction_levels')
  - if product.is_a?(Bundle)
    = tab 'Bundled Products', facility_bundle_bundle_products_path(current_facility, product), (secondary_tab == 'products')
  - else
    - if can? :index, PricePolicy
      = tab 'Pricing', send("facility_#{product.class.name.downcase}_price_policies_path", current_facility, product), (secondary_tab == 'pricing_rules')
  - if product.is_a?(Instrument)
    = tab 'Restrictions', send("edit_facility_price_group_product_path", current_facility, product), (secondary_tab == 'restrictions')
    = tab 'Reservations', facility_instrument_schedule_path(current_facility, product), (secondary_tab == 'reservations')
  = tab 'Docs', upload_product_file_path(current_facility, product.parameterize, product.url_name, :file_type => 'info'), (secondary_tab == 'documentation')
  - if product.is_a?(Service)
    = tab 'Order Forms', product_survey_path(current_facility, product.parameterize, product.url_name), (secondary_tab == 'surveys')
  - if product.respond_to?(:reservations)
    = tab 'Accessories', facility_product_product_accessories_path(current_facility, product), (secondary_tab == 'accessories')
