- n_new     = current_facility.order_details.new_or_inprocess.reservations.count
- n_review  = current_facility.order_details.reservations.reject{|od| !od.problem_order?}.count
- n_dispute = current_facility.order_details.reservations.in_dispute.count
%ul.tabs
  %li.first= link_to "New / In Process (#{n_new})", facility_reservations_path, { :class => secondary_tab == 'new' ? 'active' : nil }
  - if current_user.manager_of?(current_facility)
    %li= link_to "Problem Reservations (#{n_review})", show_problems_facility_reservations_path, { :class => secondary_tab == 'problem' ? 'active' : nil }
    %li= link_to "Disputed (#{n_dispute})", disputed_facility_reservations_path, { :class => secondary_tab == 'disputed' ? 'active' : nil }
