= content_for :h1 do
  = current_facility

= content_for :tabnav do
  = render partial: "admin/shared/tabnav_order"

  #bulk-import
    %h2= text(".h2")
    - link = link_to text("download_link_here"), "#{root_path}templates/bulk_import_template.csv"
    = html("instructions", importable_products: OrderRowImporter.importable_products, optional_fields: OrderRowImporter.optional_fields, link: link)
    = simple_form_for [:facility, @order_import], html: { multipart: true } do |f|
      .well.well-small#bulk-import-fields
        .pull-right
          = link_to text("download_link"), "#{root_path}templates/bulk_import_template.csv", id: "bulk-import-template"
        = f.file_field :upload_file
        = html("upload_file_hint")
        = f.input :fail_on_error, inline_label: text("fail_on_error"), label: false, hint: html("fail_on_error_hint")
        = f.input :send_receipts, inline_label: text("send_receipts"), label: false, hint: text("send_receipts_hint")
      %label
        = text("send_report_to")
        = text_field_tag :report_recipient, @current_user.email
      = submit_tag text("submit"), class: ["btn", "btn-primary"], data: { disable_with: text("submit") }

- if @order_imports.any?
  %h3= text("history.head")
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= OrderImport.human_attribute_name(:created_at)
        %th= OrderImport.human_attribute_name(:creator)
        %th= OrderImport.human_attribute_name(:processed_at)
        %th= OrderImport.human_attribute_name(:error_file)
    %tbody
      - @order_imports.each do |order_import|
        %tr
          %td= l(order_import.created_at, format: :usa)
          %td= order_import.creator
          %td
            - if order_import.processed?
              = l(order_import.processed_at, format: :usa)
            - else
              = text("in_process")
          %td
            - if order_import.error_file_present?
              = link_to order_import.error_file.name, error_report_facility_order_import_path(current_facility, order_import)

  %p= will_paginate(@order_imports)
