.updated_values{:style => 'display: none'}
  .date_start= human_datetime(@date_start, :date_only => true)
  .date_end= human_datetime(@date_end, :date_only => true)
%table.table.table-striped.table-hover
  %thead
    %tr
      - @headers.each_with_index do |heading, i|
        - if i < (@label_columns || 1)
          %th= heading
        - else
          %th.currency= heading
  = render :partial => 'report_rows'

= will_paginate @rows
