= content_for :head_content do
  :javascript
    window.activeTab = #{@selected_index || 0}

= content_for :h1 do
  = current_facility

%p.error#error-msg

= modelless_form_for url: request.fullpath, remote: true, html: { id: "refresh-form", class: "reports-form" }, defaults: { required: false } do |f|
  %ul.inline.options#filter
    = render "report_controls", form: f

  %ul#control.reportForm.inline.reportForm__downloads
    %li
      = link_to t("reports.export.export"), "#", id: "export"
    %li
      - if can?(:export_all, Reports::ReportsController)
        = link_to t("reports.export.raw"),
          export_csv_report_path,
          class: "js--exportRaw"
        = hidden_field_tag :email, current_user.email, class: "js--exportRawEmailField"

  %div#tabs
    = render "report_tabs"
