= content_for :head_content do
  = stylesheet_link_tag 'reports'
  = render :partial => 'reports/report_head'
  :javascript
    $(function() {
      initReportsUI(#{@selected_index});
    });

= content_for :h1 do
  =h current_facility

%p.error#error-msg

= form_tag request.fullpath, :remote => true, :id => 'refresh-form'  do
  %ul#filter.options
    %li
      %label &nbsp;
      = select_tag :date_range_field, options_for_select(TransactionSearch::DATE_RANGE_FIELDS, @date_range_field)
    %li
      %label Start Date
      = text_field_tag :date_start, human_datetime(@date_start, :date_only => true), :class => 'datepicker'
    %li
      %label End Date
      = text_field_tag :date_end, human_datetime(@date_end, :date_only => true), :class => 'datepicker'

    = render :partial => 'report_controls'

  %ul#control.options
    %li
      = link_to 'Export', '#', :id => 'export'
    %li
      - if controller_name == 'general_reports' && can?(:export_all, ReportsController)
        - attrs={ :id => 'export-all' }
        = link_to 'Export All', '#', attrs

  %div#tabs
    = render :partial => 'report_tabs'




