= content_for :head_content do
  :javascript
    window.activeTab = #{@selected_index || 0}

= content_for :h1 do
  =h current_facility

%p.error#error-msg

= modelless_form_for :url => request.fullpath, :remote => true, :html => { :id => 'refresh-form', :class => 'reports-form' }, :defaults => { :required => false }  do |f|
  %ul.inline.options#filter
    = render :partial => 'report_controls', :locals => { :form => f }

  %ul#control.options.inline
    %li
      = link_to t('reports.export.export'), '#', :id => 'export'
    %li
      - if controller_name == 'general_reports' && can?(:export_all, ReportsController)
        = link_to t('reports.export.raw'), '#', :id => 'export-all'

  %div#tabs
    = render :partial => 'report_tabs'




