.modal-header
  = modal_close_button
  %h3 Accessories Entry
= form_tag order_order_detail_accessories_path(@order, @order_detail), :remote => request.xhr?, 'data-type' => 'html', :id => 'accessory-form', :class => :pick_accessories_form do |f|
  .modal-body
    %p= t('product_accessories.pick_accessories.instruct')

    %table
      - @order_details.each do |od|
        %tr{:class => ['accessory-row', "scaling-#{od.class.name.demodulize.underscore}"]}
          %td
            = check_box_tag "accessories[#{od.product.id}][enabled]", true, od.enabled?
            = label_tag "accessories[#{od.product_id}][enabled]", "#{od.product.to_s} (#{t("product_accessories.type.#{od.scaling_type}")})"
          %td= text_field_tag "accessories[#{od.product.id}][quantity]", od.quantity, :size => 3, :disabled => !od.quantity_editable?, :class => od.quantity_as_time? ? 'timeinput' : '', data: { :always_disabled => !od.quantity_editable? }

        - if od.errors.any?
          %tr
            %td{:colspan => 2, :class => 'errors'}= od.errors.full_messages.join('<br/>').html_safe
  .modal-footer
    = submit_tag 'Add Accessories', :class => 'btn btn-primary'
    = modal_cancel_button
