- if modal?
  .modal-header
    = modal_close_button
    %h3= t("product_accessories.pick_accessories.title")
  = render "form"
- else
  = content_for :h1 do
    = @order_detail.facility
  %h2= @order_detail.product

  %h3= t("product_accessories.pick_accessories.title")

  .container.not-in-modal
    .row
      .span6
        = render "form"
