<!DOCTYPE html>
%html
  %head
    = render "/shared/head"
  %body{ class: SettingsHelper.feature_on?(:use_manage) && manage_mode? ? "manage-mode" : "" }
    %header
      = render "/shared/acting_as"
      = render_view_hook("banner")
      = render "/shared/header"
    %nav
      = render "/shared/nav"
    = render "/shared/breadcrumb", breadcrumb: yield(:breadcrumb)
    #content
      .container
        .row
          .span12
            %h1= yield :h1
            = yield :tabnav
            = render partial: "shared/flashes"

            = yield
    %footer
      = render "/shared/footer"
