<!DOCTYPE html>
%html{lang: "en"}
  %head
    = render "/shared/head"
  %body{ class: SettingsHelper.feature_on?(:use_manage) && manage_mode? ? "manage-mode" : "" }
    %header
      = render "/shared/acting_as"
      = render_view_hook("banner")
      = yield(:banner)
      = render "/shared/header"
    %nav
      = render "/shared/nav"
    = render "/shared/breadcrumb", breadcrumb: yield(:breadcrumb)
    #content{ role: "main" }
      .container
        .row
          .span12
            %h1= yield :h1
            = yield :tabnav
            = render partial: "shared/flashes"
            - unless Rails.env.production?
              .global-alert-banner= "Warning: you are on staging!"
            = yield
    %footer
      = render "/shared/footer"
