<!DOCTYPE html>
%html
  %head
    = render :partial => '/shared/head'
  %body
    %header
      = render :partial => '/shared/acting_as'
      = render :partial => '/shared/header'
    %nav
      = render :partial => '/shared/nav'
    = render :partial => '/shared/breadcrumb', :locals => { :breadcrumb => yield(:breadcrumb) }
    #content
      .container
        .row
          .span12
            %h1= yield :h1
            = yield :tabnav
            - if flash[:error]
              .alert.alert-error= flash[:error]
            - if flash[:notice]
              .alert.alert-info= flash[:notice]
            - if flash[:info]
              .alert.alert-info= flash[:info]
            - if flash[:alert]
              .alert.alert-error= flash[:alert]
            = yield
    %footer
      = render :partial => '/shared/footer'
