<!DOCTYPE html>
%html{lang: "en"}
  %head
    = render :partial => '/shared/head'
  %body{ class: SettingsHelper.feature_on?(:use_manage) && manage_mode? ? "manage-mode" : "" }
    %header
      = render :partial => '/shared/header'
    %nav
      = render :partial => '/shared/nav'
    = render :partial => '/shared/breadcrumb', :locals => { :breadcrumb => yield(:breadcrumb) }
    #content{role: "main"}
      .container
        .row
          .span12
            %h1= yield :h1
            %h2= yield :h2
            = render partial: 'shared/flashes'
        = yield :top_block
        .row
          .span12
            = yield
    %footer
      = render :partial => '/shared/footer'
