<!DOCTYPE html>
%html
  %head
    = render :partial => '/shared/head'
  %body
    %header
      = render :partial => '/shared/header'
    %nav
      = render :partial => '/shared/nav'
    #content
      .container
        .row
          .span12
            %h1= yield :h1
        .row
          .span9.pull-right
            - if flash[:error]
              %p.error= flash[:error]
            - if flash[:notice]
              %p.notice= flash[:notice]
            - if flash[:info]
              %p.info= flash[:info]
            = yield :tabnav
            = yield
          .span3.pull-left
            #sidebar
              = yield :sidebar
    %footer
      = render :partial => '/shared/footer'
