- can_edit_accounts = SettingsHelper.feature_on? :edit_accounts

- if can_edit_accounts
  %p
    = link_to t(".add_access"),
      current_facility ? user_search_facility_account_account_users_path(current_facility, @account) : user_search_account_path(@account),
      class: "btn-add"

%table.table.table-striped.table-hover
  %thead
    %tr
      - if can_edit_accounts
        %th
      %th= t(".th.name")
      %th= t(".th.email")
      %th= t(".th.role")
      = render_view_hook("member_table_headers")

  %tbody
    - @account.account_users.active.each do |au|
      %tr
        - if can_edit_accounts
          %td
            - if au.user != @account.owner_user
              = link_to t(".remove_access"),
                open_or_facility_path("account_account_user", @account, au),
                data: { confirm: t("shared.confirm_message") },
                method: :delete

        %td= Users::NamePresenter.new(au.user, username_label: true).full_name
        %td= au.user.email
        
        %td= AccountUserPresenter.new(au).localized_role
        = render_view_hook("member_table_columns", account_user: au)
