= content_for :h1 do
  = t_my(Account)

- if @account_users.empty?
  %p.notice= text("empty", models: Account.model_name.human.pluralize.downcase)
- else
  %table.table.table-striped.table-hover.js--responsive_table
    %thead
      %tr
        %th= Account.model_name.human
        %th= Account.human_attribute_name(:description)
        %th= Account.human_attribute_name(:type)
        %th= Account.human_attribute_name(:expires_at)
        %th= Facility.model_name.human
        %th.hidden
        %th.hidden
    %tbody
      - show_th=false
      - @account_users.each do |au|
        - account = au.account
        %tr
          - if au.can_administer? || session_user.administrator?
            %td= link_to account.account_number_to_s, account_path(account)
          - else
            %td= account.account_number_to_s
          %td= account.description_to_s
          %td= account.type_string
          %td= human_date(account.expires_at)
          %td= account.per_facility? ? account.facilities.alphabetized.join(", ") : html("all", inline: true)
          - if au.can_administer? || session_user.administrator?
            - show_th = true
            %td= link_to text("transactions"), transactions_path(search: { accounts: [account] })
            %td= link_to text("members"), account_account_users_path(account)

    - if show_th
      = javascript_tag "$(function(){ $('th.hidden').show(); });"
