= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'details'}
= content_for :h1 do
  = t('.head')

%ul.form
  %li
    %label= t('.label.account')
    =h @account.account_number
  %li
    %label= t('.label.type')
    =h @account.type_string
  %li
    %label= t('.label.description')
    =h @account.description
  %li
    %label= t('.label.expiration')
    = human_datetime(@account.expires_at, :date_only => true)
