= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'details'}
= content_for :h1 do
  = t('.head')

%ul.form
  %li
    %label= t('.label.account')
    = @account.account_number
  = render :partial => 'accounts/account_fields'
  = render :partial => 'accounts/suspend_button'