= content_for :tabnav do
  = render :partial => 'shared/tabnav_account', :locals => {:secondary_tab => 'details'}
= content_for :h1 do
  = t('.head')

= readonly_form_for :account do |f|
  = f.input :account_number
  = f.input :type_string
  = f.input :description
  = f.input :expires_at, :date_only => true

  = render :partial => 'accounts/suspend_button'